Repository MisskeyIO/misskey, pull requests merged in 2023-12, with the labels that each got.

#271 enhance(backend): 検索・ハイライト機能でミュート・ブロックが適用されるように
  packages/backend/src/server/api/endpoints/notes/conversation.ts
  packages/backend/src/server/api/endpoints/notes/featured.ts
  packages/backend/src/server/api/endpoints/notes/search.ts
  packages/backend/src/server/api/endpoints/users/featured-notes.ts
  packages/backend/src/server/api/endpoints/users/get-frequently-replied-users.ts
  packages/backend/test/e2e/users.ts
Labels: packages/backend, packages/backend:test

#277 fix: Filter featured collection
  packages/backend/src/core/NotePiningService.ts
  packages/backend/src/server/ActivityPubServerService.ts
Labels: packages/backend

#278 enhance(backend): ユーザーのリアクションの一覧APIのパフォーマンスの改善
  packages/backend/src/server/api/endpoints/users/reactions.ts
Labels: packages/backend

#280 fix(announcement): お知らせ機能の改善・バグ修正
  packages/backend/src/core/AnnouncementService.ts
  packages/frontend/src/pages/admin/announcements.vue
  packages/frontend/src/pages/announcements.vue
Labels: packages/backend, packages/frontend

#283 enhance(frontend): window.openやaタグにnoopenerオプションをつける
  packages/frontend/src/components/MkGoogle.vue
  packages/frontend/src/components/MkLink.vue
  packages/frontend/src/components/MkPageWindow.vue
  packages/frontend/src/components/MkVisitorDashboard.vue
  packages/frontend/src/components/global/MkA.vue
  packages/frontend/src/components/global/MkUrl.vue
  packages/frontend/src/pages/admin-file.vue
  packages/frontend/src/pages/admin/queue.vue
  packages/frontend/src/pages/instance-info.vue
  packages/frontend/src/plugin.ts
  packages/frontend/src/scripts/get-note-menu.ts
  packages/frontend/src/ui/_common_/common.ts
Labels: packages/frontend

#289 RedisKVCache で Redis から読み取った値を MemoryKVCache に書き戻す
  packages/backend/src/misc/cache.ts
Labels: packages/backend

#292 Revert "enhance(backend): redisForJobQueue の接続を使い回す (MisskeyIO#268)"
  packages/backend/src/GlobalModule.ts
  packages/backend/src/core/QueueModule.ts
  packages/backend/src/daemons/QueueStatsService.ts
  packages/backend/src/di-symbols.ts
  packages/backend/src/queue/QueueProcessorService.ts
  packages/backend/src/queue/const.ts
Labels: packages/backend

#294 enhance(Email Validation): deep-email-validatorを通ったメアドのみverifymail.ioで確認するように
  packages/backend/src/core/EmailService.ts
Labels: packages/backend

#293 enhance(AD): 表示される広告の選定条件を変更、縦に長いタイプを設定できるように
  packages/backend/src/server/api/endpoints/meta.ts
  packages/frontend/src/components/MkDateSeparatedList.vue
  packages/frontend/src/components/global/MkAd.vue
  packages/frontend/src/pages/admin/ads.vue
  packages/frontend/src/pages/flash/flash.vue
  packages/frontend/src/pages/gallery/post.vue
  packages/frontend/src/pages/page.vue
  packages/misskey-js/src/autogen/types.ts
Labels: packages/backend, packages/frontend, packages/misskey-js

#288 feat: 通報のカテゴリー化
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/migration/1703250468098-abuse-user-report-category.js
  packages/backend/src/core/entities/AbuseUserReportEntityService.ts
  packages/backend/src/models/AbuseUserReport.ts
  packages/backend/src/models/json-schema/abuse-user-report.ts
  packages/backend/src/server/api/endpoints/admin/abuse-user-reports.ts
  packages/backend/src/server/api/endpoints/users/report-abuse.ts
  packages/frontend/src/components/MkAbuseReport.vue
  packages/frontend/src/components/MkAbuseReportWindow.vue
Labels: packages/backend, packages/frontend

#295 Merge upstream 2023.12.2
  CHANGELOG.md
  locales/bn-BD.yml
  locales/id-ID.yml
  locales/ko-GS.yml
  locales/ko-KR.yml
  locales/zh-TW.yml
  package.json
  packages/frontend/src/pages/channel.vue
  packages/frontend/src/pages/channels.vue
  packages/frontend/src/pages/search.note.vue
  packages/frontend/src/pages/search.user.vue
Labels: packages/frontend

#296 fix(EmojiPicker): 投稿フォームで絵文字ボタンを押すと従来通り絵文字ピッカーのウィンドウが開くように
  packages/frontend/src/components/MkEmojiPickerWindow.vue
  packages/frontend/src/components/MkPostForm.vue
  packages/frontend/src/os.ts
  packages/frontend/src/pages/admin/announcements.vue
Labels: packages/frontend

#298 AbuseUserReport の category を camelCase にする & notLike で通報されないようにする
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/migration/1703749589203-abuse-user-report-category-camel-case.js
  packages/backend/src/server/api/endpoints/admin/abuse-user-reports.ts
  packages/backend/src/server/api/endpoints/users/report-abuse.ts
  packages/frontend/src/components/MkAbuseReportWindow.vue
  packages/misskey-js/src/autogen/apiClientJSDoc.ts
  packages/misskey-js/src/autogen/endpoint.ts
  packages/misskey-js/src/autogen/entities.ts
  packages/misskey-js/src/autogen/models.ts
  packages/misskey-js/src/autogen/types.ts
Labels: packages/backend, packages/frontend, packages/misskey-js

#299 fix(MkPostForm): 絵文字ピッカーを開くと入力ができなくなる問題を修正
  packages/frontend/src/components/MkPostForm.vue
Labels: packages/frontend

#302 デバッグ用だと思われる console.log を削除
  packages/backend/src/server/api/stream/channels/hybrid-timeline.ts
Labels: packages/backend

#301 enhance(Queue): ジョブキューの設定の項目をキューごとに分ける
  packages/backend/src/config.ts
  packages/backend/src/core/QueueModule.ts
  packages/backend/src/daemons/QueueStatsService.ts
  packages/backend/src/queue/QueueProcessorService.ts
  packages/backend/src/queue/const.ts
Labels: packages/backend

#305 フロントエンドの各種アセットの出力ファイル名に Misskey 本体のバージョンを含めるようにする
  packages/backend/src/server/web/views/base.pug
  packages/frontend/src/scripts/code-highlighter.ts
  packages/frontend/vite.config.ts
  scripts/build-assets.mjs
Labels: packages/backend, packages/frontend

#307 fix(Queue): InboxやDeliverキューにdataフィールドが空のジョブが登録されないように
  packages/backend/src/core/QueueService.ts
  packages/backend/src/server/ActivityPubServerService.ts
Labels: packages/backend

#308 spec(Queue): lockDurationとstalledIntervalを増やす
  packages/backend/src/queue/QueueProcessorService.ts
  packages/backend/src/queue/const.ts
Labels: packages/backend
