Repository MisskeyIO/misskey, pull requests merged in 2023-08, with the labels that each got.

#130 spec: カスタム絵文字のライセンスの項目を複数行テキストに
  packages/frontend/src/pages/emoji-edit-dialog.vue
Labels: packages/frontend

#131 fix: 非ログイン状態でお知らせの読み込みができない問題の修正
  packages/backend/src/server/api/endpoints/announcements.ts
Labels: packages/backend

#132 feat: 通報の即時解決機能の改善
  packages/backend/src/server/api/endpoints/admin/abuse-report-resolver/create.ts
  packages/backend/src/server/api/endpoints/admin/abuse-report-resolver/update.ts
  packages/frontend/src/components/MkAbuseReportResolver.vue
  packages/frontend/src/pages/admin/abuses.vue
Labels: packages/backend, packages/frontend

#135 enhance(frontend): 2FAのバックアップコードに番号を付けて複数個だと分かりやすくする
  packages/frontend/src/pages/settings/2fa.vue
Labels: packages/frontend

#137 enhance(backend): use RSA 3072bit
  packages/backend/src/core/CreateSystemUserService.ts
  packages/backend/src/core/SignupService.ts
Labels: packages/backend

#139 fix: devビルドでURLプレビューに失敗した場合に起こる不具合を修正
  packages/frontend/src/components/MkUrlPreview.vue
  packages/frontend/src/components/MkUrlPreviewPopup.vue
Labels: packages/frontend

#136 feat: 指定のロールはリアクションに使えないカスタム絵文字
  locales/en-US.yml
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/migration/1691317808362-customemoji-restricted-roles.js
  packages/backend/src/core/CustomEmojiService.ts
  packages/backend/src/core/ReactionService.ts
  packages/backend/src/core/entities/EmojiEntityService.ts
  packages/backend/src/models/entities/Emoji.ts
  packages/backend/src/models/json-schema/emoji.ts
  packages/backend/src/queue/processors/ImportCustomEmojisProcessorService.ts
  packages/backend/src/server/api/endpoints/admin/emoji/add.ts
  packages/backend/src/server/api/endpoints/admin/emoji/update.ts
  packages/frontend/src/components/MkEmojiPicker.vue
  packages/frontend/src/pages/emoji-edit-dialog.vue
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/src/entities.ts
Labels: packages/backend, packages/frontend, packages/misskey-js

#142 fix(frontend, misskey-js): make block switch work
  packages/frontend/src/pages/instance-info.vue
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/src/api.types.ts
  packages/misskey-js/src/entities.ts
Labels: packages/frontend, packages/misskey-js

#144 fix(frontend): webkit-text-size-adjustを100%に固定する
  packages/frontend/src/style.scss
Labels: packages/frontend

#145 fix: muteがapiからのuser list timeline取得で機能しない
  packages/backend/src/server/api/endpoints/notes/user-list-timeline.ts
Labels: packages/backend

#146 fix: word mute is not applied to sub note
  packages/frontend/src/components/MkNoteSub.vue
Labels: packages/frontend

#147 fix: たまに`./src/_boot_.ts`がトランスパイルされない問題を修正
  packages/frontend/package.json
  packages/frontend/vite.config.ts
  pnpm-lock.yaml
Labels: packages/frontend

#148 fix: 一部のタイプ定義を認識できない問題を修正
  packages/backend/tsconfig.json
  packages/frontend/tsconfig.json
  packages/misskey-js/tsconfig.json
  packages/sw/tsconfig.json
Labels: packages/backend, packages/frontend, packages/sw, packages/misskey-js

#151 feat: お知らせの確認待機時間・優先順位機能
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/migration/1691649257651-refine-announcement.js
  packages/backend/migration/1691657412740-refine-announcement-2.js
  packages/backend/src/core/AnnouncementService.ts
  packages/backend/src/core/CoreModule.ts
  packages/backend/src/core/entities/AnnouncementEntityService.ts
  packages/backend/src/core/entities/UserEntityService.ts
  packages/backend/src/misc/json-schema.ts
  packages/backend/src/models/entities/Announcement.ts
  packages/backend/src/models/json-schema/announcement.ts
  packages/backend/src/server/api/endpoints/admin/announcements/create.ts
  packages/backend/src/server/api/endpoints/admin/announcements/delete.ts
  packages/backend/src/server/api/endpoints/admin/announcements/list.ts
  packages/backend/src/server/api/endpoints/admin/announcements/update.ts
  packages/backend/src/server/api/endpoints/announcements.ts
  packages/backend/src/server/api/endpoints/i/read-announcement.ts
  packages/backend/src/server/api/stream/types.ts
  packages/backend/test/e2e/users.ts
  packages/backend/test/unit/AnnouncementService.ts
  packages/frontend/src/account.ts
  packages/frontend/src/boot/main-boot.ts
  packages/frontend/src/components/MkAnnouncementDialog.stories.impl.ts
  packages/frontend/src/components/MkAnnouncementDialog.vue
  packages/frontend/src/components/MkNoteDetailed.vue
  packages/frontend/src/components/MkNoteHeader.vue
  packages/frontend/src/components/MkNoteSimple.vue
  packages/frontend/src/components/MkSwitch.vue
  packages/frontend/src/components/MkUserAnnouncementEditDialog.vue
  packages/frontend/src/components/MkUserAnnouncementModal.vue
  packages/frontend/src/pages/admin/announcements.vue
  packages/frontend/src/pages/announcements.vue
  packages/frontend/src/pages/emoji-edit-dialog.vue
  packages/frontend/src/pages/gallery/index.vue
  packages/frontend/src/pages/user-info.vue
  packages/frontend/src/ui/_common_/announcements.vue
  packages/frontend/src/ui/deck.vue
  packages/frontend/src/ui/universal.vue
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/src/api.types.ts
  packages/misskey-js/src/entities.ts
Labels: packages/backend, packages/backend:test, packages/frontend, packages/misskey-js

#153 enhance: ダイアログのお知らせをアーカイブした時イベントが発生しないように・アーカイブされたお知らせをわかりやすく
  packages/backend/src/core/AnnouncementService.ts
  packages/frontend/src/pages/admin/announcements.vue
Labels: packages/backend, packages/frontend

#156 Graceful Shutdown
  Dockerfile
  package.json
  packages/backend/src/boot/index.ts
  packages/backend/src/server/ServerService.ts
  packages/backend/src/server/api/StreamingApiServerService.ts
Labels: packages/backend

#158 perf: 起動時にMeiliSearchの設定を更新しないようにする
  packages/backend/src/core/SearchService.ts
Labels: packages/backend

#149 feat: パスキーに対応
  locales/de-DE.yml
  locales/en-US.yml
  locales/es-ES.yml
  locales/id-ID.yml
  locales/index.d.ts
  locales/it-IT.yml
  locales/ja-JP.yml
  locales/ja-KS.yml
  locales/ko-KR.yml
  locales/ru-RU.yml
  locales/th-TH.yml
  locales/zh-CN.yml
  locales/zh-TW.yml
  packages/backend/migration/1691959191872-passkey-support.js
  packages/backend/package.json
  packages/backend/src/boot/common.ts
  packages/backend/src/core/CoreModule.ts
  packages/backend/src/core/TwoFactorAuthenticationService.ts
  packages/backend/src/core/WebAuthnService.ts
  packages/backend/src/daemons/DaemonModule.ts
  packages/backend/src/daemons/JanitorService.ts
  packages/backend/src/di-symbols.ts
  packages/backend/src/models/RepositoryModule.ts
  packages/backend/src/models/entities/AttestationChallenge.ts
  packages/backend/src/models/entities/UserSecurityKey.ts
  packages/backend/src/models/index.ts
  packages/backend/src/postgres.ts
  packages/backend/src/server/api/SigninApiService.ts
  packages/backend/src/server/api/endpoints/i/2fa/key-done.ts
  packages/backend/src/server/api/endpoints/i/2fa/register-key.ts
  packages/backend/src/server/api/endpoints/i/2fa/register.ts
  packages/backend/src/server/api/endpoints/i/2fa/remove-key.ts
  packages/backend/src/server/api/endpoints/i/2fa/unregister.ts
  packages/backend/src/server/api/endpoints/i/2fa/update-key.ts
  packages/backend/test/e2e/2fa.ts
  packages/frontend/package.json
  packages/frontend/src/components/MkSignin.vue
  packages/frontend/src/pages/settings/2fa.vue
  packages/frontend/src/scripts/2fa.ts
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/src/entities.ts
  pnpm-lock.yaml
Labels: packages/backend, packages/backend:test, packages/frontend, packages/misskey-js

#159 enhance: シグナルを受け、DB接続が切れたら確実に終了させる
  packages/backend/src/GlobalModule.ts
  packages/backend/src/boot/index.ts
Labels: packages/backend
