Repository MisskeyIO/misskey, pull requests merged in 2023-07, with the labels that each got.

#91 ServerStatsService を無効化
  packages/backend/src/boot/common.ts
Labels: packages/backend

#92 perf(backend): allow get for some endpoints
  packages/backend/src/server/api/endpoints/get-online-users-count.ts
  packages/backend/src/server/api/endpoints/hashtags/trend.ts
  packages/frontend/src/pages/admin/overview.stats.vue
  packages/frontend/src/widgets/WidgetOnlineUsers.vue
  packages/frontend/src/widgets/WidgetTrends.vue
Labels: packages/backend, packages/frontend

#93 JSON.parse の回数を削減する
  packages/backend/src/server/api/StreamingApiServerService.ts
Labels: packages/backend

#94 af3258dc79488b73435819e7799eb1515f15a6aa の一部を取り込む
  packages/backend/assets/avatar.png
  packages/backend/src/daemons/ServerStatsService.ts
  packages/backend/src/server/ServerService.ts
  packages/backend/src/server/api/endpoints/server-info.ts
  packages/frontend/src/widgets/server-metric/index.vue
Labels: packages/backend, packages/frontend

#97 perf(backend): use mutex for nsfw model loading
  packages/backend/package.json
  packages/backend/src/core/AiService.ts
  pnpm-lock.yaml
Labels: packages/backend

#98 外部サーバーへの配送が行われない問題を修正 (たぶん)
  packages/backend/src/core/QueueService.ts
Labels: packages/backend

#99 deliverMany に content の null チェックを追加
  packages/backend/src/core/QueueService.ts
Labels: packages/backend

#101 feat: MeilisearchにIndexするノートの範囲を設定できるように
  .config/example.yml
  packages/backend/src/config.ts
  packages/backend/src/core/SearchService.ts
Labels: packages/backend

#104 spec(misskey-host): MisskeyHostのカスタム
  .config/example.yml
  .github/workflows/docker-host.yml
  .github/workflows/reviewer_lottery.yml
  .github/workflows/storybook.yml
  packages/backend/src/config.ts
  packages/backend/src/core/DriveService.ts
  packages/backend/src/core/S3Service.ts
  packages/backend/src/core/activitypub/models/ApImageService.ts
  packages/backend/src/models/entities/Meta.ts
  packages/backend/src/server/api/endpoints/admin/meta.ts
  packages/backend/src/server/api/endpoints/admin/update-meta.ts
  packages/backend/src/server/api/endpoints/meta.ts
  packages/backend/test/unit/S3Service.ts
  packages/backend/test/unit/activitypub.ts
  packages/frontend/src/pages/admin/index.vue
  packages/frontend/src/pages/admin/object-storage.vue
  packages/frontend/src/pages/admin/settings.vue
  packages/frontend/src/router.ts
Labels: packages/backend, packages/backend:test, packages/frontend

#106 userannouncement v2
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/migration/1688647797135-userannouncement.js
  packages/backend/src/models/entities/Announcement.ts
  packages/backend/src/server/api/endpoints/admin/announcements/create.ts
  packages/backend/src/server/api/endpoints/admin/announcements/list.ts
  packages/backend/src/server/api/endpoints/admin/announcements/update.ts
  packages/backend/src/server/api/endpoints/announcements.ts
  packages/frontend/src/boot/main-boot.ts
  packages/frontend/src/components/MkNewUserAnnouncementModal.vue
  packages/frontend/src/components/MkUserAnnouncementModal.vue
  packages/frontend/src/pages/admin/announcements.vue
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/src/entities.ts
Labels: packages/backend, packages/frontend, packages/misskey-js

#103 feat: メディアタイムラインを輸入
  locales/en-US.yml
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/src/server/api/stream/channels/global-timeline.ts
  packages/backend/src/server/api/stream/channels/home-timeline.ts
  packages/backend/src/server/api/stream/channels/hybrid-timeline.ts
  packages/backend/src/server/api/stream/channels/local-timeline.ts
  packages/frontend/src/components/MkTimeline.vue
  packages/frontend/src/pages/timeline.vue
  packages/frontend/src/ui/deck/deck-store.ts
  packages/frontend/src/ui/deck/tl-column.vue
  packages/frontend/src/widgets/WidgetTimeline.vue
Labels: packages/backend, packages/frontend

#107 feat: 個人宛てお知らせ機能
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/migration/1688647797135-userannouncement.js
  packages/backend/src/core/entities/UserEntityService.ts
  packages/backend/src/models/entities/Announcement.ts
  packages/backend/src/server/api/endpoints/admin/announcements/create.ts
  packages/backend/src/server/api/endpoints/admin/announcements/list.ts
  packages/backend/src/server/api/endpoints/admin/announcements/update.ts
  packages/backend/src/server/api/endpoints/announcements.ts
  packages/backend/src/server/api/endpoints/i/read-announcement.ts
  packages/frontend/src/boot/main-boot.ts
  packages/frontend/src/components/MkNewUserAnnouncementModal.vue
  packages/frontend/src/components/MkUserAnnouncementModal.vue
  packages/frontend/src/pages/admin/announcements.vue
  packages/frontend/src/pages/announcements.vue
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/src/api.types.ts
  packages/misskey-js/src/entities.ts
Labels: packages/backend, packages/frontend, packages/misskey-js

#109 fix(backend): Use BullMQAdapter for bull-board
  packages/backend/src/server/web/ClientServerService.ts
Labels: packages/backend

#112 fix(frontend): scroll error
  packages/frontend/src/components/MkPagination.vue
  packages/frontend/src/nirax.ts
Labels: packages/frontend

#110 fix: モバイル表示のときページ下部がナビゲーションバーに隠れる問題を修正
  packages/frontend/src/style.scss
  packages/frontend/src/ui/universal.vue
Labels: packages/frontend

#111 feat: プレビューの表示状態を記憶するように
  packages/frontend/src/components/MkPostForm.vue
  packages/frontend/src/store.ts
Labels: packages/frontend

#115 Revert "refactor: 可読性のため一部で`Array.prototype.at`を使うように"
  packages/backend/src/core/chart/core.ts
  packages/backend/src/misc/prelude/array.ts
  packages/backend/src/queue/processors/CleanRemoteFilesProcessorService.ts
  packages/backend/src/queue/processors/DeleteAccountProcessorService.ts
  packages/backend/src/queue/processors/DeleteDriveFilesProcessorService.ts
  packages/backend/src/queue/processors/ExportBlockingProcessorService.ts
  packages/backend/src/queue/processors/ExportFavoritesProcessorService.ts
  packages/backend/src/queue/processors/ExportFollowingProcessorService.ts
  packages/backend/src/queue/processors/ExportMutingProcessorService.ts
  packages/backend/src/queue/processors/ExportNotesProcessorService.ts
  packages/backend/src/server/ActivityPubServerService.ts
  packages/backend/test/utils.ts
  packages/frontend/src/components/MkDrive.vue
  packages/frontend/src/components/MkMiniChart.vue
  packages/frontend/src/components/MkPageWindow.vue
  packages/frontend/src/components/MkPagination.vue
  packages/frontend/src/scripts/array.ts
  packages/frontend/src/widgets/server-metric/cpu-mem.vue
  packages/frontend/src/widgets/server-metric/net.vue
Labels: packages/backend, packages/backend:test, packages/frontend

#116 feat: 絵文字の検索結果をもっと多めに表示するように
  packages/frontend/src/components/MkEmojiPicker.vue
Labels: packages/frontend

#117 13.14.2
  CHANGELOG.md
  locales/cs-CZ.yml
  locales/en-US.yml
  locales/es-ES.yml
  locales/fr-FR.yml
  locales/hu-HU.yml
  locales/id-ID.yml
  locales/it-IT.yml
  locales/ja-KS.yml
  locales/pt-PT.yml
  locales/ru-RU.yml
  locales/th-TH.yml
  locales/uz-UZ.yml
  locales/zh-CN.yml
  package.json
  packages/backend/package.json
  packages/backend/src/core/DownloadService.ts
  packages/backend/src/core/FileInfoService.ts
  packages/backend/src/server/api/ApiCallService.ts
  packages/backend/src/server/api/endpoints/admin/invite/list.ts
  packages/backend/src/server/api/endpoints/admin/show-users.ts
  packages/backend/src/server/api/endpoints/federation/instances.ts
  packages/backend/src/server/api/endpoints/hashtags/search.ts
  packages/backend/src/server/api/endpoints/notes/polls/recommendation.ts
  packages/backend/src/server/api/endpoints/users.ts
  packages/backend/src/server/api/endpoints/users/recommendation.ts
  packages/backend/src/server/api/endpoints/users/search.ts
  packages/backend/src/server/web/views/gallery-post.pug
  packages/backend/test/e2e/note.ts
  packages/frontend/src/components/MkImgWithBlurhash.vue
  packages/frontend/src/components/MkMediaList.vue
  packages/frontend/src/components/MkModal.vue
  packages/frontend/src/components/MkNote.vue
  packages/frontend/src/components/MkNoteDetailed.vue
  packages/frontend/src/components/MkNoteSimple.vue
  packages/frontend/src/components/MkPostForm.vue
  packages/frontend/src/components/MkTagCloud.vue
  packages/frontend/src/components/MkTimeline.vue
  packages/frontend/src/pages/custom-emojis-manager.vue
  packages/frontend/src/pages/page.vue
  packages/frontend/src/pages/settings/general.vue
  packages/frontend/src/pages/settings/preferences-backups.vue
  packages/frontend/src/scripts/aiscript/api.ts
  packages/frontend/src/scripts/emoji-base.ts
  packages/frontend/src/scripts/select-file.ts
  pnpm-lock.yaml
Labels: packages/backend, packages/backend:test, packages/frontend

#118 feat: お知らせの優先順位機能
  locales/en-US.yml
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/migration/1690463372775-announcement-display-order.js
  packages/backend/src/models/entities/Announcement.ts
  packages/backend/src/server/api/endpoints/admin/announcements/create.ts
  packages/backend/src/server/api/endpoints/admin/announcements/list.ts
  packages/backend/src/server/api/endpoints/admin/announcements/update.ts
  packages/backend/src/server/api/endpoints/announcements.ts
  packages/frontend/src/pages/admin/announcements.vue
  packages/frontend/src/pages/announcements.vue
  packages/frontend/src/ui/visitor.vue
Labels: packages/backend, packages/frontend

#102 enhance(backend): Misskey.ioのロゴを適用
  packages/backend/assets/LICENSE_MisskeyHQ
  packages/backend/assets/apple-touch-icon.png
  packages/backend/assets/favicon.ico
  packages/backend/assets/favicon.png
  packages/backend/assets/icons/192.png
  packages/backend/assets/icons/512.png
  packages/backend/assets/splash.png
Labels: packages/backend

#123 Revert 11066
  packages/frontend/src/components/MkPagination.vue
  packages/frontend/src/nirax.ts
  packages/frontend/src/pages/admin/abuses.vue
  packages/frontend/src/pages/custom-emojis-manager.vue
Labels: packages/frontend

#125 fix(deploy): 誤ったファイルがキャッシュされ新しいバージョンにアップデートされない問題の修正
  gulpfile.mjs
  packages/backend/src/server/web/views/base.pug
  packages/backend/src/server/web/views/bios.pug
  packages/backend/src/server/web/views/cli.pug
  packages/backend/src/server/web/views/flush.pug
Labels: packages/backend

#127 fix: 通報の通知メールを発送しないように
  packages/backend/src/queue/processors/ReportAbuseProcessorService.ts
Labels: packages/backend

#129 fix: Productionビルドで通報の即時解決の一覧が見えない問題を修正
  packages/backend/src/queue/processors/ReportAbuseProcessorService.ts
  packages/frontend/src/pages/admin/abuses.vue
Labels: packages/backend, packages/frontend

#121 feat: 2FAのバックアップコードの実装
  locales/ar-SA.yml
  locales/bn-BD.yml
  locales/de-DE.yml
  locales/en-US.yml
  locales/es-ES.yml
  locales/fr-FR.yml
  locales/id-ID.yml
  locales/index.d.ts
  locales/it-IT.yml
  locales/ja-JP.yml
  locales/ja-KS.yml
  locales/ko-KR.yml
  locales/pl-PL.yml
  locales/ru-RU.yml
  locales/sk-SK.yml
  locales/th-TH.yml
  locales/uk-UA.yml
  locales/vi-VN.yml
  locales/zh-CN.yml
  locales/zh-TW.yml
  packages/backend/migration/1690569881926-user-2fa-backup-codes.js
  packages/backend/src/core/entities/UserEntityService.ts
  packages/backend/src/models/entities/UserProfile.ts
  packages/backend/src/models/json-schema/user.ts
  packages/backend/src/server/api/SigninApiService.ts
  packages/backend/src/server/api/endpoints/i/2fa/done.ts
  packages/backend/src/server/api/endpoints/i/2fa/unregister.ts
  packages/backend/test/e2e/2fa.ts
  packages/backend/test/e2e/users.ts
  packages/frontend/.storybook/fakes.ts
  packages/frontend/src/components/MkSignin.vue
  packages/frontend/src/pages/settings/2fa.vue
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/src/entities.ts
Labels: packages/backend, packages/backend:test, packages/frontend, packages/misskey-js
