Repository MisskeyIO/misskey, pull requests merged in 2023-11, with the labels that each got.

#204 絵文字ピッカーのカテゴリのフォルダ分けの条件の変更・長いカテゴリ名の表示調整・セクションの背景の追加
  packages/frontend/src/components/MkEmojiPicker.section.vue
  packages/frontend/src/components/MkEmojiPicker.vue
  packages/frontend/src/scripts/emojilist.ts
Labels: packages/frontend

#206 feat(frontend): スワイプやボタンでタイムラインを再読込する機能 (misskey-dev#12113)
  locales/en-US.yml
  locales/index.d.ts
  locales/ja-JP.yml
  packages/frontend/src/boot/main-boot.ts
  packages/frontend/src/components/MkNotifications.vue
  packages/frontend/src/components/MkPageWindow.vue
  packages/frontend/src/components/MkPagination.vue
  packages/frontend/src/components/MkPullToRefresh.vue
  packages/frontend/src/components/MkTimeline.vue
  packages/frontend/src/pages/settings/general.vue
  packages/frontend/src/pages/timeline.vue
  packages/frontend/src/store.ts
  packages/frontend/src/stream.ts
  packages/frontend/src/ui/_common_/stream-indicator.vue
  packages/frontend/src/ui/universal.vue
Labels: packages/frontend

#207 fix(backend): ジョブキュー管理画面の認証を回避できる問題を修正
  packages/backend/src/server/web/ClientServerService.ts
Labels: packages/backend

#208 enhance(frontend): X (formally known as Twitter)
  packages/frontend/package.json
  packages/frontend/src/components/MkUrlPreview.vue
  packages/frontend/test/url-preview.test.ts
  pnpm-lock.yaml
Labels: packages/frontend

#209 enhance(frontend): improve pull to refresh
  packages/frontend/src/components/MkPageWindow.vue
  packages/frontend/src/components/MkPullToRefresh.vue
  packages/frontend/src/ui/universal.vue
Labels: packages/frontend

#214 URLプレビューのサムネイルを隠す機能を追加
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/migration/1699284486293-urlPreviewDenyList.js
  packages/backend/src/models/entities/Meta.ts
  packages/backend/src/server/api/endpoints/admin/meta.ts
  packages/backend/src/server/api/endpoints/admin/update-meta.ts
  packages/backend/src/server/web/UrlPreviewService.ts
  packages/frontend/src/components/MkUrlPreview.vue
  packages/frontend/src/pages/admin/moderation.vue
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/src/entities.ts
Labels: packages/backend, packages/frontend, packages/misskey-js

#215 fix(frontend/MkNotifications): 通知が複数回表示されてしまう問題を修正
  packages/frontend/src/components/MkNotifications.vue
Labels: packages/frontend

#220 enhance(frontend): デッキのカラムからリロードできる機能を追加 (misskey-dev#12274)
  packages/frontend/src/components/MkNotifications.vue
  packages/frontend/src/ui/deck/antenna-column.vue
  packages/frontend/src/ui/deck/channel-column.vue
  packages/frontend/src/ui/deck/column.vue
  packages/frontend/src/ui/deck/direct-column.vue
  packages/frontend/src/ui/deck/list-column.vue
  packages/frontend/src/ui/deck/mentions-column.vue
  packages/frontend/src/ui/deck/notifications-column.vue
  packages/frontend/src/ui/deck/role-timeline-column.vue
  packages/frontend/src/ui/deck/tl-column.vue
Labels: packages/frontend

#221 enhance(frontend): シェーダーコンパイルに失敗した場合詳細なエラー内容を出力できるように
  packages/frontend/src/components/MkAnimBg.vue
Labels: packages/frontend

#222 feat(moderation): モデレーターがユーザーのアイコンもしくはバナー画像を未設定状態にできる機能を追加
  locales/en-US.yml
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/src/server/api/EndpointsModule.ts
  packages/backend/src/server/api/endpoints.ts
  packages/backend/src/server/api/endpoints/admin/delete-user-avatar.ts
  packages/backend/src/server/api/endpoints/admin/delete-user-banner.ts
  packages/frontend/src/pages/user-info.vue
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/src/api.types.ts
Labels: packages/backend, packages/frontend, packages/misskey-js

#218 enhance(frontend): PullToRefreshの改善
  packages/frontend/src/components/MkPullToRefresh.vue
Labels: packages/frontend

#224 fix(frontend): モバイル環境でタイムラインの上段メニューに空のボタンが追加されている問題を修正
  packages/frontend/src/pages/timeline.vue
Labels: packages/frontend

#223 enhance(frontend): 絵文字ピッカーで長いカテゴリの名前を前の部分から省略して表示するように
  packages/frontend/src/components/MkEmojiPicker.vue
Labels: packages/frontend

#227 enhance(frontend): URLプレビューのサムネイルを隠す機能のblur効果がはみ出てしまう問題を修正
  packages/frontend/src/components/MkUrlPreview.vue
Labels: packages/frontend

#228 Revert "enhance(frontend): 絵文字ピッカーで長いカテゴリの名前を前の部分から省略して表示するように (MisskeyIO#223)
  packages/frontend/src/components/MkEmojiPicker.vue
Labels: packages/frontend

#230 enhance(frontend): アップデート情報のリンクを意味のあるものにする
  packages/frontend/src/components/MkUpdated.vue
Labels: packages/frontend

#233 fix migration
  packages/backend/migration/1700415938358-createdAt-default.js
Labels: packages/backend

#234 fix startup
  packages/backend/src/boot/entry.ts
Labels: packages/backend

#236 fix(frontend/deck): コラムのリロードボタンが2個存在する問題を修正
  packages/frontend/src/ui/deck/column.vue
Labels: packages/frontend

#237 fix(backend): ロールタイムラインのFTLが正しいRedisサーバーに保存されない問題を修正
  packages/backend/src/core/RoleService.ts
Labels: packages/backend

#239 enhance(backend): ANY()をやめる
  packages/backend/src/core/QueryService.ts
  packages/backend/src/server/api/endpoints/drive/files/attached-notes.ts
  packages/backend/src/server/api/endpoints/hashtags/users.ts
  packages/backend/src/server/api/endpoints/notes/mentions.ts
  packages/backend/src/server/api/endpoints/notes/search-by-tag.ts
Labels: packages/backend

#241 fix(frontend): リモートのユーザーにロールを設定できるように
  packages/frontend/src/pages/admin-user.vue
Labels: packages/frontend

#242 enhance(word-mute): ワードミュートの制限を文字数から設定項目数に
  packages/backend/src/server/api/endpoints/i/update.ts
  packages/frontend/src/pages/admin/roles.editor.vue
  packages/frontend/src/pages/admin/roles.vue
Labels: packages/backend, packages/frontend

#243 enhance(ad): 広告掲載ページにてfilterをわかりやすく (misskey-dev#12385)
  packages/backend/src/server/api/endpoints/admin/ad/list.ts
  packages/frontend/src/pages/admin/ads.vue
Labels: packages/backend, packages/frontend

#244 enhance(frontend/PullToRefresh): コンポーネントがDOMから消えた時点でタッチ操作などのコールバック関数が止まるように
  packages/frontend/src/components/MkPullToRefresh.vue
Labels: packages/frontend

#248 fix(frontend): ユーザーページのファイル一覧のセンシティブとして設定されたファイルの表示がおかしい問題を修正
  packages/frontend/src/pages/user/index.files.vue
Labels: packages/frontend

#246 Merge misskey-dev/develop
  CHANGELOG.md
  locales/en-US.yml
  locales/index.d.ts
  locales/ja-JP.yml
  package.json
  packages/backend/migration/1700303245007-supportVerifyMailApi.js
  packages/backend/package.json
  packages/backend/src/core/AntennaService.ts
  packages/backend/src/core/EmailService.ts
  packages/backend/src/core/entities/NotificationEntityService.ts
  packages/backend/src/models/Meta.ts
  packages/backend/src/models/json-schema/announcement.ts
  packages/backend/src/models/json-schema/channel.ts
  packages/backend/src/models/json-schema/clip.ts
  packages/backend/src/models/json-schema/drive-file.ts
  packages/backend/src/models/json-schema/drive-folder.ts
  packages/backend/src/models/json-schema/federation-instance.ts
  packages/backend/src/models/json-schema/flash.ts
  packages/backend/src/models/json-schema/following.ts
  packages/backend/src/models/json-schema/gallery.ts
  packages/backend/src/models/json-schema/note.ts
  packages/backend/src/models/json-schema/notification.ts
  packages/backend/src/models/json-schema/page.ts
  packages/backend/src/models/json-schema/user.ts
  packages/backend/src/server/api/EndpointsModule.ts
  packages/backend/src/server/api/endpoints.ts
  packages/backend/src/server/api/endpoints/admin/unset-user-avatar.ts
  packages/backend/src/server/api/endpoints/admin/unset-user-banner.ts
  packages/backend/src/server/api/endpoints/admin/update-meta.ts
  packages/backend/src/server/api/endpoints/antennas/notes.ts
  packages/backend/src/types.ts
  packages/frontend/package.json
  packages/frontend/src/components/MkPagePreview.vue
  packages/frontend/src/pages/admin-user.vue
  packages/frontend/src/pages/admin/external-services.vue
  packages/frontend/src/pages/admin/security.vue
  packages/frontend/src/pages/settings/preferences-backups.vue
  packages/frontend/src/scripts/sound.ts
  packages/frontend/src/widgets/WidgetJobQueue.vue
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/package.json
  packages/misskey-js/src/api.types.ts
  packages/misskey-js/src/consts.ts
  packages/misskey-js/src/entities.ts
  packages/sw/package.json
  pnpm-lock.yaml
Labels: packages/backend, packages/frontend, packages/sw, packages/misskey-js

#250 enhance(frontend): ユーザープロフィールページのノートタブで常にチャンネルのノートが含まれるように
  packages/frontend/src/pages/user/index.timeline.vue
Labels: packages/frontend

#252 fix(backend): ユーザータイムラインのファイル付きフィルター機能がリプライやチャンネルの投稿にも適用されるように
  packages/backend/src/core/NoteCreateService.ts
  packages/backend/src/server/api/endpoints/users/notes.ts
Labels: packages/backend

#253 Merge misskey-dev/develop
  packages/backend/src/server/api/endpoints/admin/meta.ts
  packages/frontend/src/components/MkUrlPreview.vue
  packages/frontend/test/url-preview.test.ts
Labels: packages/backend, packages/frontend

#255 fix(backend): 追加認証の必要なAPIの認証失敗がサーバーエラーとして返されてしまう問題を修正
  packages/backend/src/server/api/endpoints/i/2fa/key-done.ts
  packages/backend/src/server/api/endpoints/i/2fa/register-key.ts
  packages/backend/src/server/api/endpoints/i/2fa/register.ts
  packages/backend/src/server/api/endpoints/i/2fa/remove-key.ts
  packages/backend/src/server/api/endpoints/i/2fa/unregister.ts
  packages/backend/src/server/api/endpoints/i/change-password.ts
  packages/backend/src/server/api/endpoints/i/delete-account.ts
  packages/backend/src/server/api/endpoints/i/update-email.ts
Labels: packages/backend

#257 enhance(frontend): ブラウザの互換性向上
  packages/frontend/src/scripts/nyaize.ts
  packages/frontend/src/workers/test-webgl2.ts
Labels: packages/frontend

#258 feature(backend): ユーザー統計表示機能の復活
  packages/backend/src/server/api/EndpointsModule.ts
  packages/backend/src/server/api/endpoints.ts
  packages/backend/src/server/api/endpoints/users/stats.ts
  packages/frontend/src/pages/settings/account-stats.vue
  packages/frontend/src/pages/settings/other.vue
  packages/frontend/src/router.ts
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/src/api.types.ts
Labels: packages/backend, packages/frontend, packages/misskey-js

#260 Merge misskey-dev/develop
  .github/workflows/get-api-diff.yml
  .github/workflows/report-api-diff.yml
  CHANGELOG.md
  locales/en-US.yml
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/generate_api_json.js
  packages/backend/migration/1700383825690-hard-mute.js
  packages/backend/package.json
  packages/backend/src/core/MfmService.ts
  packages/backend/src/core/entities/UserEntityService.ts
  packages/backend/src/models/UserProfile.ts
  packages/backend/src/models/json-schema/user.ts
  packages/backend/src/server/api/SignupApiService.ts
  packages/backend/src/server/api/endpoints/federation/show-instance.ts
  packages/backend/src/server/api/endpoints/i/update.ts
  packages/backend/src/server/api/openapi/gen-spec.ts
  packages/backend/src/server/api/openapi/schemas.ts
  packages/backend/test/e2e/users.ts
  packages/frontend/src/components/MkAutocomplete.vue
  packages/frontend/src/components/MkCodeEditor.vue
  packages/frontend/src/components/MkNote.vue
  packages/frontend/src/components/MkNotes.vue
  packages/frontend/src/components/MkNotifications.vue
  packages/frontend/src/components/global/MkTime.vue
  packages/frontend/src/pages/about-misskey.vue
  packages/frontend/src/pages/settings/mute-block.vue
  packages/frontend/src/pages/settings/mute-block.word-mute.vue
  packages/frontend/src/pages/user/index.files.vue
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/src/api.types.ts
  packages/misskey-js/src/entities.ts
Labels: packages/backend, packages/backend:test, packages/frontend, packages/misskey-js

#261 enhance(frontend): 絵文字のオートコンプリートのアルゴリズムの改善
  packages/frontend/src/components/MkAutocomplete.vue
Labels: packages/frontend

#263 notes/featured で結果がなかった場合にエラーになる可能性がある問題を修正
  packages/backend/src/server/api/endpoints/notes/featured.ts
Labels: packages/backend

#265 Merge misskey-dev/develop
  .devcontainer/devcontainer.json
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/src/server/api/endpoints/channels/timeline.ts
  packages/backend/src/server/api/endpoints/notes/create.ts
  packages/backend/src/server/api/endpoints/users/notes.ts
  packages/frontend/src/components/MkAbuseReport.vue
  packages/frontend/src/components/MkReactionsViewer.reaction.vue
  packages/frontend/src/pages/admin/roles.vue
  packages/frontend/src/pages/settings/general.vue
  packages/frontend/src/pages/user/index.vue
  packages/frontend/src/pages/user/raw.vue
  packages/frontend/src/store.ts
Labels: packages/backend, packages/frontend

#264 feat: ワードミュートに該当したノートを非表示にできるように
  locales/en-US.yml
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/migration/1700383825690-hard-mute.js
  packages/backend/migration/1700880703631-revert-hard-mute.js
  packages/backend/src/core/entities/UserEntityService.ts
  packages/backend/src/models/UserProfile.ts
  packages/backend/src/models/json-schema/user.ts
  packages/backend/src/server/api/endpoints/i/update.ts
  packages/backend/test/e2e/users.ts
  packages/frontend/src/components/MkNote.vue
  packages/frontend/src/components/MkNotes.vue
  packages/frontend/src/components/MkNotifications.vue
  packages/frontend/src/pages/settings/general.vue
  packages/frontend/src/pages/settings/mute-block.vue
  packages/frontend/src/pages/settings/mute-block.word-mute.vue
  packages/frontend/src/store.ts
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/src/api.types.ts
  packages/misskey-js/src/entities.ts
Labels: packages/backend, packages/backend:test, packages/frontend, packages/misskey-js

#267 Hotfix for 2023.11.1-host
  CHANGELOG.md
  locales/ja-JP.yml
  packages/backend/src/core/MfmService.ts
  packages/backend/src/server/api/SignupApiService.ts
  packages/backend/src/server/api/endpoints/channels/timeline.ts
  packages/backend/src/server/api/endpoints/notes/featured.ts
  packages/backend/src/server/api/endpoints/users/notes.ts
  packages/frontend/src/components/MkCodeEditor.vue
  packages/frontend/src/components/global/MkTime.vue
  packages/frontend/src/pages/user/index.files.vue
  packages/frontend/src/scripts/nyaize.ts
  packages/frontend/src/workers/test-webgl2.ts
Labels: packages/backend, packages/frontend

#268 redisForJobQueue の接続を使い回す
  packages/backend/src/GlobalModule.ts
  packages/backend/src/core/QueueModule.ts
  packages/backend/src/daemons/QueueStatsService.ts
  packages/backend/src/di-symbols.ts
  packages/backend/src/queue/QueueProcessorService.ts
  packages/backend/src/queue/const.ts
Labels: packages/backend

#272 redisForJobQueue の maxRetriesPerRequest を null にする
  packages/backend/src/GlobalModule.ts
Labels: packages/backend
