Repository MisskeyIO/misskey, pull requests merged in 2023-10, with the labels that each got.

#171 Extend slow query threshold to reduce logs
  packages/backend/src/postgres.ts
Labels: packages/backend

#170 ブラーをデフォルトでfalse
  packages/frontend/src/store.ts
Labels: packages/frontend

#174 Hot-fix: Write-back value in memory when it's available in redis
  packages/backend/src/misc/cache.ts
Labels: packages/backend

#175 表示言語が設定されてない場合、ブラウザの言語と関係なく日本語にする
  packages/backend/src/server/web/boot.js
  packages/frontend/src/config.ts
  packages/sw/src/scripts/lang.ts
Labels: packages/backend, packages/frontend, packages/sw

#176 Debounce SQL in note pack
  packages/backend/src/core/entities/NoteEntityService.ts
  packages/backend/src/misc/loader.ts
  packages/backend/test/unit/misc/loader.ts
Labels: packages/backend, packages/backend:test

#177 連合なしアンケートのUpdateがリモートに配信されてしまうのを修正
  packages/backend/src/core/PollService.ts
Labels: packages/backend

#179 NoteEntityService の pack 内で CustomEmojiService の prefetchEmojis を呼ぶ
  packages/backend/src/core/entities/NoteEntityService.ts
Labels: packages/backend

#182 投稿フォームにNSFWガイドラインへの導線を追加
  locales/index.d.ts
  locales/ja-JP.yml
  packages/frontend/src/components/MkInfo.vue
  packages/frontend/src/components/MkPostForm.vue
Labels: packages/frontend

#181 絵文字のSet Lisenceを複数行対応
  packages/frontend/src/components/MkDialog.vue
  packages/frontend/src/os.ts
  packages/frontend/src/pages/custom-emojis-manager.vue
Labels: packages/frontend

#183 ロールタイムラインで renote, reply を pack するように
  packages/backend/src/server/api/stream/channels/role-timeline.ts
Labels: packages/backend

#187 NotesStreamに流す新規ノートは匿名でpackするように
  packages/backend/src/core/NoteCreateService.ts
Labels: packages/backend

#188 ロールのアサインAPIで有効期間が変わった場合は期限だけを更新するように
  packages/backend/src/core/RoleService.ts
  packages/backend/src/server/api/endpoints/admin/roles/assign.ts
  packages/backend/src/server/api/endpoints/admin/roles/unassign.ts
Labels: packages/backend

#185 TLをPush型にする（Write only)
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/migration/1696323464251-user-list-membership.js
  packages/backend/migration/1696373953614-meta-cache-settings.js
  packages/backend/migration/1696807733453-userListUserId.js
  packages/backend/migration/1696808725134-userListUserId-2.js
  packages/backend/src/GlobalModule.ts
  packages/backend/src/config.ts
  packages/backend/src/core/AccountMoveService.ts
  packages/backend/src/core/CoreModule.ts
  packages/backend/src/core/FeaturedService.ts
  packages/backend/src/core/NoteCreateService.ts
  packages/backend/src/core/ReactionService.ts
  packages/backend/src/core/RedisTimelineService.ts
  packages/backend/src/core/UserListService.ts
  packages/backend/src/di-symbols.ts
  packages/backend/src/models/entities/Meta.ts
  packages/backend/src/models/entities/UserListJoining.ts
  packages/backend/src/server/api/endpoints/admin/meta.ts
  packages/backend/src/server/api/endpoints/admin/update-meta.ts
  packages/frontend/src/pages/admin/external-services.vue
  packages/frontend/src/pages/admin/index.vue
  packages/frontend/src/pages/admin/settings.vue
  packages/frontend/src/router.ts
Labels: packages/backend, packages/frontend

#190 5億年かかるマイグレを修正
  packages/backend/migration/1696807733453-userListUserId.js
Labels: packages/backend

#191 fetchInstanceMetadataの処理中にサーバーが強制終了された場合Lockが永遠に解除されない問題を修正
  packages/backend/src/core/FetchInstanceMetadataService.ts
Labels: packages/backend

#194 頻繁にAPリクエストが発生するサーバーに対してfetchInstanceMetadata手動更新が無視される問題を修正
  packages/backend/src/core/FetchInstanceMetadataService.ts
  packages/backend/test/unit/FetchInstanceMetadataService.ts
Labels: packages/backend, packages/backend:test

#195 テストなどにKeyDBを使うように
  .config/docker_example.yml
  .devcontainer/devcontainer.yml
  .devcontainer/docker-compose.yml
  .dockerignore
  .github/workflows/test-backend.yml
  .github/workflows/test-frontend.yml
  .gitignore
  chart/templates/Deployment.yml
  docker-compose.yml.example
  packages/backend/src/core/FeaturedService.ts
  packages/backend/test/docker-compose.yml
Labels: packages/backend, packages/backend:test

#201 fix: 個人カードのemojiがバッテリーになっている (misskey-dev#12190)
  packages/frontend/src/emojilist.json
Labels: packages/frontend

#198 spec(deps): update @simplewebauthn/server to 8.3.5
  packages/backend/package.json
  packages/backend/src/core/WebAuthnService.ts
  pnpm-lock.yaml
Labels: packages/backend

#199 fix(backend): プロフィールの自己紹介欄のMFMを連合するように (misskey-dev#12184)
  packages/backend/src/core/activitypub/ApRendererService.ts
  packages/backend/src/core/activitypub/models/ApPersonService.ts
  packages/backend/src/core/activitypub/type.ts
Labels: packages/backend

#196 feat(frontend): 絵文字ピッカーのカテゴリを多階層フォルダで分類できるように (misskey-dev#12132)
  locales/en-US.yml
  locales/index.d.ts
  locales/ja-JP.yml
  packages/frontend/src/components/MkEmojiPicker.section.vue
  packages/frontend/src/components/MkEmojiPicker.vue
  packages/frontend/src/scripts/emojilist.ts
Labels: packages/frontend

#202 絵文字ピッカーのカテゴリの階層を表示するように・サブカテゴリを絵文字より上に
  packages/frontend/src/components/MkEmojiPicker.section.vue
  packages/frontend/src/components/MkEmojiPicker.vue
Labels: packages/frontend
