Repository MisskeyIO/misskey, pull requests merged in 2024-03, with the labels that each got.

#498 spec(frontend): 非ログイン状態ではセンシティブに設定されたコンテンツを閲覧できないように
  packages/frontend/src/components/MkMediaAudio.vue
  packages/frontend/src/components/MkMediaBanner.vue
  packages/frontend/src/components/MkMediaImage.vue
  packages/frontend/src/components/MkMediaVideo.vue
  packages/frontend/src/components/MkNote.vue
  packages/frontend/src/pages/user/index.files.vue
  packages/frontend/src/pages/welcome.timeline.vue
Labels: packages/frontend

#499 feat: アンテナに保持するノート数をポリシーに追加
  locales/en-US.yml
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/src/core/AntennaService.ts
  packages/backend/src/core/RoleService.ts
  packages/backend/src/models/json-schema/role.ts
  packages/frontend/src/const.ts
  packages/frontend/src/pages/admin/roles.editor.vue
  packages/frontend/src/pages/admin/roles.vue
  packages/misskey-js/src/autogen/types.ts
Labels: packages/backend, packages/frontend, packages/misskey-js

#500 feat: AIによるNSFW検出を無視できるポリシーを追加
  locales/en-US.yml
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/src/core/DriveService.ts
  packages/backend/src/core/RoleService.ts
  packages/backend/src/models/json-schema/role.ts
  packages/frontend/src/const.ts
  packages/frontend/src/pages/admin/roles.editor.vue
  packages/frontend/src/pages/admin/roles.vue
  packages/misskey-js/src/autogen/types.ts
Labels: packages/backend, packages/frontend, packages/misskey-js

#497 spec(frontend): Welcome・AboutページにSponsored byセクションを追加
  README.md
  locales/en-US.yml
  locales/index.d.ts
  locales/ja-JP.yml
  locales/ko-KR.yml
  packages/frontend/src/components/MkVisitorDashboard.vue
  packages/frontend/src/pages/about.vue
Labels: packages/frontend

#496 Bump up version to 2024.3.0-io.0
  package.json
  packages/misskey-js/package.json
Labels: packages/misskey-js

#506 fix(logging): pino-prettyの使用時のメモリ使用量の問題を修正
  packages/backend/src/logger.ts
Labels: packages/backend

#504 fix(frontend): 通知が重複して受信される問題を修正
  packages/frontend/src/components/MkNotifications.vue
Labels: packages/frontend

#505 fix(frontend): 非ログイン状態でもaタグに画像のURLがリンクされている問題を修正
  packages/frontend/src/components/MkMediaImage.vue
Labels: packages/frontend

#503 Merge upstream
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  locales/fr-FR.yml
  packages/backend/src/core/FetchInstanceMetadataService.ts
  packages/backend/test/e2e/2fa.ts
  packages/backend/test/e2e/antennas.ts
  packages/backend/test/e2e/api-visibility.ts
  packages/backend/test/e2e/api.ts
  packages/backend/test/e2e/block.ts
  packages/backend/test/e2e/clips.ts
  packages/backend/test/e2e/drive.ts
  packages/backend/test/e2e/endpoints.ts
  packages/backend/test/e2e/exports.ts
  packages/backend/test/e2e/fetch-resource.ts
  packages/backend/test/e2e/ff-visibility.ts
  packages/backend/test/e2e/move.ts
  packages/backend/test/e2e/mute.ts
  packages/backend/test/e2e/note.ts
  packages/backend/test/e2e/renote-mute.ts
  packages/backend/test/e2e/streaming.ts
  packages/backend/test/e2e/thread-mute.ts
  packages/backend/test/e2e/timelines.ts
  packages/backend/test/e2e/user-notes.ts
  packages/backend/test/e2e/users.ts
  packages/backend/test/unit/AnnouncementService.ts
  packages/backend/test/unit/FetchInstanceMetadataService.ts
  packages/backend/test/unit/RoleService.ts
  packages/backend/test/utils.ts
  packages/frontend/src/components/MkAutocomplete.vue
  packages/frontend/src/components/MkEmojiPicker.section.vue
  packages/frontend/src/components/MkEmojiPicker.vue
  packages/frontend/src/components/MkReactionsViewer.details.vue
  packages/frontend/src/components/global/MkEmoji.vue
  packages/frontend/src/scripts/emojilist.ts
Labels: packages/backend, packages/backend:test, packages/frontend

#507 Bump up version to 2024.3.1-io.0
  package.json
  packages/misskey-js/package.json
Labels: packages/misskey-js

#508 fix(backend): APのURIがローカルかどうかをoriginで比較するように修正
  packages/backend/src/core/RemoteUserResolveService.ts
  packages/backend/src/core/activitypub/ApRendererService.ts
  packages/backend/src/core/activitypub/models/ApNoteService.ts
  packages/backend/src/core/activitypub/models/ApPersonService.ts
  packages/backend/src/core/activitypub/models/ApQuestionService.ts
Labels: packages/backend

#509 Merge upstream
  CHANGELOG.md
  locales/en-US.yml
  locales/index.d.ts
  locales/ja-JP.yml
  locales/ko-KR.yml
  packages/backend/src/@types/fastify.d.ts
  packages/backend/src/core/UserAuthService.ts
  packages/backend/src/core/entities/AnnouncementEntityService.ts
  packages/backend/src/core/entities/DriveFileEntityService.ts
  packages/backend/src/core/entities/NoteEntityService.ts
  packages/backend/src/models/json-schema/note.ts
  packages/backend/src/queue/const.ts
  packages/backend/src/server/api/endpoints/notes/local-timeline.ts
  packages/backend/src/server/api/endpoints/users/reactions.ts
  packages/backend/src/server/web/boot.js
  packages/backend/test/unit/AnnouncementService.ts
  packages/frontend/src/components/MkMediaAudio.vue
  packages/frontend/src/components/MkMediaImage.vue
  packages/frontend/src/components/MkMediaVideo.vue
  packages/frontend/src/components/MkNote.vue
  packages/frontend/src/components/MkNoteDetailed.vue
  packages/frontend/src/components/MkNotification.vue
  packages/frontend/src/components/MkTutorialDialog.Note.vue
  packages/frontend/src/components/MkTutorialDialog.PostNote.vue
  packages/frontend/src/components/MkTutorialDialog.Sensitive.vue
  packages/frontend/src/nirax.ts
  packages/frontend/src/scripts/sound.ts
  packages/frontend/src/scripts/use-note-capture.ts
  packages/frontend/src/style.scss
  packages/frontend/vite.config.local-dev.ts
  packages/misskey-js/src/autogen/types.ts
Labels: packages/backend, packages/backend:test, packages/frontend, packages/misskey-js

#511 update deps
  package.json
  packages/backend/package.json
  packages/frontend/package.json
  packages/misskey-bubble-game/package.json
  packages/misskey-js/generator/package.json
  packages/misskey-js/package.json
  packages/misskey-reversi/package.json
  packages/sw/package.json
  pnpm-lock.yaml
Labels: packages/backend, packages/frontend, packages/sw, packages/misskey-js

#512 enhance(frontend): リプライ・リノート・リアクションの総数を表示するか設定で選べるように
  locales/en-US.yml
  locales/index.d.ts
  locales/ja-JP.yml
  locales/ko-KR.yml
  packages/frontend/src/components/MkNote.vue
  packages/frontend/src/components/MkNoteDetailed.vue
  packages/frontend/src/pages/settings/general.vue
  packages/frontend/src/pages/settings/preferences-backups.vue
  packages/frontend/src/store.ts
Labels: packages/frontend

#513 Bump up version to 2024.3.1-io.1a
  package.json
  packages/misskey-js/package.json
Labels: packages/misskey-js

#516 /_info_card_ から使用していないクエリを削除
  packages/backend/src/server/web/ClientServerService.ts
Labels: packages/backend

#517 アンテナに保持する最大ノート数の設定が機能していない問題を修正
  packages/backend/src/core/AntennaService.ts
Labels: packages/backend

#518 Bump up version to 2024.3.1-io.1c
  package.json
  packages/misskey-js/package.json
Labels: packages/misskey-js

#519 feat(SSO): JWTやSAMLでのSingle Sign-Onの実装
  package.json
  packages/backend/migration/1707697398681-indie-auth-client.js
  packages/backend/migration/1710416761960-single-sign-on.js
  packages/backend/package.json
  packages/backend/src/@types/samlify-xsd-schema-validator.d.ts
  packages/backend/src/di-symbols.ts
  packages/backend/src/logger.ts
  packages/backend/src/models/RepositoryModule.ts
  packages/backend/src/models/SingleSignOnServiceProvider.ts
  packages/backend/src/models/_.ts
  packages/backend/src/postgres.ts
  packages/backend/src/server/ServerModule.ts
  packages/backend/src/server/ServerService.ts
  packages/backend/src/server/api/EndpointsModule.ts
  packages/backend/src/server/api/endpoints.ts
  packages/backend/src/server/api/endpoints/admin/indie-auth/create.ts
  packages/backend/src/server/api/endpoints/admin/indie-auth/delete.ts
  packages/backend/src/server/api/endpoints/admin/indie-auth/list.ts
  packages/backend/src/server/api/endpoints/admin/indie-auth/update.ts
  packages/backend/src/server/api/endpoints/admin/sso/create.ts
  packages/backend/src/server/api/endpoints/admin/sso/delete.ts
  packages/backend/src/server/api/endpoints/admin/sso/list.ts
  packages/backend/src/server/api/endpoints/admin/sso/update.ts
  packages/backend/src/server/oauth/OAuth2ProviderService.ts
  packages/backend/src/server/sso/JWTIdentifyProviderService.ts
  packages/backend/src/server/sso/SAMLIdentifyProviderService.ts
  packages/backend/src/server/web/views/sso-saml-post.pug
  packages/backend/src/server/web/views/sso.pug
  packages/backend/src/types.ts
  packages/frontend/package.json
  packages/frontend/src/pages/admin/security.vue
  packages/frontend/src/pages/sso.vue
  packages/frontend/src/router/definition.ts
  packages/misskey-bubble-game/package.json
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/generator/package.json
  packages/misskey-js/package.json
  packages/misskey-js/src/autogen/apiClientJSDoc.ts
  packages/misskey-js/src/autogen/endpoint.ts
  packages/misskey-js/src/autogen/entities.ts
  packages/misskey-js/src/autogen/types.ts
  packages/misskey-js/src/consts.ts
  packages/misskey-reversi/package.json
  packages/sw/package.json
  pnpm-lock.yaml
Labels: packages/backend, packages/frontend, packages/sw, packages/misskey-js

#520 fix(SSO): MisskeyIO#519 の一部API・データのフォーマットの問題を修正
  packages/backend/src/server/api/endpoints/admin/sso/create.ts
  packages/backend/src/server/api/endpoints/admin/sso/update.ts
  packages/backend/src/server/oauth/OAuth2ProviderService.ts
  packages/backend/src/server/sso/JWTIdentifyProviderService.ts
  packages/backend/src/server/sso/SAMLIdentifyProviderService.ts
  packages/misskey-js/src/autogen/types.ts
Labels: packages/backend, packages/misskey-js

#522 spec(aiscript): Mk:apiの呼び出しにエンドポイントごとのレートリミットを設定
  package.json
  packages/backend/package.json
  packages/frontend/package.json
  packages/frontend/src/scripts/aiscript/api.ts
  packages/frontend/src/scripts/rate-limiter.ts
  packages/misskey-bubble-game/package.json
  packages/misskey-reversi/package.json
  packages/sw/package.json
  pnpm-lock.yaml
Labels: packages/backend, packages/frontend, packages/sw

#523 Complete unicode emoji after last colon (misskey-dev#13384)
  packages/frontend/src/components/MkAutocomplete.vue
  packages/frontend/src/scripts/autocomplete.ts
Labels: packages/frontend

#524 Enhance(frontend): もっと！ボタンでリアクション一覧が開けるように (misskey-dev#12935)
  CHANGELOG.md
  packages/frontend/src/components/MkNote.vue
  packages/frontend/src/components/MkNoteDetailed.vue
  packages/frontend/src/components/MkReactionsViewer.vue
  packages/frontend/src/pages/note.vue
  packages/frontend/src/router/definition.ts
Labels: packages/frontend

#525 fix(SSO): SAML認証が正常に動作しない問題を修正
  packages/backend/package.json
  packages/backend/src/server/api/endpoints/admin/sso/create.ts
  packages/backend/src/server/api/endpoints/admin/sso/list.ts
  packages/backend/src/server/api/endpoints/admin/sso/update.ts
  packages/backend/src/server/sso/SAMLIdentifyProviderService.ts
  packages/backend/src/server/web/views/sso-saml-post.pug
  packages/frontend/src/pages/admin/security.vue
  packages/misskey-js/src/autogen/types.ts
  pnpm-lock.yaml
Labels: packages/backend, packages/frontend, packages/misskey-js

#526 fix(queue): アカウント削除が終わらない問題を修正
  packages/backend/src/queue/processors/DeleteAccountProcessorService.ts
Labels: packages/backend

#527 enhance: タグ検索においてローカルのみやファイル付きを指定できるように
  packages/backend/src/server/api/endpoints/notes/search-by-tag.ts
  packages/frontend/src/pages/tag.vue
  packages/misskey-js/src/autogen/types.ts
Labels: packages/backend, packages/frontend, packages/misskey-js

#528 enhance(OGP): ユーザーやノートのOGPでローカルとリモートユーザーの見分けが付かない問題を修正
  packages/backend/src/server/web/views/note.pug
  packages/backend/src/server/web/views/user.pug
Labels: packages/backend

#529 fix(frontend): ノートの詳細ページのユーザーもしくはチャンネルを遡るとタイムラインの並び順番が逆になる問題を修正
  packages/frontend/src/pages/note.vue
Labels: packages/frontend

#533 Merge upstream
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/src/core/chart/core.ts
  packages/backend/src/server/api/endpoints/flash/create.ts
  packages/frontend/src/boot/main-boot.ts
  packages/frontend/src/pages/flash/flash-edit.vue
  packages/frontend/src/scripts/snowfall-effect.ts
  packages/frontend/src/stream.ts
  packages/misskey-js/src/autogen/types.ts
Labels: packages/backend, packages/frontend, packages/misskey-js

#532 enhance: コンテンツ削除を制限されていてもアカウントの閉鎖ができるように
  locales/en-US.yml
  locales/index.d.ts
  locales/ja-JP.yml
  locales/ko-KR.yml
  packages/backend/src/core/DeleteAccountService.ts
  packages/backend/src/core/QueueService.ts
  packages/backend/src/core/RoleService.ts
  packages/backend/src/core/activitypub/ApInboxService.ts
  packages/backend/src/models/json-schema/role.ts
  packages/backend/src/queue/processors/DeleteAccountProcessorService.ts
  packages/backend/src/queue/types.ts
  packages/backend/src/server/api/EndpointsModule.ts
  packages/backend/src/server/api/SigninApiService.ts
  packages/backend/src/server/api/endpoints.ts
  packages/backend/src/server/api/endpoints/admin/accounts/delete.ts
  packages/backend/src/server/api/endpoints/admin/delete-all-files-of-a-user.ts
  packages/backend/src/server/api/endpoints/admin/drive/delete-all-files-of-a-user.ts
  packages/backend/src/server/api/endpoints/admin/show-user.ts
  packages/backend/src/server/api/endpoints/i/delete-account.ts
  packages/backend/test/e2e/antennas.ts
  packages/backend/test/e2e/users.ts
  packages/frontend/.storybook/fakes.ts
  packages/frontend/src/const.ts
  packages/frontend/src/pages/admin-user.vue
  packages/frontend/src/pages/admin/roles.editor.vue
  packages/frontend/src/pages/admin/roles.vue
  packages/frontend/src/pages/user/raw.vue
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/src/autogen/apiClientJSDoc.ts
  packages/misskey-js/src/autogen/endpoint.ts
  packages/misskey-js/src/autogen/entities.ts
  packages/misskey-js/src/autogen/types.ts
  packages/misskey-js/src/consts.ts
Labels: packages/backend, packages/backend:test, packages/frontend, packages/misskey-js

#537 fix(SSO/JWT): JWTのヘッダーに`typ`を追加、serviceurlパラメータに対応
  packages/backend/src/server/sso/JWTIdentifyProviderService.ts
Labels: packages/backend

#536 enhance: MisskeyIO#529 の追加修正
  packages/frontend/src/components/MkDateSeparatedList.vue
  packages/frontend/src/components/MkPagination.vue
  packages/frontend/src/pages/note.vue
Labels: packages/frontend

#534 fix(frontend/MkPostForm): 何らかの理由でファイルのアップロード・選択に失敗したゴミデータが残り投稿できなくなる問題を修正
  packages/frontend/src/components/MkPostForm.vue
Labels: packages/frontend

#539 Merge upstream
  CHANGELOG.md
  packages/backend/src/core/UserFollowingService.ts
  packages/frontend/src/components/page/page.image.vue
  packages/frontend/src/components/page/page.note.vue
  packages/frontend/src/components/page/page.text.vue
  packages/frontend/src/components/page/page.vue
  packages/frontend/src/pages/page-editor/els/page-editor.el.note.vue
  packages/frontend/src/pages/page.vue
Labels: packages/backend, packages/frontend

#540 Bump up version to 2024.3.1-io.2
  package.json
  packages/misskey-js/package.json
Labels: packages/misskey-js

#541 Bump up version to 2024.3.1-host.2
  package.json
  packages/misskey-js/package.json
Labels: packages/misskey-js

#543 enhance(frontend): エラー発生時のダイアログに詳細情報を載せる
  packages/backend/src/server/api/ApiCallService.ts
  packages/backend/src/server/api/endpoint-base.ts
  packages/backend/src/server/api/endpoints/admin/emoji/copy.ts
  packages/backend/src/server/api/endpoints/drive/files/create.ts
  packages/backend/src/server/api/error.ts
  packages/frontend/src/components/MkDialog.vue
  packages/frontend/src/os.ts
Labels: packages/backend, packages/frontend

#544 fix(SSO): メールアドレスからコメント・タグを除外
  packages/backend/src/misc/normalize-email-address.ts
  packages/backend/src/server/sso/JWTIdentifyProviderService.ts
  packages/backend/src/server/sso/SAMLIdentifyProviderService.ts
Labels: packages/backend

#545 enhance(antenna): Botの投稿を除外できるように
  locales/en-US.yml
  locales/index.d.ts
  locales/ja-JP.yml
  locales/ko-KR.yml
  packages/backend/migration/1710919614510-antenna-exclude-bots.js
  packages/backend/src/core/AntennaService.ts
  packages/backend/src/core/entities/AntennaEntityService.ts
  packages/backend/src/models/Antenna.ts
  packages/backend/src/models/json-schema/antenna.ts
  packages/backend/src/queue/processors/ExportAntennasProcessorService.ts
  packages/backend/src/queue/processors/ImportAntennasProcessorService.ts
  packages/backend/src/server/api/endpoints/antennas/create.ts
  packages/backend/src/server/api/endpoints/antennas/update.ts
  packages/backend/test/e2e/antennas.ts
  packages/frontend/src/pages/my-antennas/create.vue
  packages/frontend/src/pages/my-antennas/editor.vue
  packages/misskey-js/src/autogen/types.ts
Labels: packages/backend, packages/backend:test, packages/frontend, packages/misskey-js

#548 Merge upstream
  CHANGELOG.md
  cypress/e2e/basic.cy.ts
  cypress/e2e/router.cy.ts
  cypress/e2e/widgets.cy.ts
  cypress/support/commands.ts
  cypress/support/e2e.ts
  cypress/support/index.ts
  cypress/tsconfig.json
  package.json
  packages/backend/package.json
  packages/frontend/package.json
  packages/frontend/src/boot/common.ts
  packages/frontend/src/components/MkCode.core.vue
  packages/frontend/src/index.html
  packages/frontend/src/pages/about-misskey.vue
  packages/frontend/src/scripts/code-highlighter.ts
  packages/frontend/src/scripts/theme.ts
  packages/frontend/src/style.scss
  packages/frontend/vite.config.ts
  packages/misskey-bubble-game/package.json
  packages/misskey-js/generator/package.json
  packages/misskey-js/package.json
  packages/misskey-reversi/package.json
  packages/sw/package.json
  pnpm-lock.yaml
Labels: packages/backend, packages/frontend, packages/frontend:test, packages/sw, packages/misskey-js

#549 Update host
  CHANGELOG.md
  cypress/e2e/basic.cy.ts
  cypress/e2e/router.cy.ts
  cypress/e2e/widgets.cy.ts
  cypress/support/commands.ts
  cypress/support/e2e.ts
  cypress/support/index.ts
  cypress/tsconfig.json
  package.json
  packages/backend/package.json
  packages/frontend/package.json
  packages/frontend/src/boot/common.ts
  packages/frontend/src/components/MkCode.core.vue
  packages/frontend/src/index.html
  packages/frontend/src/pages/about-misskey.vue
  packages/frontend/src/scripts/code-highlighter.ts
  packages/frontend/src/scripts/theme.ts
  packages/frontend/src/style.scss
  packages/frontend/vite.config.ts
  packages/misskey-bubble-game/package.json
  packages/misskey-js/generator/package.json
  packages/misskey-js/package.json
  packages/misskey-reversi/package.json
  packages/sw/package.json
  pnpm-lock.yaml
Labels: packages/backend, packages/frontend, packages/frontend:test, packages/sw, packages/misskey-js

#553 Bump up version to 2024.3.1-io.2b
  package.json
  packages/misskey-js/package.json
Labels: packages/misskey-js

#554 Update host
  package.json
  packages/frontend/src/components/MkFollowButton.vue
  packages/frontend/src/components/MkNotification.vue
  packages/misskey-js/package.json
Labels: packages/frontend, packages/misskey-js

#555 enhance(SSO): Attributeの調整
  packages/backend/src/server/sso/JWTIdentifyProviderService.ts
  packages/backend/src/server/sso/SAMLIdentifyProviderService.ts
Labels: packages/backend

#556 fix(frontend): 同じ音源は短時間で重複して流れないように
  packages/frontend/src/scripts/sound.ts
Labels: packages/frontend

#557 spec(backend): APIのレートリミットをバイパスできるように
  packages/backend/src/config.ts
  packages/backend/src/server/api/ApiCallService.ts
Labels: packages/backend

#559 fix(frontend): 管理用のユーザー詳細ページのコピーボタンのデータが期待と違う問題を修正
  packages/frontend/src/pages/admin-user.vue
Labels: packages/frontend

#558 enhance(frontend): 外部サイトへのリンクは移動の前に警告を表示するように
  locales/en-US.yml
  locales/index.d.ts
  locales/ja-JP.yml
  locales/ko-KR.yml
  packages/backend/migration/1711008460816-external-website-warn.js
  packages/backend/src/core/entities/MetaEntityService.ts
  packages/backend/src/models/Meta.ts
  packages/backend/src/models/json-schema/meta.ts
  packages/backend/src/server/api/endpoints/admin/meta.ts
  packages/backend/src/server/api/endpoints/admin/update-meta.ts
  packages/frontend/src/components/MkLink.vue
  packages/frontend/src/components/global/MkUrl.vue
  packages/frontend/src/pages/admin/moderation.vue
  packages/frontend/src/scripts/warning-external-website.ts
  packages/misskey-js/src/autogen/types.ts
Labels: packages/backend, packages/frontend, packages/misskey-js

#560 Merge upstream
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  package.json
  packages/backend/migration/1710512074000-url-preview-meta.js
  packages/backend/package.json
  packages/backend/src/core/entities/MetaEntityService.ts
  packages/backend/src/models/Meta.ts
  packages/backend/src/models/json-schema/meta.ts
  packages/backend/src/server/api/endpoints/admin/meta.ts
  packages/backend/src/server/api/endpoints/admin/update-meta.ts
  packages/backend/src/server/web/UrlPreviewService.ts
  packages/frontend/package.json
  packages/frontend/src/components/MkLink.vue
  packages/frontend/src/components/MkNote.vue
  packages/frontend/src/components/MkNoteDetailed.vue
  packages/frontend/src/components/MkUrlPreview.vue
  packages/frontend/src/components/global/MkUrl.vue
  packages/frontend/src/components/page/page.text.vue
  packages/frontend/src/instance.ts
  packages/frontend/src/pages/admin/security.vue
  packages/frontend/src/pages/admin/settings.vue
  packages/misskey-bubble-game/package.json
  packages/misskey-js/generator/package.json
  packages/misskey-js/package.json
  packages/misskey-js/src/autogen/types.ts
  packages/misskey-reversi/package.json
  packages/sw/package.json
  pnpm-lock.yaml
Labels: packages/backend, packages/frontend, packages/sw, packages/misskey-js

#561 Bump up version to 2024.3.1-io.2c
  package.json
  packages/misskey-js/package.json
Labels: packages/misskey-js

#562 Update host
  CHANGELOG.md
  locales/en-US.yml
  locales/index.d.ts
  locales/ja-JP.yml
  locales/ko-KR.yml
  package.json
  packages/backend/migration/1710512074000-url-preview-meta.js
  packages/backend/migration/1711008460816-external-website-warn.js
  packages/backend/package.json
  packages/backend/src/config.ts
  packages/backend/src/core/entities/MetaEntityService.ts
  packages/backend/src/models/Meta.ts
  packages/backend/src/models/json-schema/meta.ts
  packages/backend/src/server/api/ApiCallService.ts
  packages/backend/src/server/api/endpoints/admin/meta.ts
  packages/backend/src/server/api/endpoints/admin/update-meta.ts
  packages/backend/src/server/sso/JWTIdentifyProviderService.ts
  packages/backend/src/server/sso/SAMLIdentifyProviderService.ts
  packages/backend/src/server/web/UrlPreviewService.ts
  packages/frontend/package.json
  packages/frontend/src/components/MkLink.vue
  packages/frontend/src/components/MkNote.vue
  packages/frontend/src/components/MkNoteDetailed.vue
  packages/frontend/src/components/MkUrlPreview.vue
  packages/frontend/src/components/global/MkUrl.vue
  packages/frontend/src/components/page/page.text.vue
  packages/frontend/src/instance.ts
  packages/frontend/src/pages/admin-user.vue
  packages/frontend/src/pages/admin/moderation.vue
  packages/frontend/src/pages/admin/security.vue
  packages/frontend/src/pages/admin/settings.vue
  packages/frontend/src/scripts/sound.ts
  packages/frontend/src/scripts/warning-external-website.ts
  packages/misskey-bubble-game/package.json
  packages/misskey-js/generator/package.json
  packages/misskey-js/package.json
  packages/misskey-js/src/autogen/types.ts
  packages/misskey-reversi/package.json
  packages/sw/package.json
  pnpm-lock.yaml
Labels: packages/backend, packages/frontend, packages/sw, packages/misskey-js

#564 enhance(frontend): 外部サイトへのリンクは移動の警告の条件の調整
  locales/en-US.yml
  locales/ja-JP.yml
  locales/ko-KR.yml
  packages/frontend/src/scripts/warning-external-website.ts
Labels: packages/frontend

#565 Merge upstream
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/frontend/src/components/MkInput.vue
  packages/frontend/src/components/MkNote.vue
  packages/frontend/src/components/MkNoteDetailed.vue
  packages/frontend/src/components/MkPasswordDialog.vue
  packages/frontend/src/components/MkSignin.vue
  packages/frontend/src/pages/settings/2fa.qrdialog.vue
  packages/frontend/src/pages/settings/2fa.vue
Labels: packages/frontend

#566 Bump up version to 2024.3.1-io.3
  package.json
  packages/misskey-js/package.json
Labels: packages/misskey-js

#567 Update host
  CHANGELOG.md
  README.md
  locales/en-US.yml
  locales/index.d.ts
  locales/ja-JP.yml
  locales/ko-KR.yml
  package.json
  packages/frontend/src/components/MkInput.vue
  packages/frontend/src/components/MkNote.vue
  packages/frontend/src/components/MkNoteDetailed.vue
  packages/frontend/src/components/MkPasswordDialog.vue
  packages/frontend/src/components/MkSignin.vue
  packages/frontend/src/pages/settings/2fa.qrdialog.vue
  packages/frontend/src/pages/settings/2fa.vue
  packages/frontend/src/scripts/warning-external-website.ts
  packages/misskey-js/package.json
Labels: packages/frontend, packages/misskey-js

#570 enhance(backend): ハッシュタグのランキングをローカルユーザーに限定する
  packages/backend/src/core/HashtagService.ts
Labels: packages/backend

#571 Merge upstream
  CHANGELOG.md
  locales/en-US.yml
  locales/index.d.ts
  locales/ja-JP.yml
  locales/ko-KR.yml
  packages/backend/migration/1711478468155-birthday-index.js
  packages/backend/src/core/entities/UserEntityService.ts
  packages/backend/src/server/api/EndpointsModule.ts
  packages/backend/src/server/api/endpoints.ts
  packages/backend/src/server/api/endpoints/users/following.ts
  packages/backend/src/server/api/endpoints/users/get-following-birthday-users.ts
  packages/backend/src/server/api/endpoints/users/show.ts
  packages/backend/src/server/api/openapi/gen-spec.ts
  packages/backend/test/e2e/streaming.ts
  packages/frontend/src/components/MkAvatars.vue
  packages/frontend/src/widgets/WidgetBirthdayFollowings.vue
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/generator/src/generator.ts
  packages/misskey-js/src/autogen/apiClientJSDoc.ts
  packages/misskey-js/src/autogen/endpoint.ts
  packages/misskey-js/src/autogen/entities.ts
  packages/misskey-js/src/autogen/types.ts
Labels: packages/backend, packages/backend:test, packages/frontend, packages/misskey-js

#572 enhance(backend): 内部用と外部（ActivityPub）用で違うアセットドメインが使えるようにする
  packages/backend/src/config.ts
  packages/backend/src/core/activitypub/ApRendererService.ts
  packages/backend/src/core/activitypub/models/ApPersonService.ts
  packages/backend/src/core/entities/DriveFileEntityService.ts
  packages/backend/src/server/api/endpoints/i/update.ts
Labels: packages/backend

#573 spec(frontend): Skeb Buttonの実装
  locales/en-US.yml
  locales/index.d.ts
  locales/ja-JP.yml
  locales/ko-KR.yml
  packages/backend/src/config.ts
  packages/backend/src/core/entities/MetaEntityService.ts
  packages/backend/src/models/json-schema/meta.ts
  packages/backend/src/server/api/EndpointsModule.ts
  packages/backend/src/server/api/endpoints.ts
  packages/backend/src/server/api/endpoints/users/get-skeb-status.ts
  packages/frontend/src/pages/user/home.vue
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/src/autogen/apiClientJSDoc.ts
  packages/misskey-js/src/autogen/endpoint.ts
  packages/misskey-js/src/autogen/entities.ts
  packages/misskey-js/src/autogen/types.ts
Labels: packages/backend, packages/frontend, packages/misskey-js

#574 spec(frontend): Skeb募集状態のユーザーページのリンクに外部リンクの表示を追加
  packages/frontend/src/pages/user/home.vue
Labels: packages/frontend

#575 Bump up version to 2024.3.1-io.4
  package.json
  packages/misskey-js/package.json
Labels: packages/misskey-js

#576 Update host
  CHANGELOG.md
  locales/en-US.yml
  locales/index.d.ts
  locales/ja-JP.yml
  locales/ko-KR.yml
  package.json
  packages/backend/migration/1711478468155-birthday-index.js
  packages/backend/src/config.ts
  packages/backend/src/core/activitypub/ApRendererService.ts
  packages/backend/src/core/activitypub/models/ApPersonService.ts
  packages/backend/src/core/entities/DriveFileEntityService.ts
  packages/backend/src/core/entities/MetaEntityService.ts
  packages/backend/src/core/entities/UserEntityService.ts
  packages/backend/src/models/json-schema/meta.ts
  packages/backend/src/server/api/EndpointsModule.ts
  packages/backend/src/server/api/endpoints.ts
  packages/backend/src/server/api/endpoints/i/update.ts
  packages/backend/src/server/api/endpoints/users/following.ts
  packages/backend/src/server/api/endpoints/users/get-following-birthday-users.ts
  packages/backend/src/server/api/endpoints/users/get-skeb-status.ts
  packages/backend/src/server/api/endpoints/users/show.ts
  packages/backend/src/server/api/openapi/gen-spec.ts
  packages/backend/test/e2e/streaming.ts
  packages/frontend/src/components/MkAvatars.vue
  packages/frontend/src/pages/user/home.vue
  packages/frontend/src/widgets/WidgetBirthdayFollowings.vue
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/generator/src/generator.ts
  packages/misskey-js/package.json
  packages/misskey-js/src/autogen/apiClientJSDoc.ts
  packages/misskey-js/src/autogen/endpoint.ts
  packages/misskey-js/src/autogen/entities.ts
  packages/misskey-js/src/autogen/types.ts
Labels: packages/backend, packages/backend:test, packages/frontend, packages/misskey-js

#577 fix(backend): 年越しの時期で誕生日検索クエリーが誤動作する問題を修正
  packages/backend/src/server/api/endpoints/users/get-following-birthday-users.ts
Labels: packages/backend

#579 Update host
  package.json
  packages/backend/src/server/api/endpoints/users/get-following-birthday-users.ts
  packages/misskey-js/package.json
Labels: packages/backend, packages/misskey-js

#580 fix(backend): アカウントの作成と削除の途中でリトライが発生しても無視するように
  packages/backend/src/core/DeleteAccountService.ts
  packages/backend/src/core/FetchInstanceMetadataService.ts
  packages/backend/src/core/SignupService.ts
Labels: packages/backend

#581 enhance(moderation): 管理者がアカウントの物理削除・論理削除を選べるように
  packages/backend/src/server/api/endpoints/admin/accounts/delete.ts
  packages/frontend/src/pages/admin-user.vue
  packages/misskey-js/src/autogen/types.ts
Labels: packages/backend, packages/frontend, packages/misskey-js

#582 fix(frontend/WidgetBirthdayFollowings): ユーザーの名前が長いと投稿ボタンがはみ出てしまう問題を修正
  packages/frontend/src/widgets/WidgetBirthdayFollowings.vue
Labels: packages/frontend

#583 update deps
  package.json
  packages/backend/package.json
  packages/backend/src/server/web/views/base.pug
  packages/frontend/.storybook/preview-head.html
  packages/frontend/package.json
  packages/frontend/src/_dev_boot_.ts
  packages/misskey-bubble-game/package.json
  packages/misskey-js/generator/package.json
  packages/misskey-js/package.json
  packages/misskey-reversi/package.json
  packages/sw/package.json
  pnpm-lock.yaml
Labels: packages/backend, packages/frontend, packages/sw, packages/misskey-js

#584 Bump up version to 2024.3.1-io.4b
  package.json
  packages/misskey-js/package.json
Labels: packages/misskey-js

#585 Update host
  package.json
  packages/backend/package.json
  packages/backend/src/core/DeleteAccountService.ts
  packages/backend/src/core/FetchInstanceMetadataService.ts
  packages/backend/src/core/SignupService.ts
  packages/backend/src/server/api/endpoints/admin/accounts/delete.ts
  packages/backend/src/server/web/views/base.pug
  packages/frontend/.storybook/preview-head.html
  packages/frontend/package.json
  packages/frontend/src/_dev_boot_.ts
  packages/frontend/src/pages/admin-user.vue
  packages/frontend/src/widgets/WidgetBirthdayFollowings.vue
  packages/misskey-bubble-game/package.json
  packages/misskey-js/generator/package.json
  packages/misskey-js/package.json
  packages/misskey-js/src/autogen/types.ts
  packages/misskey-reversi/package.json
  packages/sw/package.json
  pnpm-lock.yaml
Labels: packages/backend, packages/frontend, packages/sw, packages/misskey-js

#586 chore: do not use fuzzy match for emojiComplete (misskey-dev#13384)
  packages/frontend/src/components/MkAutocomplete.vue
  packages/frontend/src/scripts/search-emoji.ts
Labels: packages/frontend

#587 fix(backend/get-following-birthday-users): 一部の月でbirthdayのタイムスタンプが1ヶ月ズレる問題を修正
  packages/backend/src/server/api/endpoints/users/get-following-birthday-users.ts
Labels: packages/backend

#588 fix(frontend): Skebのリクエストを募集中ならクリエイターの表示になるように
  packages/frontend/src/pages/user/home.vue
Labels: packages/frontend

#589 Bump up version to 2024.3.1-io.4c
  package.json
  packages/misskey-js/package.json
Labels: packages/misskey-js

#590 Update host
  package.json
  packages/backend/src/server/api/endpoints/users/get-following-birthday-users.ts
  packages/frontend/src/components/MkAutocomplete.vue
  packages/frontend/src/pages/user/home.vue
  packages/frontend/src/scripts/search-emoji.ts
  packages/misskey-js/package.json
Labels: packages/backend, packages/frontend, packages/misskey-js
