Repository MisskeyIO/misskey, pull requests merged in 2024-07, with the labels that each got.

#652 公開バッジのみをpackするように
  packages/backend/src/core/entities/UserEntityService.ts
  packages/backend/test/e2e/users.ts
Labels: packages/backend, packages/backend:test

#653 api/usersに+pv -pvを追加
  packages/backend/src/core/chart/charts/per-user-pv.ts
  packages/backend/src/core/chart/core.ts
  packages/backend/src/server/api/endpoints/users.ts
  packages/misskey-js/src/autogen/types.ts
Labels: packages/backend, packages/misskey-js

#654 いくつかのエンドポイントで凍結済みのユーザーが居た場合のエラーを修正
  packages/backend/src/server/api/endpoints/roles/users.ts
  packages/backend/src/server/api/endpoints/users/get-frequently-replied-users.ts
Labels: packages/backend

#664 PVを見て人気のユーザーを取得するように（ローカルのみ）
  packages/frontend/src/components/MkUserSetupDialog.Follow.vue
  packages/frontend/src/pages/explore.users.vue
Labels: packages/frontend

#665 feat(frontend): チュートリアルにBotの設定を追加、チュートリアルをスキップ不可に
  locales/index.d.ts
  locales/ja-JP.yml
  packages/frontend/src/components/MkUserSetupDialog.Profile.vue
  packages/frontend/src/components/MkUserSetupDialog.vue
Labels: packages/frontend

#661 feat(backend): elasticsearchで検索できるように
  packages/backend/package.json
  packages/backend/src/GlobalModule.ts
  packages/backend/src/config.ts
  packages/backend/src/core/SearchService.ts
  packages/backend/src/di-symbols.ts
  pnpm-lock.yaml
Labels: packages/backend

#668 fix(reaction): MkNoteDetailed.vueに変更を加え忘れていたのを修正
  packages/frontend/src/components/MkNoteDetailed.vue
Labels: packages/frontend

#677 ユーザー検索結果欄で無限にループする問題を解決
  packages/frontend/src/pages/search.user.vue
Labels: packages/frontend

#671 Fix: 未ログインだとハートマークになってしまうのを修正
  packages/frontend/src/components/MkNote.vue
  packages/frontend/src/components/MkNoteDetailed.vue
Labels: packages/frontend

#672 絵文字関連の不具合を修正
  packages/frontend/src/components/MkReactionsViewer.details.vue
  packages/frontend/vite.config.local-dev.ts
Labels: packages/frontend

#679 ダイレクト投稿をユーザーごとのチャートから除外
  packages/backend/src/core/NoteCreateService.ts
Labels: packages/backend
