Repository MisskeyIO/misskey, pull requests merged in 2024-10, with the labels that each got.

#746 spec(SSO/JWT): トークンの有効期限を2週間に変更
  packages/backend/src/server/sso/JWTIdentifyProviderService.ts
Labels: packages/backend

#745 enhance(queue): deliver queue を複数個設定できるようにする
  packages/backend/src/config.ts
  packages/backend/src/core/QueueModule.ts
  packages/backend/src/misc/queues.ts
  packages/backend/src/queue/QueueProcessorService.ts
  packages/backend/src/server/web/ClientServerService.ts
  packages/frontend/vite.config.local-dev.ts
Labels: packages/backend, packages/frontend

#748 Bump up version to 2024.5.0-io.3
  package.json
  packages/misskey-js/package.json
Labels: packages/misskey-js

#750 perf(backend): queue の delayed の件数が増えた際に deliver-delayed と inbox-delayed が返ってこなくなる問題を修正
  packages/backend/src/server/api/endpoints/admin/queue/deliver-delayed.ts
  packages/backend/src/server/api/endpoints/admin/queue/inbox-delayed.ts
Labels: packages/backend

#751 spec(frontend): Bull Dashboard に relationship queue を追加
  packages/backend/src/server/web/ClientServerService.ts
Labels: packages/backend

#752 enhance(queue): inbox と relationship にも MisskeyIO#745 を適用
  packages/backend/src/config.ts
  packages/backend/src/core/QueueModule.ts
  packages/backend/src/queue/QueueProcessorService.ts
  packages/backend/src/server/web/ClientServerService.ts
Labels: packages/backend

#753 feat(announcement): お知らせの既読処理にチュートリアル受講を要求できるように
  locales/ca-ES.yml
  locales/de-DE.yml
  locales/en-US.yml
  locales/es-ES.yml
  locales/fr-FR.yml
  locales/id-ID.yml
  locales/index.d.ts
  locales/it-IT.yml
  locales/ja-JP.yml
  locales/ja-KS.yml
  locales/ko-KR.yml
  locales/th-TH.yml
  locales/zh-CN.yml
  locales/zh-TW.yml
  packages/backend/migration/1729270181417-Announcement-NeedEnrollmentTutorialToRead.js
  packages/backend/src/core/AnnouncementService.ts
  packages/backend/src/core/entities/AnnouncementEntityService.ts
  packages/backend/src/models/Announcement.ts
  packages/backend/src/models/json-schema/announcement.ts
  packages/backend/src/server/api/endpoints/admin/announcements/create.ts
  packages/backend/src/server/api/endpoints/admin/announcements/list.ts
  packages/backend/src/server/api/endpoints/admin/announcements/update.ts
  packages/frontend/src/components/MkAnnouncementDialog.stories.impl.ts
  packages/frontend/src/components/MkAnnouncementDialog.vue
  packages/frontend/src/components/MkTutorialDialog.vue
  packages/frontend/src/components/MkUserAnnouncementEditDialog.vue
  packages/frontend/src/pages/admin/announcements.vue
  packages/frontend/src/pages/announcement.vue
  packages/frontend/src/pages/announcements.vue
  packages/misskey-js/src/autogen/types.ts
Labels: packages/backend, packages/frontend, packages/misskey-js

#754 spec(frontend): アカウント新規作成時のOOBE向上
  packages/frontend/src/boot/main-boot.ts
Labels: packages/frontend

#755 Bump up version to 2024.5.0-io.3a
  package.json
  packages/misskey-js/package.json
Labels: packages/misskey-js

#756 Update host
  locales/ca-ES.yml
  locales/de-DE.yml
  locales/en-US.yml
  locales/es-ES.yml
  locales/fr-FR.yml
  locales/id-ID.yml
  locales/index.d.ts
  locales/it-IT.yml
  locales/ja-JP.yml
  locales/ja-KS.yml
  locales/ko-KR.yml
  locales/th-TH.yml
  locales/zh-CN.yml
  locales/zh-TW.yml
  package.json
  packages/backend/migration/1729270181417-Announcement-NeedEnrollmentTutorialToRead.js
  packages/backend/src/config.ts
  packages/backend/src/core/AnnouncementService.ts
  packages/backend/src/core/QueueModule.ts
  packages/backend/src/core/entities/AnnouncementEntityService.ts
  packages/backend/src/models/Announcement.ts
  packages/backend/src/models/json-schema/announcement.ts
  packages/backend/src/queue/QueueProcessorService.ts
  packages/backend/src/server/api/endpoints/admin/announcements/create.ts
  packages/backend/src/server/api/endpoints/admin/announcements/list.ts
  packages/backend/src/server/api/endpoints/admin/announcements/update.ts
  packages/backend/src/server/api/endpoints/admin/queue/deliver-delayed.ts
  packages/backend/src/server/api/endpoints/admin/queue/inbox-delayed.ts
  packages/backend/src/server/web/ClientServerService.ts
  packages/frontend/src/boot/main-boot.ts
  packages/frontend/src/components/MkAnnouncementDialog.stories.impl.ts
  packages/frontend/src/components/MkAnnouncementDialog.vue
  packages/frontend/src/components/MkTutorialDialog.vue
  packages/frontend/src/components/MkUserAnnouncementEditDialog.vue
  packages/frontend/src/pages/admin/announcements.vue
  packages/frontend/src/pages/announcement.vue
  packages/frontend/src/pages/announcements.vue
  packages/misskey-js/package.json
  packages/misskey-js/src/autogen/types.ts
Labels: packages/backend, packages/frontend, packages/misskey-js

#757 Enhance: 絵文字のフォールバック先を文字じゃなくて画像に
  packages/frontend/src/components/global/MkCustomEmoji.vue
Labels: packages/frontend

#758 feat(frontend/reactions): リアクションミュート機能を追加しました
  locales/index.d.ts
  locales/ja-JP.yml
  packages/frontend/src/components/MkEmojiPickerDialog.vue
  packages/frontend/src/components/MkReactionsViewer.vue
  packages/frontend/src/pages/settings/mute-block.vue
  packages/frontend/src/pages/settings/preferences-backups.vue
  packages/frontend/src/store.ts
Labels: packages/frontend

#759 enhance(SSO): ユーザーに対話型プロンプトが表示されないように設定できるように
  packages/backend/src/server/sso/JWTIdentifyProviderService.ts
  packages/backend/src/server/sso/SAMLIdentifyProviderService.ts
  packages/backend/src/server/web/views/sso.pug
  packages/frontend/src/pages/sso.vue
Labels: packages/backend, packages/frontend

#760 Bump up version to 2024.5.0-io.3b
  package.json
  packages/misskey-js/package.json
Labels: packages/misskey-js

#761 Update host
  locales/index.d.ts
  locales/ja-JP.yml
  package.json
  packages/backend/src/server/sso/JWTIdentifyProviderService.ts
  packages/backend/src/server/sso/SAMLIdentifyProviderService.ts
  packages/backend/src/server/web/views/sso.pug
  packages/frontend/src/components/MkEmojiPickerDialog.vue
  packages/frontend/src/components/MkReactionsViewer.vue
  packages/frontend/src/components/global/MkCustomEmoji.vue
  packages/frontend/src/pages/settings/mute-block.vue
  packages/frontend/src/pages/settings/preferences-backups.vue
  packages/frontend/src/pages/sso.vue
  packages/frontend/src/store.ts
  packages/misskey-js/package.json
Labels: packages/backend, packages/frontend, packages/misskey-js

#762 feat(frontend/reactions): リモートのリアクションのミュートの方法を変えた
  locales/index.d.ts
  locales/ja-JP.yml
  packages/frontend/src/components/MkEmojiPickerDialog.vue
  packages/frontend/src/components/MkNoteDetailed.vue
Labels: packages/frontend

#764 Update host
  locales/en-US.yml
  locales/index.d.ts
  locales/ja-JP.yml
  locales/ko-KR.yml
  packages/frontend/src/components/MkEmojiPickerDialog.vue
  packages/frontend/src/components/MkNoteDetailed.vue
Labels: packages/frontend

#765 fix(frontend/reactions): ローカルのカスタム絵文字のミュートが正常に機能しない問題を修正
  packages/frontend/src/components/MkNoteDetailed.vue
  packages/frontend/src/pages/settings/mute-block.vue
Labels: packages/frontend

#766 Update host
  packages/frontend/src/components/MkNoteDetailed.vue
  packages/frontend/src/pages/settings/mute-block.vue
Labels: packages/frontend

#767 fix(frontend/reaction): リアクションのミュートのボタンのアイコンが逆になっている問題を修正
  packages/frontend/src/components/MkNoteDetailed.vue
Labels: packages/frontend

#768 fix(frontend): Captcha のエラーハンドリングを修正
  packages/frontend/src/components/MkCaptcha.vue
Labels: packages/frontend

#769 fix(frontend/customemoji): リアクション以外の部分ではフォールバック画像にならないように
  packages/frontend/src/components/MkReactionIcon.vue
  packages/frontend/src/components/global/MkCustomEmoji.vue
Labels: packages/frontend

#771 feat(frontend/reactions): リアクションのミュートで通知からもミュートされるように
  packages/frontend/src/components/MkNotifications.vue
  packages/frontend/src/components/MkPagination.vue
  packages/frontend/src/scripts/filter-muted-notification.ts
  packages/frontend/src/ui/_common_/common.vue
Labels: packages/frontend

#770 update deps
  package.json
  packages/backend/package.json
  packages/backend/src/core/FileInfoService.ts
  packages/frontend/package.json
  packages/frontend/vite.config.ts
  packages/misskey-bubble-game/package.json
  packages/misskey-js/generator/package.json
  packages/misskey-js/package.json
  packages/misskey-reversi/package.json
  packages/sw/package.json
  pnpm-lock.yaml
  scripts/changelog-checker/package.json
Labels: packages/backend, packages/frontend, packages/sw, packages/misskey-js

#772 Bump up version to 2024.5.0-io.3c
  package.json
  packages/misskey-js/package.json
Labels: packages/misskey-js

#773 Update host
  package.json
  packages/backend/package.json
  packages/backend/src/core/FileInfoService.ts
  packages/frontend/package.json
  packages/frontend/src/components/MkCaptcha.vue
  packages/frontend/src/components/MkNoteDetailed.vue
  packages/frontend/src/components/MkNotifications.vue
  packages/frontend/src/components/MkPagination.vue
  packages/frontend/src/components/MkReactionIcon.vue
  packages/frontend/src/components/global/MkCustomEmoji.vue
  packages/frontend/src/scripts/filter-muted-notification.ts
  packages/frontend/src/ui/_common_/common.vue
  packages/frontend/vite.config.ts
  packages/misskey-bubble-game/package.json
  packages/misskey-js/generator/package.json
  packages/misskey-js/package.json
  packages/misskey-reversi/package.json
  packages/sw/package.json
  pnpm-lock.yaml
  scripts/changelog-checker/package.json
Labels: packages/backend, packages/frontend, packages/sw, packages/misskey-js

#776 security(ghsa-gq5q-c77c-v236): Block recursive proxy
  packages/backend/src/server/FileServerService.ts
Labels: packages/backend

#777 Bump up version to 2024.5.0-io.3d
  package.json
  packages/misskey-js/package.json
Labels: packages/misskey-js

#778 Update host
  locales/index.js
  package.json
  packages/backend/package.json
  packages/backend/src/core/WebAuthnService.ts
  packages/backend/src/misc/fastify-hook-handlers.ts
  packages/backend/src/server/FileServerService.ts
  packages/backend/src/server/ServerService.ts
  packages/backend/src/server/api/endpoints/i/2fa/key-done.ts
  packages/backend/src/server/api/openapi/gen-spec.ts
  packages/frontend/package.json
  packages/misskey-bubble-game/package.json
  packages/misskey-js/generator/package.json
  packages/misskey-js/package.json
  packages/misskey-js/src/api.ts
  packages/misskey-js/src/autogen/types.ts
  packages/misskey-reversi/package.json
  pnpm-lock.yaml
Labels: packages/backend, packages/frontend, packages/misskey-js

#779 fix(announcement): 個別ユーザーへのお知らせ編集ダイアログでチュートリアル受講のパラメータが反映されない問題を修正
  packages/frontend/src/components/MkUserAnnouncementEditDialog.vue
Labels: packages/frontend
