Repository MisskeyIO/misskey, pull requests merged in 2024-06, with the labels that each got.

#647 MfmService.toHtml を JSDOM に戻す
  packages/backend/src/core/MfmService.ts
Labels: packages/backend

#648 Bump up version to 2024.5.0-io.1a
  package.json
  packages/misskey-js/package.json
Labels: packages/misskey-js

#646 fix(backend): アンテナ等がポリシーで定められた上限を超えている場合、変更や追加ができないように
  packages/backend/src/core/ClipService.ts
  packages/backend/src/core/UserListService.ts
  packages/backend/src/server/api/endpoints/antennas/create.ts
  packages/backend/src/server/api/endpoints/antennas/update.ts
  packages/backend/src/server/api/endpoints/clips/add-note.ts
  packages/backend/src/server/api/endpoints/clips/create.ts
  packages/backend/src/server/api/endpoints/clips/update.ts
  packages/backend/src/server/api/endpoints/i/import-antennas.ts
  packages/backend/src/server/api/endpoints/i/webhooks/create.ts
  packages/backend/src/server/api/endpoints/i/webhooks/update.ts
  packages/backend/src/server/api/endpoints/users/lists/create-from-public.ts
  packages/backend/src/server/api/endpoints/users/lists/create.ts
  packages/backend/src/server/api/endpoints/users/lists/push.ts
  packages/backend/src/server/api/endpoints/users/lists/update-membership.ts
  packages/backend/src/server/api/endpoints/users/lists/update.ts
  packages/backend/test/e2e/antennas.ts
  packages/backend/test/e2e/clips.ts
Labels: packages/backend, packages/backend:test
