Repository MisskeyIO/misskey, pull requests merged in 2024-04, with the labels that each got.

#591 fix(backend): 処理に失敗するとidempotentキーを削除してしまいその後のリクエストが通ってしまう問題を修正
  packages/backend/src/@types/ioredis.d.ts
  packages/backend/src/GlobalModule.ts
  packages/backend/src/server/api/endpoints/drive/files/create.ts
  packages/backend/src/server/api/endpoints/drive/files/upload-from-url.ts
  packages/backend/src/server/api/endpoints/notes/create.ts
Labels: packages/backend

#594 fix(skeb/role): Skebロールのバッジをクリックできることをわかるようにカーソルを変更
  packages/frontend/src/components/MkRoleBadgeIcon.vue
Labels: packages/frontend

#595 Bump up version to 2024.3.1-io.5
  package.json
  packages/misskey-js/package.json
Labels: packages/misskey-js

#596 Update host
  locales/en-US.yml
  locales/index.d.ts
  locales/ja-JP.yml
  locales/ko-KR.yml
  package.json
  packages/backend/migration/1711946753142-role-badge-behavior.js
  packages/backend/src/@types/ioredis.d.ts
  packages/backend/src/GlobalModule.ts
  packages/backend/src/config.ts
  packages/backend/src/core/RoleService.ts
  packages/backend/src/core/entities/RoleEntityService.ts
  packages/backend/src/core/entities/UserEntityService.ts
  packages/backend/src/models/Role.ts
  packages/backend/src/models/json-schema/role.ts
  packages/backend/src/models/json-schema/user.ts
  packages/backend/src/server/api/endpoints/admin/roles/create.ts
  packages/backend/src/server/api/endpoints/admin/roles/update.ts
  packages/backend/src/server/api/endpoints/drive/files/create.ts
  packages/backend/src/server/api/endpoints/drive/files/upload-from-url.ts
  packages/backend/src/server/api/endpoints/notes/create.ts
  packages/backend/src/server/api/endpoints/users/get-skeb-status.ts
  packages/backend/test/e2e/note.ts
  packages/backend/test/e2e/users.ts
  packages/backend/test/utils.ts
  packages/frontend/src/components/MkModal.vue
  packages/frontend/src/components/MkNoteHeader.vue
  packages/frontend/src/components/MkRoleBadgeIcon.vue
  packages/frontend/src/components/MkSkebStatusPopup.vue
  packages/frontend/src/components/MkUrlPreviewPopup.vue
  packages/frontend/src/pages/admin/roles.edit.vue
  packages/frontend/src/pages/admin/roles.editor.vue
  packages/frontend/src/pages/user/home.vue
  packages/frontend/src/scripts/popup-position.ts
  packages/frontend/src/scripts/use-chart-tooltip.ts
  packages/misskey-js/package.json
  packages/misskey-js/src/autogen/types.ts
Labels: packages/backend, packages/backend:test, packages/frontend, packages/misskey-js

#598 fix(backend/UserSuspendService): 凍結・解凍の処理でfollowingテーブルの全てのデータをfetchしてしまいOOMになる問題を修正
  packages/backend/src/core/UserSuspendService.ts
Labels: packages/backend

#599 Bump up version to 2024.3.1-io.5b
  package.json
  packages/misskey-js/package.json
Labels: packages/misskey-js

#600 Update host
  package.json
  packages/backend/src/core/UserSuspendService.ts
  packages/backend/src/server/api/endpoints/users/get-skeb-status.ts
  packages/misskey-js/package.json
Labels: packages/backend, packages/misskey-js

#603 enhance(frontend): 設定に2要素認証のガイドへの導線を追加
  locales/en-US.yml
  locales/index.d.ts
  locales/ja-JP.yml
  locales/ko-KR.yml
  packages/frontend/src/pages/settings/2fa.vue
Labels: packages/frontend

#602 Bump up version to 2024.3.1-io.5c
  package.json
  packages/misskey-js/package.json
Labels: packages/misskey-js

#605 enhance(frontend/MkPostForm): ノートの投稿後すぐに投稿モーダルを閉じるように
  packages/frontend/src/components/MkPostForm.vue
  packages/frontend/src/components/MkPostFormDialog.vue
Labels: packages/frontend

#607 spec(SSO): メールアドレスが登録されていない場合、メアドフィールドの値にaactを入れる
  packages/backend/src/server/oauth/OAuth2ProviderService.ts
  packages/backend/src/server/sso/JWTIdentifyProviderService.ts
  packages/backend/src/server/sso/SAMLIdentifyProviderService.ts
Labels: packages/backend

#606 fix(backend): 登録にメール認証が必須になっている場合、登録されているメールアドレスを削除できないように
  packages/backend/src/server/api/endpoints/i/update-email.ts
Labels: packages/backend

#609 spec(backend): 管理者が登録待ちのユーザーの一覧をみる・取り消すAPIを追加
  packages/backend/src/server/api/EndpointsModule.ts
  packages/backend/src/server/api/endpoints.ts
  packages/backend/src/server/api/endpoints/admin/accounts/pending/list.ts
  packages/backend/src/server/api/endpoints/admin/accounts/pending/revoke.ts
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/src/autogen/apiClientJSDoc.ts
  packages/misskey-js/src/autogen/endpoint.ts
  packages/misskey-js/src/autogen/entities.ts
  packages/misskey-js/src/autogen/types.ts
Labels: packages/backend, packages/misskey-js

#610 update deps
  package.json
  packages/backend/package.json
  packages/backend/src/core/WebAuthnService.ts
  packages/backend/src/server/api/endpoints/i/2fa/key-done.ts
  packages/frontend/package.json
  packages/misskey-bubble-game/package.json
  packages/misskey-js/generator/package.json
  packages/misskey-js/package.json
  packages/misskey-reversi/package.json
  packages/sw/package.json
  pnpm-lock.yaml
Labels: packages/backend, packages/frontend, packages/sw, packages/misskey-js

#608 spec(frontend): メアド認証が義務化されているのにメアドが登録されてない・認証されてない場合登録するように促す
  locales/en-US.yml
  locales/index.d.ts
  locales/ja-JP.yml
  locales/ko-KR.yml
  packages/frontend/src/pages/settings/email.vue
  packages/frontend/src/ui/_common_/announcements.vue
Labels: packages/frontend

#611 enhance(frontend/2fa): 二要素認証のバックアップコードを保存するように促す
  locales/en-US.yml
  locales/index.d.ts
  locales/ja-JP.yml
  locales/ko-KR.yml
  packages/frontend/src/components/MkDialog.vue
  packages/frontend/src/os.ts
  packages/frontend/src/pages/settings/2fa.qrdialog.vue
  packages/frontend/src/pages/settings/2fa.vue
Labels: packages/frontend

#612 enhance(frontend): ユーザーの信頼する外部サイトへのリンクは警告しないように
  locales/en-US.yml
  locales/index.d.ts
  locales/ja-JP.yml
  locales/ko-KR.yml
  packages/frontend/src/os.ts
  packages/frontend/src/pages/settings/preferences-backups.vue
  packages/frontend/src/scripts/warning-external-website.ts
  packages/frontend/src/store.ts
Labels: packages/frontend

#613 Bump up version to 2024.3.1-io.6
  package.json
  packages/misskey-js/package.json
Labels: packages/misskey-js

#614 Update host
  locales/en-US.yml
  locales/index.d.ts
  locales/ja-JP.yml
  locales/ko-KR.yml
  package.json
  packages/backend/package.json
  packages/backend/src/core/WebAuthnService.ts
  packages/backend/src/server/api/EndpointsModule.ts
  packages/backend/src/server/api/endpoints.ts
  packages/backend/src/server/api/endpoints/admin/accounts/pending/list.ts
  packages/backend/src/server/api/endpoints/admin/accounts/pending/revoke.ts
  packages/backend/src/server/api/endpoints/i/2fa/key-done.ts
  packages/backend/src/server/api/endpoints/i/update-email.ts
  packages/backend/src/server/oauth/OAuth2ProviderService.ts
  packages/backend/src/server/sso/JWTIdentifyProviderService.ts
  packages/backend/src/server/sso/SAMLIdentifyProviderService.ts
  packages/frontend/package.json
  packages/frontend/src/components/MkDialog.vue
  packages/frontend/src/components/MkPostForm.vue
  packages/frontend/src/components/MkPostFormDialog.vue
  packages/frontend/src/os.ts
  packages/frontend/src/pages/settings/2fa.qrdialog.vue
  packages/frontend/src/pages/settings/2fa.vue
  packages/frontend/src/pages/settings/email.vue
  packages/frontend/src/pages/settings/preferences-backups.vue
  packages/frontend/src/scripts/warning-external-website.ts
  packages/frontend/src/store.ts
  packages/frontend/src/ui/_common_/announcements.vue
  packages/misskey-bubble-game/package.json
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/generator/package.json
  packages/misskey-js/package.json
  packages/misskey-js/src/autogen/apiClientJSDoc.ts
  packages/misskey-js/src/autogen/endpoint.ts
  packages/misskey-js/src/autogen/entities.ts
  packages/misskey-js/src/autogen/types.ts
  packages/misskey-reversi/package.json
  packages/sw/package.json
  pnpm-lock.yaml
Labels: packages/backend, packages/frontend, packages/sw, packages/misskey-js

#615 feat(webhook): 通報の登録、解決、自動解決に対応
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/src/models/Webhook.ts
  packages/backend/src/queue/processors/ReportAbuseProcessorService.ts
  packages/backend/src/server/api/endpoints/admin/resolve-abuse-user-report.ts
  packages/backend/src/server/api/endpoints/i/webhooks/create.ts
  packages/backend/src/server/api/endpoints/i/webhooks/update.ts
  packages/backend/src/server/api/endpoints/users/report-abuse.ts
  packages/frontend/src/pages/settings/webhook.edit.vue
  packages/frontend/src/pages/settings/webhook.new.vue
Labels: packages/backend, packages/frontend

#616 add special entrance page
  packages/frontend/assets/entrance-extra-1.png
  packages/frontend/assets/entrance-extra-2.png
  packages/frontend/assets/entrance-extra-3.png
  packages/frontend/src/pages/welcome.entrance.special.vue
  packages/frontend/src/pages/welcome.vue
Labels: packages/frontend

#618 update deps
  .github/workflows/lint.yml
  .github/workflows/test-backend.yml
  .github/workflows/test-frontend.yml
  .github/workflows/test-production.yml
  .github/workflows/validate-api-json.yml
  locales/index.d.ts
  package.json
  packages/backend/package.json
  packages/frontend/package.json
  packages/misskey-bubble-game/package.json
  packages/misskey-js/generator/package.json
  packages/misskey-js/package.json
  packages/misskey-js/src/autogen/types.ts
  packages/misskey-reversi/package.json
  packages/sw/package.json
  pnpm-lock.yaml
Labels: packages/backend, packages/frontend, packages/sw, packages/misskey-js

#617 enhance(frontend): アカウント作成時にHIBPで流出パスワードをチェックするように
  locales/en-US.yml
  locales/index.d.ts
  locales/ja-JP.yml
  locales/ko-KR.yml
  packages/frontend/src/components/MkSignupDialog.form.vue
  packages/frontend/src/index.html
Labels: packages/frontend

#620 enhance(frontend): カスタム絵文字管理画面にてファイル更新で勝手に名前が変わらないように
  packages/frontend/src/pages/emoji-edit-dialog.vue
Labels: packages/frontend

#622 fix(backend): リノートの評価の順番を変更、isQuote・isQuotePackedの挙動を修正
  packages/backend/src/core/NoteCreateService.ts
  packages/backend/src/misc/is-renote.ts
  packages/backend/src/server/api/stream/channels/global-timeline.ts
  packages/backend/src/server/api/stream/channels/home-timeline.ts
  packages/backend/src/server/api/stream/channels/hybrid-timeline.ts
  packages/backend/src/server/api/stream/channels/local-timeline.ts
  packages/backend/src/server/api/stream/channels/role-timeline.ts
  packages/backend/src/server/api/stream/channels/user-list.ts
Labels: packages/backend

#623 Bump up version to 2024.3.1-io.7
  package.json
  packages/misskey-js/package.json
Labels: packages/misskey-js

#625 enhance(frontend): パスワード変更時にHIBPで流出パスワードをチェックするように
  locales/index.d.ts
  packages/frontend/src/components/MkNewPassword.vue
  packages/frontend/src/components/MkSignupDialog.form.vue
  packages/frontend/src/pages/reset-password.vue
  packages/frontend/src/pages/settings/security.vue
Labels: packages/frontend

#624 Hotfix GHSA-2vxv-pv3m-3wvj
  packages/backend/src/core/activitypub/ApRendererService.ts
  packages/backend/src/core/activitypub/LdSignatureService.ts
  packages/backend/src/core/activitypub/misc/contexts.ts
  packages/backend/src/queue/processors/InboxProcessorService.ts
Labels: packages/backend
