Repository MisskeyIO/misskey, pull requests merged in 2024-09, with the labels that each got.

#727 Defer instance metadata update
  packages/backend/src/core/NoteCreateService.ts
  packages/backend/src/misc/collapsed-queue.ts
  packages/backend/src/queue/processors/InboxProcessorService.ts
Labels: packages/backend

#729 Perform deferred jobs on shutdown
  packages/backend/src/core/NoteCreateService.ts
  packages/backend/src/misc/collapsed-queue.ts
  packages/backend/src/queue/processors/InboxProcessorService.ts
Labels: packages/backend

#730 Bump up version to 2024.5.0-io.2e
  package.json
  packages/misskey-js/package.json
Labels: packages/misskey-js

#728 fix(api/users): ページビューの並び替えが正常に計算されない問題を修正
  packages/backend/src/core/chart/charts/per-user-pv.ts
  packages/backend/src/core/chart/core.ts
  packages/backend/src/server/api/endpoints/users.ts
Labels: packages/backend

#721 fix(antenna): src=list && userListId=null の場合クエリータイムアウトが発生する問題を修正
  packages/backend/src/core/AntennaService.ts
Labels: packages/backend

#722 enhance(frontend): Input の変更から API を叩く箇所の debounce と AbortController の追加
  packages/frontend/src/components/MkAutocomplete.vue
  packages/frontend/src/components/MkSignin.vue
  packages/frontend/src/components/MkUserSelectDialog.vue
  packages/frontend/src/pages/api-console.vue
Labels: packages/frontend

#725 fix(frontend): 絵文字関連のスタイルが崩れていたのを修正
  packages/frontend/src/components/MkEmojiPicker.vue
  packages/frontend/src/components/MkNotification.vue
  packages/frontend/src/components/MkReactionTooltip.vue
  packages/frontend/src/components/MkReactionsViewer.details.vue
  packages/frontend/src/pages/custom-emojis-manager.vue
Labels: packages/frontend

#719 Enhance: アカウント移行機能を使用したユーザーに対してのモデレーションの強化
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/migration/1724749627479-useraccountmovelogs.js
  packages/backend/src/core/AccountMoveService.ts
  packages/backend/src/core/CoreModule.ts
  packages/backend/src/core/activitypub/models/ApPersonService.ts
  packages/backend/src/core/entities/UserAccountMoveLogEntityService.ts
  packages/backend/src/di-symbols.ts
  packages/backend/src/misc/json-schema.ts
  packages/backend/src/models/RepositoryModule.ts
  packages/backend/src/models/UserAccountMoveLog.ts
  packages/backend/src/models/_.ts
  packages/backend/src/models/json-schema/user-account-move-log.ts
  packages/backend/src/postgres.ts
  packages/backend/src/server/api/EndpointsModule.ts
  packages/backend/src/server/api/endpoints.ts
  packages/backend/src/server/api/endpoints/admin/show-user-account-move-logs.ts
  packages/frontend/src/components/MkAccountMoved.vue
  packages/frontend/src/pages/admin/index.vue
  packages/frontend/src/pages/admin/useraccountmovelog.vue
  packages/frontend/src/pages/user/home.vue
  packages/frontend/src/router/definition.ts
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/src/autogen/apiClientJSDoc.ts
  packages/misskey-js/src/autogen/endpoint.ts
  packages/misskey-js/src/autogen/entities.ts
  packages/misskey-js/src/autogen/models.ts
  packages/misskey-js/src/autogen/types.ts
  packages/misskey-js/src/consts.ts
Labels: packages/backend, packages/frontend, packages/misskey-js

#731 Update host
  locales/en-US.yml
  locales/index.d.ts
  locales/ja-JP.yml
  package.json
  packages/backend/migration/1724749627479-useraccountmovelogs.js
  packages/backend/src/core/AccountMoveService.ts
  packages/backend/src/core/AntennaService.ts
  packages/backend/src/core/CoreModule.ts
  packages/backend/src/core/NoteCreateService.ts
  packages/backend/src/core/SearchService.ts
  packages/backend/src/core/activitypub/models/ApPersonService.ts
  packages/backend/src/core/chart/charts/per-user-pv.ts
  packages/backend/src/core/chart/core.ts
  packages/backend/src/core/entities/UserAccountMoveLogEntityService.ts
  packages/backend/src/di-symbols.ts
  packages/backend/src/misc/collapsed-queue.ts
  packages/backend/src/misc/json-schema.ts
  packages/backend/src/models/RepositoryModule.ts
  packages/backend/src/models/UserAccountMoveLog.ts
  packages/backend/src/models/_.ts
  packages/backend/src/models/json-schema/user-account-move-log.ts
  packages/backend/src/postgres.ts
  packages/backend/src/queue/processors/InboxProcessorService.ts
  packages/backend/src/server/api/EndpointsModule.ts
  packages/backend/src/server/api/endpoints.ts
  packages/backend/src/server/api/endpoints/admin/show-user-account-move-logs.ts
  packages/backend/src/server/api/endpoints/users.ts
  packages/frontend/src/components/MkAccountMoved.vue
  packages/frontend/src/components/MkAutocomplete.vue
  packages/frontend/src/components/MkEmojiPicker.vue
  packages/frontend/src/components/MkNotification.vue
  packages/frontend/src/components/MkReactionTooltip.vue
  packages/frontend/src/components/MkReactionsViewer.details.vue
  packages/frontend/src/components/MkSignin.vue
  packages/frontend/src/components/MkUserSelectDialog.vue
  packages/frontend/src/pages/admin/index.vue
  packages/frontend/src/pages/admin/useraccountmovelog.vue
  packages/frontend/src/pages/api-console.vue
  packages/frontend/src/pages/custom-emojis-manager.vue
  packages/frontend/src/pages/settings/other.vue
  packages/frontend/src/pages/user/home.vue
  packages/frontend/src/router/definition.ts
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/package.json
  packages/misskey-js/src/autogen/apiClientJSDoc.ts
  packages/misskey-js/src/autogen/endpoint.ts
  packages/misskey-js/src/autogen/entities.ts
  packages/misskey-js/src/autogen/models.ts
  packages/misskey-js/src/autogen/types.ts
  packages/misskey-js/src/consts.ts
Labels: packages/backend, packages/frontend, packages/misskey-js

#735 fix(backend/test): MisskeyIO#727 以降e2eテストがたまに失敗する問題を修正
  packages/backend/src/core/NoteCreateService.ts
  packages/backend/src/queue/processors/InboxProcessorService.ts
Labels: packages/backend

#666 Bunで動作するようにする
  .github/workflows/test-backend.yml
  .github/workflows/validate-api-json.yml
  Dockerfile
  package.json
  packages/backend/package.json
  packages/backend/src/core/ModerationLogService.ts
  packages/backend/src/models/DriveFile.ts
  packages/backend/src/models/DriveFolder.ts
  packages/re2/index.d.ts
  packages/re2/index.js
  packages/re2/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: packages/backend

#716 Use DragonflyDB
  .config/docker_example.yml
  .devcontainer/devcontainer.yml
  .devcontainer/docker-compose.yml
  .dockerignore
  .github/workflows/test-backend.yml
  .gitignore
  chart/templates/Deployment.yml
  docker-compose.local-db.yml
  docker-compose_example.yml
  packages/backend/test/docker-compose.yml
Labels: packages/backend, packages/backend:test

#733 enhance(backend): 凍結の後処理をQueueで処理するように
  packages/backend/src/core/QueueService.ts
  packages/backend/src/core/UserSuspendService.ts
  packages/backend/src/queue/QueueProcessorModule.ts
  packages/backend/src/queue/QueueProcessorService.ts
  packages/backend/src/queue/processors/DeleteAccountProcessorService.ts
  packages/backend/src/queue/processors/UserSuspendProcessorService.ts
  packages/backend/src/queue/types.ts
Labels: packages/backend

#734 fix(api/users): ページビューのデータの取得範囲が狭すぎる問題を修正
  packages/backend/src/core/chart/charts/per-user-pv.ts
  packages/backend/src/core/chart/core.ts
  packages/backend/src/server/api/endpoints/users.ts
Labels: packages/backend

#737 fix(api/users): PVランキングに誰もいない場合エラーになる問題を修正
  packages/backend/src/server/api/endpoints/users.ts
Labels: packages/backend

#739 Bump up version to 2024.5.0-io.2f
  package.json
  packages/misskey-js/package.json
Labels: packages/misskey-js

#740 Update host
  .config/docker_example.yml
  .devcontainer/devcontainer.yml
  .devcontainer/docker-compose.yml
  .dockerignore
  .github/workflows/test-backend.yml
  .gitignore
  chart/templates/Deployment.yml
  docker-compose.local-db.yml
  docker-compose_example.yml
  locales/en-US.yml
  locales/ko-KR.yml
  package.json
  packages/backend/src/core/AnnouncementService.ts
  packages/backend/src/core/NoteCreateService.ts
  packages/backend/src/core/QueueService.ts
  packages/backend/src/core/UserSuspendService.ts
  packages/backend/src/core/chart/charts/per-user-pv.ts
  packages/backend/src/core/chart/core.ts
  packages/backend/src/queue/QueueProcessorModule.ts
  packages/backend/src/queue/QueueProcessorService.ts
  packages/backend/src/queue/processors/DeleteAccountProcessorService.ts
  packages/backend/src/queue/processors/InboxProcessorService.ts
  packages/backend/src/queue/processors/UserSuspendProcessorService.ts
  packages/backend/src/queue/types.ts
  packages/backend/src/server/api/endpoints/admin/announcements/list.ts
  packages/backend/src/server/api/endpoints/users.ts
  packages/backend/test/docker-compose.yml
  packages/frontend/src/components/MkSignupDialog.form.vue
  packages/frontend/src/components/MkUserAnnouncementEditDialog.vue
  packages/frontend/src/os.ts
  packages/frontend/src/pages/admin-user.vue
  packages/frontend/src/pages/admin/announcements.vue
  packages/frontend/src/pages/settings/other.vue
  packages/frontend/src/scripts/misskey-api.ts
  packages/misskey-js/package.json
  packages/misskey-js/src/autogen/types.ts
Labels: packages/backend, packages/backend:test, packages/frontend, packages/misskey-js

#742 enhance: require captcha for signin
  packages/backend/src/server/api/SigninApiService.ts
  packages/frontend/src/components/MkCaptcha.vue
  packages/frontend/src/components/MkSignin.vue
  packages/frontend/src/components/MkSignupDialog.form.vue
Labels: packages/backend, packages/frontend

#743 Bump up version to 2024.5.0-io.2g
  package.json
  packages/misskey-js/package.json
Labels: packages/misskey-js
