Repository MisskeyIO/misskey, pull requests merged in 2024-05, with the labels that each got.

#627 Merge upstream
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  package.json
  packages/backend/package.json
  packages/backend/src/core/CoreModule.ts
  packages/backend/src/core/activitypub/ApRendererService.ts
  packages/backend/src/core/activitypub/JsonLdService.ts
  packages/backend/src/core/activitypub/models/ApNoteService.ts
  packages/backend/src/queue/processors/InboxProcessorService.ts
  packages/backend/src/server/api/endpoints/fetch-rss.ts
  packages/backend/test/unit/activitypub.ts
  packages/frontend/.storybook/fakes.ts
  packages/frontend/.storybook/generate.tsx
  packages/frontend/.storybook/main.ts
  packages/frontend/.storybook/mocks.ts
  packages/frontend/.storybook/preview-head.html
  packages/frontend/package.json
  packages/frontend/src/components/MkAccountMoved.stories.impl.ts
  packages/frontend/src/components/MkAnnouncementDialog.stories.impl.ts
  packages/frontend/src/components/MkFeaturedPhotos.vue
  packages/frontend/src/components/MkPostForm.vue
  packages/frontend/src/components/MkPostFormDialog.vue
  packages/frontend/src/components/MkSignupDialog.rules.stories.impl.ts
  packages/frontend/src/components/MkVisitorDashboard.vue
  packages/frontend/src/components/global/MkAd.stories.impl.ts
  packages/frontend/src/components/global/MkAvatar.stories.impl.ts
  packages/frontend/src/components/global/MkCondensedLine.stories.impl.ts
  packages/frontend/src/components/global/MkError.stories.meta.ts
  packages/frontend/src/components/global/MkPageHeader.stories.impl.ts
  packages/frontend/src/components/global/MkPageHeader.tabs.vue
  packages/frontend/src/components/global/MkTime.stories.impl.ts
  packages/frontend/src/components/global/MkUserName.stories.impl.ts
  packages/frontend/src/instance.ts
  packages/frontend/src/pages/contact.vue
  packages/frontend/src/pages/welcome.entrance.a.vue
  packages/frontend/src/pages/welcome.entrance.special.vue
  packages/frontend/src/pages/welcome.vue
  packages/frontend/src/router/definition.ts
  packages/frontend/src/scripts/get-note-menu.ts
  packages/frontend/src/store.ts
  packages/frontend/src/ui/_common_/common.ts
  packages/frontend/src/ui/_common_/statusbar-rss.vue
  packages/frontend/src/ui/visitor.vue
  packages/frontend/src/widgets/WidgetRss.vue
  packages/frontend/src/widgets/WidgetRssTicker.vue
  packages/misskey-bubble-game/package.json
  packages/misskey-js/generator/package.json
  packages/misskey-js/package.json
  packages/misskey-js/src/autogen/types.ts
  packages/misskey-reversi/package.json
  packages/sw/package.json
  pnpm-lock.yaml
Labels: packages/backend, packages/backend:test, packages/frontend, packages/sw, packages/misskey-js

#629 Merge upstream
  CHANGELOG.md
  package.json
  packages/backend/package.json
  packages/backend/src/server/api/endpoints/i/2fa/key-done.ts
  packages/backend/src/server/web/ClientServerService.ts
  packages/frontend/package.json
  packages/frontend/src/components/MkAbuseReport.vue
  packages/frontend/src/components/MkAsUi.vue
  packages/frontend/src/components/MkLink.vue
  packages/frontend/src/components/MkMention.vue
  packages/frontend/src/components/global/MkA.vue
  packages/frontend/src/components/global/MkMisskeyFlavoredMarkdown.ts
  packages/frontend/src/components/global/MkUrl.vue
  packages/frontend/src/pages/admin-user.vue
  packages/frontend/src/pages/admin/roles.role.vue
  packages/frontend/src/scripts/aiscript/ui.ts
  packages/frontend/src/scripts/get-user-menu.ts
  packages/misskey-bubble-game/package.json
  packages/misskey-js/generator/package.json
  packages/misskey-js/package.json
  packages/misskey-reversi/package.json
  packages/sw/package.json
  pnpm-lock.yaml
Labels: packages/backend, packages/frontend, packages/sw, packages/misskey-js

#631 Merge upstream
  .devcontainer/devcontainer.json
  .devcontainer/init.sh
  .github/FUNDING.yml
  packages/backend/src/core/entities/UserEntityService.ts
Labels: packages/backend

#632 spec(frontend): kawaii モード
  packages/frontend/assets/kawaii/LICENSE_SAWARATSUKI_KawaiiLogos
  packages/frontend/assets/kawaii/about-icon.png
  packages/frontend/assets/kawaii/misskey-io.png
  packages/frontend/src/boot/common.ts
  packages/frontend/src/components/MkVisitorDashboard.vue
  packages/frontend/src/local-storage.ts
  packages/frontend/src/pages/about-misskey.vue
  packages/frontend/src/pages/about.vue
  packages/frontend/src/pages/user/home.vue
  packages/frontend/src/scripts/rate-limiter.ts
  packages/frontend/src/ui/_common_/navbar.vue
Labels: packages/frontend

#633 enhance(frontend): センシティブとして設定されたURLのプレビューサムネイルのblur調整
  packages/frontend/src/components/MkUrlPreview.vue
Labels: packages/frontend

#630 enhance(backend): 投票の選択肢に対してもセンシティブワード検出を行うように
  packages/backend/src/core/NoteCreateService.ts
Labels: packages/backend

#637 Bump up version to 2024.5.0-io.1
  package.json
  packages/misskey-js/package.json
Labels: packages/misskey-js

#640 chore(frontend): CSSのwarning解消、i18n
  packages/frontend/src/components/MkAbuseReport.vue
  packages/frontend/src/pages/about.vue
Labels: packages/frontend

#641 fix(backend): pnpm devが動作しない問題を修正
  packages/backend/package.json
  packages/backend/scripts/dev.mjs
Labels: packages/backend

#638 enhance(backend): MisskeyIO#615 のパフォーマンス改善
  packages/backend/src/queue/processors/ReportAbuseProcessorService.ts
  packages/backend/src/server/api/endpoints/admin/resolve-abuse-user-report.ts
  packages/backend/src/server/api/endpoints/users/report-abuse.ts
Labels: packages/backend

#639 feat(announcement): 個別のお知らせにリンクで飛べるように
  packages/backend/src/core/AnnouncementService.ts
  packages/backend/src/server/api/EndpointsModule.ts
  packages/backend/src/server/api/endpoints.ts
  packages/backend/src/server/api/endpoints/announcement.ts
  packages/frontend/src/pages/announcement.vue
  packages/frontend/src/pages/announcements.vue
  packages/frontend/src/router/definition.ts
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/src/autogen/apiClientJSDoc.ts
  packages/misskey-js/src/autogen/endpoint.ts
  packages/misskey-js/src/autogen/entities.ts
  packages/misskey-js/src/autogen/types.ts
Labels: packages/backend, packages/frontend, packages/misskey-js

#644 fix(frontend/ui/navbar): kawaiiモード時のロゴの表示を修正
  packages/frontend/src/ui/_common_/navbar.vue
Labels: packages/frontend
