Repository MisskeyIO/misskey, pull requests merged in 2024-11, with the labels that each got.

#783 spec(frontend): みつけるに表示される項目の調整
  packages/frontend/src/components/MkUserSetupDialog.vue
  packages/frontend/src/pages/explore.users.vue
Labels: packages/frontend

#784 feat(analytics): Google Analytics・同意モード・一部機能のトラッキング実装
  .config/docker_example.yml
  .config/example.yml
  locales/en-US.yml
  locales/index.d.ts
  locales/ja-JP.yml
  locales/ko-KR.yml
  packages/backend/migration/1730629332694-GoogleAnalyticsId.js
  packages/backend/src/NestLogger.ts
  packages/backend/src/boot/entry.ts
  packages/backend/src/boot/master.ts
  packages/backend/src/core/DriveService.ts
  packages/backend/src/core/FetchInstanceMetadataService.ts
  packages/backend/src/core/LoggerService.ts
  packages/backend/src/core/NoteCreateService.ts
  packages/backend/src/core/UserBlockingService.ts
  packages/backend/src/core/UserFollowingService.ts
  packages/backend/src/core/activitypub/ApRequestService.ts
  packages/backend/src/core/activitypub/ApResolverService.ts
  packages/backend/src/core/entities/MetaEntityService.ts
  packages/backend/src/logger.ts
  packages/backend/src/models/Meta.ts
  packages/backend/src/models/Poll.ts
  packages/backend/src/models/json-schema/meta.ts
  packages/backend/src/queue/processors/UserSuspendProcessorService.ts
  packages/backend/src/server/api/SigninApiService.ts
  packages/backend/src/server/api/SignupApiService.ts
  packages/backend/src/server/api/endpoints/admin/meta.ts
  packages/backend/src/server/api/endpoints/admin/update-meta.ts
  packages/backend/src/server/api/endpoints/announcement.ts
  packages/backend/src/server/api/endpoints/federation/instances.ts
  packages/backend/src/server/api/endpoints/i.ts
  packages/backend/src/server/api/endpoints/i/update.ts
  packages/backend/src/server/web/ClientServerService.ts
  packages/backend/test/unit/chart.ts
  packages/frontend/@types/vue-gtag.d.ts
  packages/frontend/package.json
  packages/frontend/src/account.ts
  packages/frontend/src/boot/common.ts
  packages/frontend/src/boot/main-boot.ts
  packages/frontend/src/components/MkTrackingConsent.vue
  packages/frontend/src/components/global/MkAd.vue
  packages/frontend/src/index.html
  packages/frontend/src/local-storage.ts
  packages/frontend/src/nirax.ts
  packages/frontend/src/pages/admin/external-services.vue
  packages/frontend/src/pages/settings/privacy.vue
  packages/frontend/src/router/main.ts
  packages/frontend/src/scripts/aiscript/api.ts
  packages/frontend/src/scripts/misskey-api.ts
  packages/frontend/src/scripts/usage-report.ts
  packages/frontend/vue-shims.d.ts
  packages/misskey-js/src/autogen/types.ts
  pnpm-lock.yaml
Labels: packages/backend, packages/backend:test, packages/frontend, packages/misskey-js

#786 update deps
  package.json
  packages/backend/package.json
  packages/frontend/package.json
  packages/misskey-bubble-game/package.json
  packages/misskey-js/generator/package.json
  packages/misskey-js/package.json
  packages/misskey-reversi/package.json
  packages/sw/package.json
  pnpm-lock.yaml
  scripts/changelog-checker/.eslintrc.cjs
  scripts/changelog-checker/.gitignore
  scripts/changelog-checker/package.json
  scripts/changelog-checker/src/checker.ts
  scripts/changelog-checker/src/index.ts
  scripts/changelog-checker/src/parser.ts
  scripts/changelog-checker/test/checker.test.ts
  scripts/changelog-checker/tsconfig.json
  scripts/changelog-checker/vite.config.ts
Labels: packages/backend, packages/frontend, packages/sw, packages/misskey-js

#788 fix(typescript): vue-gtagのタイプ定義の修正
  packages/frontend/@types/vue-gtag.d.ts
Labels: packages/frontend

#787 Cherry-picked from upstream
  CHANGELOG.md
  locales/en-US.yml
  locales/index.d.ts
  locales/ja-JP.yml
  locales/ko-KR.yml
  packages/backend/src/core/DriveService.ts
  packages/backend/src/core/MfmService.ts
  packages/backend/src/server/api/endpoints/admin/avatar-decorations/create.ts
  packages/backend/src/server/api/endpoints/admin/avatar-decorations/list.ts
  packages/backend/src/server/web/ClientServerService.ts
  packages/frontend/src/_boot_.ts
  packages/frontend/src/account.ts
  packages/frontend/src/boot/common.ts
  packages/frontend/src/components/MkAuthConfirm.stories.impl.ts
  packages/frontend/src/components/MkAuthConfirm.vue
  packages/frontend/src/components/MkModalWindow.vue
  packages/frontend/src/components/MkSignupDialog.vue
  packages/frontend/src/pages/avatar-decoration-edit-dialog.vue
  packages/frontend/src/pages/avatar-decorations.vue
  packages/frontend/src/pages/miauth.vue
  packages/frontend/src/pages/oauth.vue
  packages/frontend/src/pages/settings/accounts.vue
  packages/frontend/src/pages/settings/avatar-decoration.decoration.vue
  packages/frontend/src/pages/settings/avatar-decoration.dialog.vue
  packages/frontend/src/pages/sso.vue
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/src/autogen/endpoint.ts
  packages/misskey-js/src/autogen/entities.ts
  packages/misskey-js/src/autogen/types.ts
  packages/misskey-js/src/streaming.ts
Labels: packages/backend, packages/frontend, packages/misskey-js

#789 Bump up version to 2024.5.0-io.4
  package.json
  packages/misskey-js/package.json
Labels: packages/misskey-js

#791 feat(analytics): イベントの重複フィルターの修正
  packages/frontend/src/scripts/usage-report.ts
Labels: packages/frontend

#792 spec(SSO/SAML): Attribute追加
  packages/backend/src/server/sso/SAMLIdentifyProviderService.ts
Labels: packages/backend

#793 feat(analytics): デッキUIのページ移動とAPIの応答時間のイベント実装
  packages/frontend/src/account.ts
  packages/frontend/src/boot/common.ts
  packages/frontend/src/components/MkPageWindow.vue
  packages/frontend/src/scripts/misskey-api.ts
Labels: packages/frontend

#794 Bump up version to 2024.5.0-io.4a
  package.json
  packages/misskey-js/package.json
Labels: packages/misskey-js

#795 Update host
  package.json
  packages/backend/src/server/sso/SAMLIdentifyProviderService.ts
  packages/frontend/src/account.ts
  packages/frontend/src/boot/common.ts
  packages/frontend/src/components/MkPageWindow.vue
  packages/frontend/src/scripts/misskey-api.ts
  packages/frontend/src/scripts/usage-report.ts
  packages/misskey-js/package.json
Labels: packages/backend, packages/frontend, packages/misskey-js

#798 update deps
  package.json
  packages/backend/package.json
  packages/backend/src/server/web/UrlPreviewService.ts
  packages/frontend/package.json
  packages/misskey-js/package.json
  pnpm-lock.yaml
Labels: packages/backend, packages/frontend, packages/misskey-js

#799 Fix code scanning alert no. 25: Incomplete URL scheme check
  packages/frontend/src/pages/auth.vue
  packages/frontend/src/pages/miauth.vue
Labels: packages/frontend

#802 update deps
  package.json
  packages/backend/package.json
  packages/frontend/package.json
  pnpm-lock.yaml
Labels: packages/backend, packages/frontend

#800 Fix code scanning alert no. 28: Incomplete string escaping or encoding
  packages/backend/src/misc/sql-like-escape.ts
Labels: packages/backend

#801 Fix code scanning alert no. 27: DOM text reinterpreted as HTML
  packages/frontend/src/scripts/sound.ts
Labels: packages/frontend

#804 Bump up version to 2024.5.0-io.4b
  package.json
  packages/misskey-js/package.json
Labels: packages/misskey-js

#806 fix(frontend): 引用RNの判定の条件が不完全だった問題を修正
  packages/frontend/src/scripts/get-note-menu.ts
Labels: packages/frontend

#812 fix(about-report-resolver): 転送設定を一度有効にすると戻すことができない問題を修正
  packages/backend/src/server/api/endpoints/admin/abuse-report-resolver/update.ts
Labels: packages/backend

#813 fix(frontend): ユーザーのプロフィールページ閲覧時エラーが発生することがある問題を修正
  packages/frontend/src/components/MkAccountMoved.vue
Labels: packages/frontend

#814 spec(Email/Verifymail): MXレコードのドメインにもBANが適用されるように
  packages/backend/src/core/EmailService.ts
Labels: packages/backend

#815 スマホで表示した時にipv6だとはみ出てしまうのを修正
  packages/frontend/src/pages/admin-user.vue
Labels: packages/frontend

#816 spec(sound/note): デフォルトの他人の投稿の効果音をオフに
  packages/frontend/src/store.ts
Labels: packages/frontend

#820 Enhance(Gallery): サムネイルをホバーしてもぼかしが外れないように & ギャラリーの説明を一番上に表示するように
  packages/frontend/src/components/MkGalleryPostPreview.vue
  packages/frontend/src/pages/gallery/post.vue
Labels: packages/frontend

#822 use node 22, update deps
  .github/ISSUE_TEMPLATE/01_bug-report.yml
  .github/workflows/test-backend.yml
  .github/workflows/test-frontend.yml
  .github/workflows/test-misskey-js.yml
  .github/workflows/test-production.yml
  .github/workflows/validate-api-json.yml
  .node-version
  Dockerfile
  package.json
  packages/backend/package.json
  packages/backend/src/misc/queues.ts
  packages/backend/test/e2e/fetch-resource.ts
  packages/frontend/package.json
  packages/frontend/vite.config.ts
  packages/misskey-bubble-game/package.json
  packages/misskey-js/generator/package.json
  packages/misskey-js/package.json
  packages/misskey-reversi/package.json
  packages/sw/build.js
  packages/sw/package.json
  pnpm-lock.yaml
  scripts/build-assets.mjs
Labels: packages/backend, packages/backend:test, packages/frontend, packages/sw, packages/misskey-js

#824 update deps
  package.json
  packages/backend/package.json
  packages/frontend/package.json
  packages/misskey-bubble-game/package.json
  packages/misskey-js/generator/package.json
  packages/misskey-js/package.json
  packages/misskey-reversi/package.json
  packages/sw/package.json
  pnpm-lock.yaml
Labels: packages/backend, packages/frontend, packages/sw, packages/misskey-js

#825 code cleanup
  packages/backend/src/core/FileInfoService.ts
  packages/backend/src/decorators.ts
  packages/backend/src/server/oauth/OAuth2ProviderService.ts
  packages/backend/src/server/web/bios.css
  packages/backend/src/server/web/boot.js
  packages/backend/src/server/web/cli.css
  packages/backend/src/server/web/flush.js
  packages/backend/test-server/tsconfig.json
  packages/backend/test/tsconfig.json
  packages/backend/test/unit/ap-request.ts
  packages/backend/tsconfig.json
  packages/frontend/src/components/MkNote.vue
  packages/frontend/src/components/MkNoteDetailed.vue
  packages/frontend/src/components/MkPollEditor.vue
  packages/frontend/src/unicode-emoji-indexes/en-US.json
  packages/frontend/test/tsconfig.json
  packages/frontend/tsconfig.json
  packages/misskey-bubble-game/src/game.ts
  packages/misskey-bubble-game/tsconfig.json
  packages/misskey-js/tsconfig.json
  packages/misskey-reversi/tsconfig.json
  packages/sw/tsconfig.json
Labels: packages/backend, packages/backend:test, packages/frontend, packages/sw, packages/misskey-js
