Repository MisskeyIO/misskey, pull requests merged in 2024-02, with the labels that each got.

#397 feat(emoji): 管理用のカスタム絵文字フィールドの追加
  locales/en-US.yml
  locales/index.d.ts
  locales/ja-JP.yml
  locales/ko-KR.yml
  packages/backend/migration/1706723072096-emoji-more-fields.js
  packages/backend/src/core/CustomEmojiService.ts
  packages/backend/src/core/entities/EmojiEntityService.ts
  packages/backend/src/models/Emoji.ts
  packages/backend/src/models/json-schema/emoji.ts
  packages/backend/src/queue/processors/ImportCustomEmojisProcessorService.ts
  packages/backend/src/server/api/endpoints/admin/emoji/add.ts
  packages/backend/src/server/api/endpoints/admin/emoji/copy.ts
  packages/backend/src/server/api/endpoints/admin/emoji/list-remote.ts
  packages/backend/src/server/api/endpoints/admin/emoji/list.ts
  packages/backend/src/server/api/endpoints/admin/emoji/update.ts
  packages/frontend/src/pages/custom-emojis-manager.vue
  packages/frontend/src/pages/emoji-edit-dialog.vue
  packages/misskey-js/src/autogen/types.ts
Labels: packages/backend, packages/frontend, packages/misskey-js

#392 fix(frontend): Chromeのパスワードマネージャーにあらゆる入力欄がパスワード扱いをさせる問題を回避
  packages/frontend/src/components/MkColorInput.vue
  packages/frontend/src/components/MkDrive.vue
  packages/frontend/src/components/MkEmojiPicker.vue
  packages/frontend/src/components/MkGoogle.vue
  packages/frontend/src/components/MkInput.vue
  packages/frontend/src/components/MkMediaList.vue
  packages/frontend/src/components/MkMediaRange.vue
  packages/frontend/src/components/MkPostForm.vue
  packages/frontend/src/components/MkRadio.vue
  packages/frontend/src/components/MkSwitch.vue
  packages/frontend/src/pages/admin/ads.vue
  packages/frontend/src/pages/oauth.vue
  packages/frontend/src/pages/settings/theme.vue
Labels: packages/frontend

#398 Merge upstream
  .github/workflows/check-misskey-js-version.yml
  .github/workflows/test-misskey-js.yml
  packages/frontend/src/components/MkUserSelectDialog.vue
  packages/frontend/src/pages/reversi/index.vue
Labels: packages/frontend

#399 Bump up version to 2024.1.0-io.1h
  package.json
  packages/misskey-js/package.json
Labels: packages/misskey-js

#400 fix(backend/admin/emoji/list): 検索が正常に動作しない問題を修正
  packages/backend/src/server/api/endpoints/admin/emoji/list.ts
Labels: packages/backend

#401 Bump up version to 2024.1.0-io.1i
  package.json
  packages/misskey-js/package.json
Labels: packages/misskey-js

#403 Merge upstream
  .github/workflows/test-backend.yml
  .github/workflows/test-frontend.yml
  .github/workflows/test-misskey-js.yml
  CHANGELOG.md
  locales/ca-ES.yml
  locales/de-DE.yml
  locales/en-US.yml
  locales/fr-FR.yml
  locales/ko-GS.yml
  locales/ko-KR.yml
  locales/zh-CN.yml
  locales/zh-TW.yml
  packages/backend/generate_api_json.js
  packages/backend/migration/1706791962000-fix-meta-disableRegistration.js
  packages/backend/src/core/entities/UserEntityService.ts
  packages/backend/src/misc/json-schema.ts
  packages/backend/src/models/json-schema/page.ts
  packages/backend/src/server/api/endpoints/users/reactions.ts
  packages/backend/src/server/api/openapi/gen-spec.ts
  packages/backend/src/server/api/openapi/schemas.ts
  packages/frontend/package.json
  packages/frontend/src/boot/main-boot.ts
  packages/frontend/src/components/MkAutocomplete.vue
  packages/frontend/src/components/MkChartLegend.vue
  packages/frontend/src/components/MkCode.core.vue
  packages/frontend/src/components/MkMediaVideo.vue
  packages/frontend/src/components/MkNote.vue
  packages/frontend/src/components/MkPostForm.vue
  packages/frontend/src/components/MkUserSelectDialog.vue
  packages/frontend/src/components/global/MkAvatar.vue
  packages/frontend/src/os.ts
  packages/frontend/src/pages/admin/proxy-account.vue
  packages/frontend/src/pages/admin/roles.role.vue
  packages/frontend/src/pages/admin/users.vue
  packages/frontend/src/pages/my-antennas/editor.vue
  packages/frontend/src/pages/search.note.vue
  packages/frontend/src/pages/user/index.vue
  packages/frontend/src/scripts/code-highlighter.ts
  packages/frontend/src/scripts/snowfall-effect.ts
  pnpm-lock.yaml
  scripts/build-assets.mjs
Labels: packages/backend, packages/frontend

#404 fix(backend): OAuth2認証ができない問題を修正
  packages/backend/src/server/oauth/OAuth2ProviderService.ts
Labels: packages/backend

#405 Bump up version to 2024.2.0-io.1
  package.json
  packages/misskey-js/package.json
  packages/misskey-js/src/autogen/apiClientJSDoc.ts
  packages/misskey-js/src/autogen/endpoint.ts
  packages/misskey-js/src/autogen/entities.ts
  packages/misskey-js/src/autogen/models.ts
  packages/misskey-js/src/autogen/types.ts
Labels: packages/misskey-js

#406 Merge upstream
  packages/backend/src/core/EmailService.ts
  packages/backend/src/core/InstanceActorService.ts
  packages/backend/src/core/SignupService.ts
  packages/backend/src/core/activitypub/models/ApPersonService.ts
  packages/backend/src/server/api/endpoints/admin/accounts/create.ts
  packages/backend/src/server/api/endpoints/meta.ts
Labels: packages/backend

#407 fix(frontend): 投稿フォームのセンシティブとして設定メニューのアイコンが間違っていたのを修正
  packages/frontend/src/components/MkPostFormAttaches.vue
Labels: packages/frontend

#408 Bump up version to 2024.2.0-io.1a
  package.json
  packages/misskey-js/package.json
Labels: packages/misskey-js

#410 Merge upstream
  CHANGELOG.md
  locales/ca-ES.yml
  locales/it-IT.yml
  locales/ko-GS.yml
  locales/ko-KR.yml
  packages/frontend/src/components/MkCropperDialog.vue
  packages/frontend/src/os.ts
  packages/frontend/src/pages/about-misskey.vue
Labels: packages/frontend

#411 Bump up version to 2024.2.0-io.1b
  package.json
  packages/misskey-js/package.json
Labels: packages/misskey-js

#412 Merge upstream
  CHANGELOG.md
  packages/backend/src/core/activitypub/ApRendererService.ts
  packages/backend/src/core/entities/EmojiEntityService.ts
  packages/backend/src/models/json-schema/emoji.ts
  packages/frontend/src/components/MkCode.core.vue
  packages/frontend/src/components/MkCode.vue
  packages/frontend/src/components/MkCodeEditor.vue
  packages/frontend/src/components/MkCodeInline.vue
  packages/frontend/src/components/MkEmojiPicker.vue
  packages/frontend/src/components/MkEmojiPickerDialog.vue
  packages/frontend/src/components/MkEmojiPickerWindow.vue
  packages/frontend/src/components/MkLaunchPad.vue
  packages/frontend/src/components/MkNote.vue
  packages/frontend/src/components/MkNoteDetailed.vue
  packages/frontend/src/components/MkReactionsViewer.reaction.vue
  packages/frontend/src/components/MkSelect.vue
  packages/frontend/src/components/global/RouterView.vue
  packages/frontend/src/events.ts
  packages/frontend/src/pages/admin/branding.vue
  packages/frontend/src/pages/drop-and-fusion.game.vue
  packages/frontend/src/pages/settings/emoji-picker.vue
  packages/frontend/src/pages/settings/profile.vue
  packages/frontend/src/pages/settings/theme.vue
  packages/frontend/src/pizzax.ts
  packages/frontend/src/router/main.ts
  packages/frontend/src/scripts/check-reaction-permissions.ts
  packages/frontend/src/scripts/clone.ts
  packages/frontend/src/scripts/code-highlighter.ts
  packages/frontend/src/scripts/merge.ts
  packages/frontend/src/scripts/reaction-picker.ts
  packages/frontend/src/scripts/theme.ts
  packages/frontend/src/themes/_dark.json5
  packages/frontend/src/themes/_light.json5
  packages/misskey-js/generator/src/generator.ts
  packages/misskey-js/src/autogen/apiClientJSDoc.ts
  packages/misskey-js/src/autogen/endpoint.ts
  packages/misskey-js/src/autogen/entities.ts
  packages/misskey-js/src/autogen/models.ts
  packages/misskey-js/src/autogen/types.ts
Labels: packages/backend, packages/frontend, packages/misskey-js

#413 Bump up version to 2024.2.0-io.1c
  package.json
  packages/misskey-js/package.json
Labels: packages/misskey-js

#416 spec(backend): データベースのキャッシュにRedisの代わりにin-memoryキャッシュを使用する
  packages/backend/src/config.ts
  packages/backend/src/postgres.ts
Labels: packages/backend

#417 Bump up version to 2024.2.0-io.1d
  package.json
  packages/misskey-js/package.json
Labels: packages/misskey-js

#418 deps(frontend): Downgrade Vue to 3.4.15
  packages/frontend/package.json
  pnpm-lock.yaml
Labels: packages/frontend

#419 Bump up version to 2024.2.0-io.1e
  package.json
  packages/misskey-js/package.json
Labels: packages/misskey-js

#420 Merge upstream
  CHANGELOG.md
  locales/en-US.yml
  locales/index.d.ts
  locales/ja-JP.yml
  locales/ko-KR.yml
  packages/backend/migration/1707429690000-prohibited-words.js
  packages/backend/src/core/HashtagService.ts
  packages/backend/src/core/NoteCreateService.ts
  packages/backend/src/core/UtilityService.ts
  packages/backend/src/models/Meta.ts
  packages/backend/src/server/api/endpoints/admin/meta.ts
  packages/backend/src/server/api/endpoints/admin/update-meta.ts
  packages/backend/src/server/api/endpoints/notes/create.ts
  packages/backend/test/e2e/note.ts
  packages/frontend/src/pages/admin/moderation.vue
  packages/misskey-js/src/autogen/types.ts
Labels: packages/backend, packages/backend:test, packages/frontend, packages/misskey-js

#421 Bump up version to 2024.2.0-io.1f
  package.json
  packages/misskey-js/package.json
Labels: packages/misskey-js

#423 Merge upstream
  .github/workflows/lint.yml
  locales/ca-ES.yml
  locales/cs-CZ.yml
  locales/de-DE.yml
  locales/en-US.yml
  locales/es-ES.yml
  locales/id-ID.yml
  locales/it-IT.yml
  locales/ja-KS.yml
  locales/ru-RU.yml
  locales/th-TH.yml
  locales/zh-CN.yml
  locales/zh-TW.yml
  package.json
  packages/backend/package.json
  packages/frontend/package.json
  packages/frontend/src/boot/common.ts
  packages/misskey-bubble-game/package.json
  packages/misskey-js/generator/package.json
  packages/misskey-js/package.json
  packages/misskey-reversi/package.json
  packages/sw/package.json
  pnpm-lock.yaml
Labels: packages/backend, packages/frontend, packages/sw, packages/misskey-js

#424 verifymail.io のレスポンスをキャッシュする
  packages/backend/src/core/EmailService.ts
Labels: packages/backend

#425 spec(backend): severityのラベルをJSON形式のログに追加
  packages/backend/src/logger.ts
Labels: packages/backend

#426 Bump up version to 2024.2.0-io.1g
  package.json
  packages/misskey-js/package.json
Labels: packages/misskey-js

#427 deps(frontend): Downgrade Vue to 3.4.15
  packages/frontend/package.json
  pnpm-lock.yaml
Labels: packages/frontend

#428 Bump up version to 2024.2.0-io.1h
  package.json
  packages/misskey-js/package.json
Labels: packages/misskey-js

#429 ドメイン単位にしたことにより捨てアドチェックが壊れていた問題を修正
  packages/backend/src/core/EmailService.ts
Labels: packages/backend

#431 chore(logging): `severity`フィールドがログに出てくる問題を修正
  packages/backend/src/logger.ts
Labels: packages/backend

#432 spec(backend/notes/create): ネットワーク不安定・高負荷時ノートが重複して投稿される問題を修正
  packages/backend/src/server/api/endpoints/notes/create.ts
  packages/backend/test/e2e/antennas.ts
  packages/backend/test/e2e/note.ts
  packages/backend/test/e2e/renote-mute.ts
  packages/backend/test/e2e/streaming.ts
  packages/backend/test/utils.ts
Labels: packages/backend, packages/backend:test

#434 ci(test-frontend): cypressのテストの失敗時、永遠に止まらない問題を回避
  .github/workflows/test-frontend.yml
  cypress/e2e/basic.cy.js
  cypress/e2e/router.cy.js
Labels: packages/frontend:test

#433 Bump up version to 2024.2.0-io.1j
  package.json
  packages/misskey-js/package.json
Labels: packages/misskey-js

#436 fix(backend): クエリーのキャッシュ設定が期待通りの実装ではなかった問題を修正
  packages/backend/src/postgres.ts
Labels: packages/backend

#437 spec(backend): リモートの投稿にも禁止ワードを適用
  packages/backend/src/core/NoteCreateService.ts
Labels: packages/backend

#440 fix(backend/test): MisskeyIO#437 によりテストが失敗する問題を修正
  packages/backend/test/e2e/note.ts
  packages/backend/test/unit/activitypub.ts
Labels: packages/backend, packages/backend:test

#438 spec(frontend): aboutページにリポジトリ・フィードバックのURLを表示させる
  locales/en-US.yml
  locales/index.d.ts
  locales/ja-JP.yml
  locales/ko-KR.yml
  packages/backend/src/server/api/endpoints/admin/update-meta.ts
  packages/frontend/src/pages/about.vue
  packages/frontend/src/pages/admin/branding.vue
  packages/misskey-js/src/autogen/types.ts
Labels: packages/backend, packages/frontend, packages/misskey-js

#439 Bump up version to 2024.2.0-io.1k
  package.json
  packages/misskey-js/package.json
Labels: packages/misskey-js

#441 spec(frontend): aboutページのUI調整
  packages/frontend/src/pages/about.vue
Labels: packages/frontend

#442 fix(models): `disableRegistration`のデフォルト値が更新されていなかったので
  packages/backend/src/models/Meta.ts
Labels: packages/backend

#443 spec(OAuth2): クライアント情報のDiscoveryの対応していないクライアントのためにクライアント情報を登録できるように
  packages/backend/migration/1707697398681-indie-auth-client.js
  packages/backend/src/di-symbols.ts
  packages/backend/src/models/IndieAuthClient.ts
  packages/backend/src/models/RepositoryModule.ts
  packages/backend/src/models/_.ts
  packages/backend/src/postgres.ts
  packages/backend/src/server/api/EndpointsModule.ts
  packages/backend/src/server/api/endpoints.ts
  packages/backend/src/server/api/endpoints/admin/indie-auth/create.ts
  packages/backend/src/server/api/endpoints/admin/indie-auth/delete.ts
  packages/backend/src/server/api/endpoints/admin/indie-auth/list.ts
  packages/backend/src/server/api/endpoints/admin/indie-auth/update.ts
  packages/backend/src/server/oauth/OAuth2ProviderService.ts
  packages/backend/src/types.ts
  packages/frontend/src/pages/admin/security.vue
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/src/autogen/apiClientJSDoc.ts
  packages/misskey-js/src/autogen/endpoint.ts
  packages/misskey-js/src/autogen/entities.ts
  packages/misskey-js/src/autogen/types.ts
  packages/misskey-js/src/consts.ts
  packages/misskey-js/src/entities.ts
Labels: packages/backend, packages/frontend, packages/misskey-js

#444 Revert "fix(models): `disableRegistration`のデフォルト値が更新されていなかったので"
  packages/backend/src/models/Meta.ts
Labels: packages/backend

#447 Bump up version to 2024.2.0-io.1l
  package.json
  packages/misskey-js/package.json
Labels: packages/misskey-js

#451 spec(api): Misskey内部の`notifications/create`のレートリミットを廃止
  packages/backend/src/server/api/endpoints/notifications/create.ts
Labels: packages/backend

#452 enhance(NoteCreateService): センシティブワード・禁止ワード設定に関するログを追加
  packages/backend/src/core/NoteCreateService.ts
Labels: packages/backend

#453 リモートユーザーが復活してもキャッシュにより該当ユーザーのActivityが受け入れられないのを修正 (misskey-dev#13275)
  CHANGELOG.md
  packages/backend/src/core/CacheService.ts
  packages/backend/src/core/activitypub/ApDbResolverService.ts
  packages/backend/src/core/activitypub/ApInboxService.ts
Labels: packages/backend

#454 Bump up version to 2024.2.0-io.1m
  package.json
  packages/misskey-js/package.json
Labels: packages/misskey-js

#455 fix(misskey-js): `notifications/create`のレスポンスの型の更新
  packages/misskey-js/src/autogen/types.ts
Labels: packages/misskey-js

#457 spec(backend): 一部のエンドポイントにログを追加
  packages/backend/src/logger.ts
  packages/backend/src/server/api/SigninApiService.ts
  packages/backend/src/server/api/SignupApiService.ts
  packages/backend/src/server/api/endpoints/federation/instances.ts
  packages/backend/src/server/api/endpoints/notes/create.ts
Labels: packages/backend

#458 Bump up version to 2024.2.0-io.2
  package.json
  packages/misskey-js/package.json
Labels: packages/misskey-js

#459 fix(backend/logger): `context`の引数を渡すとloggerに設定されたcontextが上書きされてしまう問題を修正
  packages/backend/src/logger.ts
Labels: packages/backend

#460 hotfix(backend): GHSA-qqrm-9grj-6v32
  packages/backend/src/core/HttpRequestService.ts
  packages/backend/src/core/activitypub/ApRequestService.ts
  packages/backend/src/core/activitypub/ApResolverService.ts
  packages/backend/src/core/activitypub/LdSignatureService.ts
  packages/backend/src/core/activitypub/misc/validator.ts
  packages/backend/test/e2e/fetch-validate-ap-deny.ts
  packages/backend/test/unit/activitypub.ts
  packages/backend/test/utils.ts
Labels: packages/backend, packages/backend:test

#461 Bump up version to 2024.2.0-io.2a
  package.json
  packages/misskey-js/package.json
Labels: packages/misskey-js

#462 spec(backend/NoteCreateService): ローカルユーザーがまだ誰もフォローしていないリモートユーザーによる通知を引き起こす可能性のある投稿を拒否できるように
  packages/backend/src/core/NoteCreateService.ts
Labels: packages/backend

#463 spec(backend): IdentifiableErrorの場合もエラーメッセージが正常に表示されるように
  packages/backend/src/core/DriveService.ts
  packages/backend/src/core/NoteCreateService.ts
  packages/backend/src/core/ReactionService.ts
  packages/backend/src/core/UserAuthService.ts
  packages/backend/src/core/UserFollowingService.ts
  packages/backend/src/core/WebAuthnService.ts
  packages/backend/src/misc/identifiable-error.ts
  packages/backend/src/server/api/ApiCallService.ts
  packages/backend/src/server/api/error.ts
Labels: packages/backend

#464 Bump up version to 2024.2.0-io.2b
  package.json
  packages/misskey-js/package.json
Labels: packages/misskey-js

#465 fix(backend/oauth/api/userinfo): `updated_at`の実装が間違っている問題を修正
  packages/backend/src/server/oauth/OAuth2ProviderService.ts
Labels: packages/backend

#466 spec(backend/NoteCreateService): ローカルユーザーがまだ誰もフォローしていないリモートユーザーによる投稿のフィルターの条件の調整
  packages/backend/src/core/NoteCreateService.ts
Labels: packages/backend

#467 Bump up version to 2024.2.0-io.2c
  package.json
  packages/misskey-js/package.json
Labels: packages/misskey-js

#468 fix: 禁止キーワードを含むノートやリモートの通知を引き起こすブロックされた投稿の処理がDelayed Queueに追加されて再処理される問題
  packages/backend/src/queue/processors/InboxProcessorService.ts
Labels: packages/backend

#470 Bump up version to 2024.2.0-io.2d
  package.json
  packages/misskey-js/package.json
Labels: packages/misskey-js

#473 spec(backend/drive/files): ネットワーク不安定・高負荷時ファイルが重複してアップロードされる問題を修正
  packages/backend/src/server/api/endpoints/drive/files/create.ts
  packages/backend/src/server/api/endpoints/drive/files/upload-from-url.ts
  packages/backend/test/e2e/drive.ts
  packages/backend/test/e2e/endpoints.ts
Labels: packages/backend, packages/backend:test

#474 バックアップ名が null のバックアップが作成でき削除などの操作ができなくなる問題を修正
  packages/frontend/src/os.ts
  packages/frontend/src/pages/settings/preferences-backups.vue
Labels: packages/frontend

#478 feat: ロールによるメンション、リプライ、引用の制限
  locales/en-US.yml
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/src/core/NoteCreateService.ts
  packages/backend/src/core/RoleService.ts
  packages/backend/src/core/entities/UserEntityService.ts
  packages/backend/src/server/api/endpoints/admin/show-user.ts
  packages/frontend/src/const.ts
  packages/frontend/src/pages/admin/roles.editor.vue
  packages/frontend/src/pages/admin/roles.vue
Labels: packages/backend, packages/frontend

#479 Merge upstream
  CHANGELOG.md
  packages/backend/src/core/CustomEmojiService.ts
  packages/backend/src/models/json-schema/user.ts
  packages/backend/src/server/api/endpoints/admin/emoji/add.ts
  packages/backend/src/server/api/endpoints/admin/emoji/update.ts
  packages/frontend/.storybook/generate.tsx
  packages/frontend/src/components/global/MkA.stories.impl.ts
  packages/frontend/src/components/global/MkTime.stories.impl.ts
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/src/autogen/endpoint.ts
  packages/misskey-js/src/autogen/entities.ts
  packages/misskey-js/src/autogen/types.ts
Labels: packages/backend, packages/frontend, packages/misskey-js

#480 fix(MkEmojiPicker): 削除されたカスタム絵文字が絵文字ピッカーに残ってるとピッカーを使えなくなる問題を修正
  packages/frontend/src/components/MkEmojiPicker.vue
Labels: packages/frontend

#481 Bump up version to 2024.2.0-io.2f
  package.json
  packages/misskey-js/package.json
Labels: packages/misskey-js

#482 fix(frontend): Chromeのパスワードマネージャーのバグの回避
  packages/frontend/src/components/MkEmojiPicker.vue
  packages/frontend/src/components/MkGoogle.vue
  packages/frontend/src/pages/admin/files.vue
  packages/frontend/src/pages/admin/roles.editor.vue
  packages/frontend/src/pages/admin/roles.vue
  packages/frontend/src/pages/channels.vue
  packages/frontend/src/pages/custom-emojis-manager.vue
  packages/frontend/src/pages/search.note.vue
  packages/frontend/src/pages/search.user.vue
Labels: packages/frontend

#483 Bump up version to 2024.2.0-io.2g
  package.json
  packages/misskey-js/package.json
Labels: packages/misskey-js

#484 fix(frontend): MFMのグーグル検索ボックスの高さがおかしい問題を修正
  packages/frontend/src/components/MkGoogle.vue
Labels: packages/frontend

#485 fix(frontend/search-emoji): Unicodeの絵文字と同じ名前のカスタム絵文字がMkAutocompleteなどで表示されない問題を修正
  packages/frontend/src/scripts/search-emoji.ts
Labels: packages/frontend

#486 Bump up version to 2024.2.0-io.2h
  package.json
  packages/misskey-js/package.json
Labels: packages/misskey-js

#487 fix(backend): api/metaのfeaturesの下位互換性
  packages/backend/src/core/entities/MetaEntityService.ts
  packages/backend/src/models/json-schema/meta.ts
  packages/misskey-js/src/autogen/types.ts
Labels: packages/backend, packages/misskey-js

#488 fix(frontend): MkEmojiPickerとMkReactionsViewerで一部のUnicode絵文字を正常に扱えない問題を修正
  packages/frontend/src/components/MkEmojiPicker.vue
  packages/frontend/src/components/MkReactionsViewer.reaction.vue
  packages/frontend/src/scripts/check-reaction-permissions.ts
  packages/frontend/src/scripts/emojilist.ts
Labels: packages/frontend

#489 Bump up version to 2024.2.0-io.2i
  package.json
  packages/misskey-js/package.json
Labels: packages/misskey-js

#490 fix(frontend): MkEmojiPickerでカスタム絵文字が正常に表示されない問題を修正
  packages/frontend/src/components/MkEmojiPicker.vue
Labels: packages/frontend

#491 Bump up version to 2024.2.0-io.2j
  package.json
  packages/misskey-js/package.json
Labels: packages/misskey-js
