Repository MisskeyIO/misskey, pull requests merged in 2024-12, with the labels that each got.

#828 enhance(frontend/navbar): ナビゲーションバーにMisskey.ioを支援するを追加
  packages/frontend/src/navbar.ts
  packages/frontend/src/store.ts
Labels: packages/frontend

#821 enhance(Page): ページを非公開にできるように
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/migration/1733563840208-page-visibility.js
  packages/backend/src/core/entities/PageEntityService.ts
  packages/backend/src/models/Page.ts
  packages/backend/src/models/json-schema/page.ts
  packages/backend/src/server/api/endpoints/pages/create.ts
  packages/backend/src/server/api/endpoints/pages/show.ts
  packages/backend/src/server/api/endpoints/pages/update.ts
  packages/backend/test/utils.ts
  packages/frontend/src/components/MkPagePreview.vue
  packages/frontend/src/pages/page-editor/page-editor.vue
  packages/frontend/src/pages/page.vue
  packages/misskey-js/src/autogen/types.ts
Labels: packages/backend, packages/backend:test, packages/frontend, packages/misskey-js

#830 fix(frontend): instanceをimportし忘れてた
  packages/frontend/src/navbar.ts
Labels: packages/frontend

#827 feat(frontend): Audio player で波形を表示するように
  packages/frontend/package.json
  packages/frontend/src/components/MkAudioVisualizer.vue
  packages/frontend/src/components/MkMediaAudio.vue
  packages/frontend/src/components/MkMediaBanner.vue
  packages/frontend/src/components/MkMediaList.vue
  packages/frontend/src/components/MkNote.vue
  packages/frontend/src/components/MkNoteDetailed.vue
  packages/frontend/src/components/MkSubNoteContent.vue
  packages/frontend/src/pages/user/index.files.vue
  packages/frontend/src/pages/welcome.timeline.vue
  pnpm-lock.yaml
Labels: packages/frontend

#831 feat(MiAuth): アクセストークンの発行に失敗した場合コールバックに遷移しないようにする
  packages/frontend/src/pages/miauth.vue
Labels: packages/frontend

#833 update deps
  package.json
  packages/backend/.swcrc
  packages/backend/jest.config.e2e.cjs
  packages/backend/package.json
  packages/backend/src/core/AiService.ts
  packages/backend/src/core/FetchInstanceMetadataService.ts
  packages/backend/src/core/FileInfoService.ts
  packages/backend/src/core/UtilityService.ts
  packages/backend/src/core/WebAuthnService.ts
  packages/backend/src/server/ServerService.ts
  packages/backend/src/server/api/SigninApiService.ts
  packages/backend/src/server/api/endpoints/i/update.ts
  packages/backend/test-server/.eslintrc.cjs
  packages/backend/test-server/.swcrc
  packages/backend/test-server/entry.mjs
  packages/backend/test-server/tsconfig.json
  packages/backend/test/e2e/2fa.ts
  packages/backend/test/tsconfig.json
  packages/frontend/package.json
  packages/frontend/src/components/MkMention.vue
  packages/frontend/src/components/MkPostForm.vue
  packages/frontend/src/components/MkSignin.vue
  packages/frontend/src/components/MkSignupDialog.form.vue
  packages/frontend/src/components/global/MkAcct.vue
  packages/frontend/src/components/global/MkUrl.vue
  packages/frontend/src/pages/theme-editor.vue
  packages/frontend/src/scripts/autocomplete.ts
  packages/frontend/src/scripts/get-user-menu.ts
  packages/misskey-bubble-game/package.json
  packages/misskey-js/.swcrc
  packages/misskey-js/generator/package.json
  packages/misskey-js/package.json
  packages/misskey-reversi/package.json
  packages/sw/package.json
  pnpm-lock.yaml
Labels: packages/backend, packages/backend:test, packages/frontend, packages/sw, packages/misskey-js

#832 enhance(backend): blurhash生成時、リサイズしてからRawに変換するように
  packages/backend/src/core/FileInfoService.ts
Labels: packages/backend

#829 Feat: メールアドレスログインを実装
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/src/server/api/EndpointsModule.ts
  packages/backend/src/server/api/SigninApiService.ts
  packages/backend/src/server/api/endpoints.ts
  packages/backend/src/server/api/endpoints/users/get-twofactor-enable.ts
  packages/frontend/src/account.ts
  packages/frontend/src/components/MkSignin.vue
  packages/frontend/src/components/MkSigninDialog.vue
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/src/autogen/apiClientJSDoc.ts
  packages/misskey-js/src/autogen/endpoint.ts
  packages/misskey-js/src/autogen/entities.ts
  packages/misskey-js/src/autogen/types.ts
Labels: packages/backend, packages/frontend, packages/misskey-js

#835 update deps
  package.json
  packages/backend/package.json
  packages/frontend/package.json
  pnpm-lock.yaml
Labels: packages/backend, packages/frontend

#836 feat(sign-in): メールアドレスログインを実装
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/src/server/api/EndpointsModule.ts
  packages/backend/src/server/api/SigninApiService.ts
  packages/backend/src/server/api/endpoints.ts
  packages/backend/src/server/api/endpoints/users/get-security-info.ts
  packages/frontend/src/account.ts
  packages/frontend/src/components/MkSignin.vue
  packages/frontend/src/components/MkSigninDialog.vue
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/src/autogen/apiClientJSDoc.ts
  packages/misskey-js/src/autogen/endpoint.ts
  packages/misskey-js/src/autogen/entities.ts
  packages/misskey-js/src/autogen/types.ts
Labels: packages/backend, packages/frontend, packages/misskey-js

#837 spec(api): 一部APIをGETに対応・認証情報をヘッダーに
  packages/backend/src/server/api/endpoints/meta.ts
  packages/backend/src/server/api/endpoints/stats.ts
  packages/backend/src/server/web/boot.js
  packages/frontend/src/boot/common.ts
  packages/frontend/src/components/MkVisitorDashboard.ActiveUsersChart.vue
  packages/frontend/src/components/MkVisitorDashboard.vue
  packages/frontend/src/instance.ts
  packages/frontend/src/pages/about.vue
  packages/frontend/src/pages/admin/overview.stats.vue
  packages/frontend/src/scripts/misskey-api.ts
  packages/misskey-js/src/autogen/types.ts
Labels: packages/backend, packages/frontend, packages/misskey-js

#834 perf(timeline): Optimizing for CDN Caching
  packages/backend/src/server/api/stream/channels/antenna.ts
  packages/backend/src/server/api/stream/channels/channel.ts
  packages/backend/src/server/api/stream/channels/global-timeline.ts
  packages/backend/src/server/api/stream/channels/home-timeline.ts
  packages/backend/src/server/api/stream/channels/hybrid-timeline.ts
  packages/backend/src/server/api/stream/channels/local-timeline.ts
  packages/backend/src/server/api/stream/channels/role-timeline.ts
  packages/backend/src/server/api/stream/channels/user-list.ts
  packages/backend/src/server/web/ClientServerService.ts
  packages/backend/test/utils.ts
  packages/frontend/src/components/MkTimeline.vue
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/src/streaming.types.ts
Labels: packages/backend, packages/backend:test, packages/frontend, packages/misskey-js

#841 ActivityPub関連の脆弱性の修正
  packages/backend/src/core/AvatarDecorationService.ts
  packages/backend/src/core/CacheService.ts
  packages/backend/src/core/CustomEmojiService.ts
  packages/backend/src/core/DownloadService.ts
  packages/backend/src/core/EmailService.ts
  packages/backend/src/core/HttpRequestService.ts
  packages/backend/src/core/RelayService.ts
  packages/backend/src/core/RemoteUserResolveService.ts
  packages/backend/src/core/RoleService.ts
  packages/backend/src/core/UserKeypairService.ts
  packages/backend/src/core/UtilityService.ts
  packages/backend/src/core/activitypub/ApDbResolverService.ts
  packages/backend/src/core/activitypub/ApInboxService.ts
  packages/backend/src/core/activitypub/ApRequestService.ts
  packages/backend/src/core/activitypub/ApResolverService.ts
  packages/backend/src/core/activitypub/misc/check-against-url.ts
  packages/backend/src/core/activitypub/models/ApNoteService.ts
  packages/backend/src/core/activitypub/models/ApPersonService.ts
  packages/backend/src/core/activitypub/models/ApQuestionService.ts
  packages/backend/src/core/activitypub/type.ts
  packages/backend/src/core/entities/UserEntityService.ts
  packages/backend/src/misc/cache.ts
  packages/backend/src/queue/processors/DeliverProcessorService.ts
  packages/backend/src/queue/processors/InboxProcessorService.ts
  packages/backend/src/server/ActivityPubServerService.ts
  packages/backend/src/server/NodeinfoServerService.ts
  packages/backend/src/server/api/AuthenticateService.ts
  packages/backend/src/server/api/endpoints/ap/get.ts
  packages/backend/src/server/api/endpoints/ap/show.ts
  packages/backend/src/server/api/endpoints/users/followers.ts
  packages/backend/src/server/api/endpoints/users/following.ts
  packages/backend/src/server/web/UrlPreviewService.ts
  packages/backend/test/unit/activitypub.ts
  packages/frontend/src/scripts/isFfVisibleForMe.ts
Labels: packages/backend, packages/backend:test, packages/frontend

#842 enhance(role): ロールの割り当て時メモを残せるように
  packages/backend/migration/1735078824104-RoleAssignment-Memo.js
  packages/backend/src/core/RoleService.ts
  packages/backend/src/models/RoleAssignment.ts
  packages/backend/src/server/api/endpoints/admin/roles/assign.ts
  packages/backend/src/server/api/endpoints/admin/roles/users.ts
  packages/backend/src/server/api/endpoints/admin/show-user.ts
  packages/backend/src/types.ts
  packages/backend/test/unit/RoleService.ts
  packages/frontend/src/pages/admin-user.vue
  packages/frontend/src/pages/admin/modlog.ModLog.vue
  packages/frontend/src/pages/admin/roles.role.vue
  packages/frontend/src/scripts/get-user-menu.ts
  packages/misskey-js/src/autogen/types.ts
  packages/misskey-js/src/consts.ts
Labels: packages/backend, packages/backend:test, packages/frontend, packages/misskey-js

#844 update deps
  Dockerfile
  package.json
  packages/backend/package.json
  packages/backend/src/core/AiService.ts
  packages/frontend/package.json
  packages/misskey-bubble-game/package.json
  packages/misskey-js/generator/package.json
  packages/misskey-reversi/package.json
  packages/sw/package.json
  pnpm-lock.yaml
Labels: packages/backend, packages/frontend, packages/sw, packages/misskey-js

#846 Bump up version to 2024.5.0-io.5
  package.json
  packages/misskey-js/package.json
Labels: packages/misskey-js

#838 BullMQ + DragonflyDB で Hashtag を使用しすべてをロックしないようにする
  .devcontainer/docker-compose.yml
  .github/workflows/test-backend.yml
  chart/templates/Deployment.yml
  docker-compose.local-db.yml
  docker-compose_example.yml
  packages/backend/src/config.ts
  packages/backend/src/core/QueueModule.ts
  packages/backend/src/queue/QueueProcessorService.ts
  packages/backend/src/queue/const.ts
  packages/backend/src/server/web/ClientServerService.ts
  packages/backend/test/docker-compose.yml
Labels: packages/backend, packages/backend:test

#849 enhance(data-usage): remove GA timing report on fetch note json
  packages/frontend/src/components/MkTimeline.vue
Labels: packages/frontend

#851 fix(cdn-caching): 自分のリアクションが表示されない問題を修正
  packages/backend/src/server/api/stream/channels/antenna.ts
  packages/backend/src/server/api/stream/channels/channel.ts
  packages/backend/src/server/api/stream/channels/global-timeline.ts
  packages/backend/src/server/api/stream/channels/home-timeline.ts
  packages/backend/src/server/api/stream/channels/hybrid-timeline.ts
  packages/backend/src/server/api/stream/channels/local-timeline.ts
  packages/backend/src/server/api/stream/channels/role-timeline.ts
  packages/backend/src/server/api/stream/channels/user-list.ts
  packages/backend/test/utils.ts
  packages/frontend/src/components/MkTimeline.vue
  packages/frontend/src/scripts/merge.ts
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/src/streaming.types.ts
Labels: packages/backend, packages/backend:test, packages/frontend, packages/misskey-js

#850 Bump up version to 2024.5.0-io.5b
  package.json
  packages/misskey-js/package.json
Labels: packages/misskey-js

#854 fix(frontend/media): メディアプロキシ使用時オーディオが再生されない問題を修正
  packages/frontend/src/components/MkMediaAudio.vue
  packages/frontend/src/components/MkMediaVideo.vue
  packages/frontend/src/index.html
Labels: packages/frontend

#853 enhance(data-usage): ストリーム上で送るデータがない場合はオブジェクトごと省略するように
  packages/backend/src/server/api/stream/channels/antenna.ts
  packages/backend/src/server/api/stream/channels/channel.ts
  packages/backend/src/server/api/stream/channels/global-timeline.ts
  packages/backend/src/server/api/stream/channels/home-timeline.ts
  packages/backend/src/server/api/stream/channels/hybrid-timeline.ts
  packages/backend/src/server/api/stream/channels/local-timeline.ts
  packages/backend/src/server/api/stream/channels/role-timeline.ts
  packages/backend/src/server/api/stream/channels/user-list.ts
Labels: packages/backend

#855 Bump up version to 2024.5.0-io.5c
  package.json
  packages/misskey-js/package.json
Labels: packages/misskey-js

#856 Update host
  package.json
  packages/backend/src/server/api/stream/channels/antenna.ts
  packages/backend/src/server/api/stream/channels/channel.ts
  packages/backend/src/server/api/stream/channels/global-timeline.ts
  packages/backend/src/server/api/stream/channels/home-timeline.ts
  packages/backend/src/server/api/stream/channels/hybrid-timeline.ts
  packages/backend/src/server/api/stream/channels/local-timeline.ts
  packages/backend/src/server/api/stream/channels/role-timeline.ts
  packages/backend/src/server/api/stream/channels/user-list.ts
  packages/frontend/src/components/MkMediaAudio.vue
  packages/frontend/src/components/MkMediaVideo.vue
  packages/frontend/src/index.html
  packages/misskey-js/package.json
Labels: packages/backend, packages/frontend, packages/misskey-js

#857 update deps
  packages/backend/package.json
  packages/frontend/package.json
  packages/misskey-js/package.json
  pnpm-lock.yaml
Labels: packages/backend, packages/frontend, packages/misskey-js

#858 cleanup(backend): refactor UtilityService
  packages/backend/src/core/CustomEmojiService.ts
  packages/backend/src/core/EmailService.ts
  packages/backend/src/core/FederatedInstanceService.ts
  packages/backend/src/core/NoteCreateService.ts
  packages/backend/src/core/ReactionService.ts
  packages/backend/src/core/RemoteUserResolveService.ts
  packages/backend/src/core/SignupService.ts
  packages/backend/src/core/UserFollowingService.ts
  packages/backend/src/core/UtilityService.ts
  packages/backend/src/core/activitypub/ApDbResolverService.ts
  packages/backend/src/core/activitypub/ApInboxService.ts
  packages/backend/src/core/activitypub/ApRequestService.ts
  packages/backend/src/core/activitypub/ApResolverService.ts
  packages/backend/src/core/activitypub/models/ApNoteService.ts
  packages/backend/src/core/activitypub/models/ApPersonService.ts
  packages/backend/src/core/chart/charts/instance.ts
  packages/backend/src/core/entities/DriveFileEntityService.ts
  packages/backend/src/core/entities/InstanceEntityService.ts
  packages/backend/src/queue/processors/DeliverProcessorService.ts
  packages/backend/src/queue/processors/ImportBlockingProcessorService.ts
  packages/backend/src/queue/processors/ImportFollowingProcessorService.ts
  packages/backend/src/queue/processors/ImportMutingProcessorService.ts
  packages/backend/src/queue/processors/ImportUserListsProcessorService.ts
  packages/backend/src/queue/processors/InboxProcessorService.ts
  packages/backend/src/server/api/endpoints/admin/emoji/list-remote.ts
  packages/backend/src/server/api/endpoints/admin/federation/refresh-remote-instance-metadata.ts
  packages/backend/src/server/api/endpoints/admin/federation/update-instance.ts
  packages/backend/src/server/api/endpoints/ap/show.ts
  packages/backend/src/server/api/endpoints/federation/show-instance.ts
  packages/backend/src/server/api/endpoints/users/followers.ts
  packages/backend/src/server/api/endpoints/users/following.ts
Labels: packages/backend

#861 fix(frontend): 支援メニューがデッキUIで正常に動作しない問題を修正
  packages/frontend/src/components/MkVisitorDashboard.vue
  packages/frontend/src/navbar.ts
  packages/frontend/src/pages/about-misskey.vue
  packages/frontend/src/pages/about.vue
  packages/frontend/src/ui/_common_/navbar.vue
Labels: packages/frontend

#859 fix(ActivityPub): URIとURLが一致しない場合、同じドメイン内のサブドメインの1階層の違いまでは許容する
  packages/backend/package.json
  packages/backend/src/core/HttpRequestService.ts
  packages/backend/src/core/UtilityService.ts
  packages/backend/src/core/activitypub/ApRequestService.ts
  packages/backend/src/core/activitypub/ApResolverService.ts
  packages/backend/src/core/activitypub/misc/check-against-url.ts
  packages/backend/src/core/activitypub/models/ApNoteService.ts
  packages/backend/src/core/activitypub/models/ApPersonService.ts
  pnpm-lock.yaml
Labels: packages/backend

#860 fix(ActivityPub): リモートサーバーのリダイレクトを信頼する
  packages/backend/src/core/activitypub/ApResolverService.ts
Labels: packages/backend

#862 Bump up version to 2024.5.0-io.5d
  package.json
  packages/misskey-js/package.json
Labels: packages/misskey-js

#863 Update host
  package.json
  packages/backend/package.json
  packages/backend/src/core/CustomEmojiService.ts
  packages/backend/src/core/EmailService.ts
  packages/backend/src/core/FederatedInstanceService.ts
  packages/backend/src/core/HttpRequestService.ts
  packages/backend/src/core/NoteCreateService.ts
  packages/backend/src/core/ReactionService.ts
  packages/backend/src/core/RemoteUserResolveService.ts
  packages/backend/src/core/SignupService.ts
  packages/backend/src/core/UserFollowingService.ts
  packages/backend/src/core/UtilityService.ts
  packages/backend/src/core/activitypub/ApDbResolverService.ts
  packages/backend/src/core/activitypub/ApInboxService.ts
  packages/backend/src/core/activitypub/ApRequestService.ts
  packages/backend/src/core/activitypub/ApResolverService.ts
  packages/backend/src/core/activitypub/misc/check-against-url.ts
  packages/backend/src/core/activitypub/models/ApNoteService.ts
  packages/backend/src/core/activitypub/models/ApPersonService.ts
  packages/backend/src/core/chart/charts/instance.ts
  packages/backend/src/core/entities/DriveFileEntityService.ts
  packages/backend/src/core/entities/InstanceEntityService.ts
  packages/backend/src/queue/processors/DeliverProcessorService.ts
  packages/backend/src/queue/processors/ImportBlockingProcessorService.ts
  packages/backend/src/queue/processors/ImportFollowingProcessorService.ts
  packages/backend/src/queue/processors/ImportMutingProcessorService.ts
  packages/backend/src/queue/processors/ImportUserListsProcessorService.ts
  packages/backend/src/queue/processors/InboxProcessorService.ts
  packages/backend/src/server/api/endpoints/admin/emoji/list-remote.ts
  packages/backend/src/server/api/endpoints/admin/federation/refresh-remote-instance-metadata.ts
  packages/backend/src/server/api/endpoints/admin/federation/update-instance.ts
  packages/backend/src/server/api/endpoints/ap/show.ts
  packages/backend/src/server/api/endpoints/federation/show-instance.ts
  packages/backend/src/server/api/endpoints/users/followers.ts
  packages/backend/src/server/api/endpoints/users/following.ts
  packages/frontend/package.json
  packages/frontend/src/components/MkVisitorDashboard.vue
  packages/frontend/src/navbar.ts
  packages/frontend/src/pages/about-misskey.vue
  packages/frontend/src/pages/about.vue
  packages/frontend/src/store.ts
  packages/frontend/src/ui/_common_/navbar.vue
  packages/misskey-js/package.json
  pnpm-lock.yaml
Labels: packages/backend, packages/frontend, packages/misskey-js

#864 enhance(ux): defaultWithRepliesの既定値をtrueにする
  packages/frontend/src/store.ts
Labels: packages/frontend

#865 Revert "perf(queue): BullMQ + DragonflyDB で Hashtag を使用しすべてをロックしないようにする (MisskeyIO#838)"
  .devcontainer/docker-compose.yml
  .github/workflows/test-backend.yml
  chart/templates/Deployment.yml
  docker-compose.local-db.yml
  docker-compose_example.yml
  packages/backend/test/docker-compose.yml
Labels: packages/backend, packages/backend:test

#866 fix(frontend/role): ロールの割り当て時メモを入力しないとキャンセル扱いされる問題を修正
  packages/frontend/src/pages/admin-user.vue
  packages/frontend/src/pages/admin/roles.role.vue
Labels: packages/frontend

#867 fix(backend/UtilityService): 非標準ポート番号環境でURIのローカル判定が常にfalseになる問題を修正
  packages/backend/src/core/UtilityService.ts
Labels: packages/backend
