Repository MisskeyIO/misskey, pull requests merged in 2024-08, with the labels that each got.

#676 凍結されたユーザー・削除されたユーザーを可視化できるように
  packages/backend/src/server/api/endpoints/users/show.ts
  packages/backend/test/e2e/users.ts
  packages/frontend/src/components/MkUserNotFound.vue
  packages/frontend/src/components/MkUserSuspended.vue
  packages/frontend/src/pages/user/index.vue
Labels: packages/backend, packages/backend:test, packages/frontend

#678 BotからBotのフォロー・リプライができないように
  packages/backend/src/server/api/endpoints/following/create.ts
  packages/backend/src/server/api/endpoints/notes/create.ts
  packages/misskey-js/src/autogen/types.ts
Labels: packages/backend, packages/misskey-js

#680 enhance(moderation): モデレーターがファイルが添付されているノートを照会できるように
  packages/backend/src/server/api/endpoints/drive/files/attached-notes.ts
  packages/frontend/src/pages/admin-file.vue
Labels: packages/backend, packages/frontend

#675 Feat: 相互リンク機能の追加
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/migration/1723213482131-mutualBanner.js
  packages/backend/src/core/CoreModule.ts
  packages/backend/src/core/UserBannerPiningService.ts
  packages/backend/src/core/UserBannerService.ts
  packages/backend/src/core/entities/UserBannerEntityService.ts
  packages/backend/src/core/entities/UserBannerPiningEntityService.ts
  packages/backend/src/core/entities/UserEntityService.ts
  packages/backend/src/di-symbols.ts
  packages/backend/src/misc/json-schema.ts
  packages/backend/src/models/RepositoryModule.ts
  packages/backend/src/models/UserBanner.ts
  packages/backend/src/models/UserBannerPining.ts
  packages/backend/src/models/UserProfile.ts
  packages/backend/src/models/_.ts
  packages/backend/src/models/json-schema/user.ts
  packages/backend/src/postgres.ts
  packages/backend/src/server/api/EndpointsModule.ts
  packages/backend/src/server/api/endpoint-base.ts
  packages/backend/src/server/api/endpoints.ts
  packages/backend/src/server/api/endpoints/admin/unset-user-mutual-banner.ts
  packages/backend/src/server/api/endpoints/i/update.ts
  packages/backend/src/types.ts
  packages/backend/test/e2e/users.ts
  packages/frontend/src/components/MkLink.vue
  packages/frontend/src/pages/admin-user.vue
  packages/frontend/src/pages/settings/profile.vue
  packages/frontend/src/pages/user/home.vue
  packages/frontend/src/pages/user/index.timeline.vue
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/src/autogen/apiClientJSDoc.ts
  packages/misskey-js/src/autogen/endpoint.ts
  packages/misskey-js/src/autogen/entities.ts
  packages/misskey-js/src/autogen/models.ts
  packages/misskey-js/src/autogen/types.ts
  packages/misskey-js/src/consts.ts
Labels: packages/backend, packages/backend:test, packages/frontend, packages/misskey-js

#684 Feat: 相互リンク機能の改修
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/migration/1723213482131-mutualBanner.js
  packages/backend/migration/1723311628855-mutuallinks.js
  packages/backend/src/core/CoreModule.ts
  packages/backend/src/core/RoleService.ts
  packages/backend/src/core/UserBannerPiningService.ts
  packages/backend/src/core/UserBannerService.ts
  packages/backend/src/core/entities/UserBannerEntityService.ts
  packages/backend/src/core/entities/UserBannerPiningEntityService.ts
  packages/backend/src/core/entities/UserEntityService.ts
  packages/backend/src/di-symbols.ts
  packages/backend/src/misc/json-schema.ts
  packages/backend/src/models/RepositoryModule.ts
  packages/backend/src/models/UserBanner.ts
  packages/backend/src/models/UserBannerPining.ts
  packages/backend/src/models/UserProfile.ts
  packages/backend/src/models/_.ts
  packages/backend/src/models/json-schema/role.ts
  packages/backend/src/models/json-schema/user.ts
  packages/backend/src/postgres.ts
  packages/backend/src/server/api/EndpointsModule.ts
  packages/backend/src/server/api/endpoints.ts
  packages/backend/src/server/api/endpoints/admin/unset-user-mutual-link.ts
  packages/backend/src/server/api/endpoints/i/update.ts
  packages/backend/src/types.ts
  packages/backend/test/e2e/users.ts
  packages/frontend/src/const.ts
  packages/frontend/src/pages/admin-user.vue
  packages/frontend/src/pages/admin/roles.editor.vue
  packages/frontend/src/pages/admin/roles.vue
  packages/frontend/src/pages/settings/profile.vue
  packages/frontend/src/pages/user/home.vue
  packages/frontend/src/pages/user/index.timeline.vue
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/src/autogen/apiClientJSDoc.ts
  packages/misskey-js/src/autogen/endpoint.ts
  packages/misskey-js/src/autogen/entities.ts
  packages/misskey-js/src/autogen/models.ts
  packages/misskey-js/src/autogen/types.ts
  packages/misskey-js/src/consts.ts
Labels: packages/backend, packages/backend:test, packages/frontend, packages/misskey-js

#686 fix(moderation): MisskeyIO#656
  packages/frontend/src/pages/admin-user.vue
Labels: packages/frontend

#685 2024.5.0-io.2
  locales/en-US.yml
  locales/index.d.ts
  locales/ja-JP.yml
  locales/ko-KR.yml
  package.json
  packages/backend/package.json
  packages/backend/src/logger.ts
  packages/backend/src/misc/prelude/maybe.ts
  packages/frontend/package.json
  packages/misskey-bubble-game/package.json
  packages/misskey-js/generator/package.json
  packages/misskey-js/package.json
  packages/misskey-reversi/package.json
  packages/sw/package.json
  pnpm-lock.yaml
Labels: packages/backend, packages/frontend, packages/sw, packages/misskey-js

#674 チュートリアルが特定の操作でスキップできてしまうのを修正
  locales/index.d.ts
  locales/ja-JP.yml
  packages/frontend/src/components/MkTutorialDialog.vue
  packages/frontend/src/components/MkUserSetupDialog.vue
Labels: packages/frontend

#689 spec(frontend): チュートリアルにBotの設定を追加、チュートリアルをスキップ不可に
  locales/en-US.yml
  locales/index.d.ts
  locales/ja-JP.yml
  locales/ja-KS.yml
  locales/ko-KR.yml
  packages/frontend/src/components/MkModalWindow.vue
  packages/frontend/src/components/MkTutorialDialog.vue
  packages/frontend/src/components/MkUserSetupDialog.vue
Labels: packages/frontend

#690 enhance(profile): 相互リンク機能の設定画面のデザイン修正
  locales/en-US.yml
  locales/index.d.ts
  locales/ja-JP.yml
  locales/ko-KR.yml
  packages/frontend/src/pages/settings/profile.vue
Labels: packages/frontend

#691 Update host
  locales/en-US.yml
  locales/index.d.ts
  locales/ja-JP.yml
  locales/ja-KS.yml
  locales/ko-KR.yml
  packages/frontend/src/components/MkModalWindow.vue
  packages/frontend/src/components/MkTutorialDialog.vue
  packages/frontend/src/components/MkUserSetupDialog.vue
  packages/frontend/src/pages/settings/profile.vue
Labels: packages/frontend

#692 fix(moderation): ユーザーが凍結された際、処理されていないフォローリクエストをすべて削除する
  packages/backend/src/core/UserSuspendService.ts
Labels: packages/backend

#693 fix(backend): 一部policyがリモートユーザーに適用されない問題を修正
  packages/backend/src/core/NoteCreateService.ts
  packages/backend/src/core/ReactionService.ts
Labels: packages/backend

#696 spec(profile): 相互リンクバナーのサイズ変更・ID付与
  packages/backend/src/models/UserProfile.ts
  packages/backend/src/models/json-schema/user.ts
  packages/backend/src/server/api/endpoints/i/update.ts
  packages/frontend/src/pages/settings/profile.vue
  packages/frontend/src/pages/user/home.vue
  packages/misskey-js/src/autogen/types.ts
Labels: packages/backend, packages/frontend, packages/misskey-js

#697 Bump up version to 2024.5.0-io.2b
  package.json
  packages/misskey-js/package.json
Labels: packages/misskey-js

#700 fix(policies): ベースロールのポリシー変更時モデレーションログが残るように
  packages/backend/src/server/api/endpoints/admin/roles/update-default-policies.ts
  packages/frontend/src/pages/admin/roles.editor.vue
  packages/frontend/src/pages/admin/roles.vue
Labels: packages/backend, packages/frontend

#701 spec(profile): 相互リンク機能のロールによる制御の仕様変更
  locales/en-US.yml
  locales/index.d.ts
  locales/ja-JP.yml
  locales/ko-KR.yml
  packages/backend/src/core/RoleService.ts
  packages/backend/src/core/entities/UserEntityService.ts
  packages/backend/src/server/api/endpoints/i/update.ts
  packages/frontend/src/pages/about.vue
  packages/frontend/src/pages/admin/roles.editor.vue
  packages/frontend/src/pages/settings/profile.vue
  packages/frontend/src/pages/user/home.vue
Labels: packages/backend, packages/frontend

#706 spec(profile): 相互リンクの型定義の修正
  packages/backend/src/models/UserProfile.ts
  packages/backend/src/models/json-schema/user.ts
  packages/backend/src/types.ts
  packages/misskey-js/src/autogen/types.ts
Labels: packages/backend, packages/misskey-js

#705 enhance(federation/profile): 相互リンクのテキストが連合するように
  packages/backend/src/core/activitypub/ApRendererService.ts
Labels: packages/backend

#703 Feat: 相互リンクの機能改善
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/src/server/api/endpoints/admin/unset-user-mutual-link.ts
  packages/frontend/src/components/MkMediaImage.vue
  packages/frontend/src/pages/admin-user.vue
  packages/frontend/src/pages/settings/profile.vue
  packages/frontend/src/pages/user/home.vue
  packages/misskey-js/src/autogen/types.ts
Labels: packages/backend, packages/frontend, packages/misskey-js

#707 Update cropperjs to v2.0.0-rc.0
  packages/frontend/package.json
  pnpm-lock.yaml
Labels: packages/frontend

#710 enhance(frontend): ファイルのアップロード時に524が返された際のエラーを明示的に表示するように
  locales/en-US.yml
  locales/index.d.ts
  locales/ja-JP.yml
  locales/ko-KR.yml
  packages/frontend/src/scripts/upload.ts
Labels: packages/frontend

#709 fix(backend): クリップ周りの不具合修正
  packages/backend/src/core/ClipService.ts
  packages/backend/src/core/UserSuspendService.ts
Labels: packages/backend

#708 Bump up version to 2024.5.0-io.2c
  package.json
  packages/misskey-js/package.json
Labels: packages/misskey-js

#711 2024.5.0-host.2c
  locales/en-US.yml
  locales/index.d.ts
  locales/ja-JP.yml
  locales/ko-KR.yml
  package.json
  packages/backend/src/core/ClipService.ts
  packages/backend/src/core/RoleService.ts
  packages/backend/src/core/UserSuspendService.ts
  packages/backend/src/core/activitypub/ApRendererService.ts
  packages/backend/src/core/entities/UserEntityService.ts
  packages/backend/src/models/UserProfile.ts
  packages/backend/src/models/json-schema/user.ts
  packages/backend/src/server/api/endpoints/admin/roles/update-default-policies.ts
  packages/backend/src/server/api/endpoints/admin/unset-user-mutual-link.ts
  packages/backend/src/server/api/endpoints/i/update.ts
  packages/backend/src/types.ts
  packages/frontend/package.json
  packages/frontend/src/components/MkMediaImage.vue
  packages/frontend/src/pages/admin-user.vue
  packages/frontend/src/pages/admin/roles.editor.vue
  packages/frontend/src/pages/admin/roles.vue
  packages/frontend/src/pages/settings/profile.vue
  packages/frontend/src/pages/user/home.vue
  packages/frontend/src/scripts/upload.ts
  packages/misskey-js/package.json
  packages/misskey-js/src/autogen/types.ts
  pnpm-lock.yaml
Labels: packages/backend, packages/frontend, packages/misskey-js

#712 Fix(Frontend): このファイルをドライブに保存する が正常に機能しない問題を修正
  packages/frontend/src/components/MkMediaImage.vue
Labels: packages/backend, packages/frontend, packages/misskey-js

#714 Bump up version to 2024.5.0-io.2d
  package.json
  packages/misskey-js/package.json
Labels: packages/misskey-js

#715 2024.5.0-host.2d
  locales/en-US.yml
  locales/ko-KR.yml
  package.json
  packages/frontend/src/components/MkMediaImage.vue
  packages/misskey-js/package.json
Labels: packages/frontend, packages/misskey-js

#718 fix(search): elasticsearchに登録されたノートが削除された場合にunindexされないのを修正
  packages/backend/src/core/SearchService.ts
Labels: packages/backend
