Repository MisskeyIO/misskey, pull requests merged in 2024-01, with the labels that each got.

#311 spec(Queue): BullMQのQueue/Workerの詳細設定を設定ファイルから設定できるように
  packages/backend/src/GlobalModule.ts
  packages/backend/src/config.ts
  packages/backend/src/core/QueueModule.ts
  packages/backend/src/daemons/QueueStatsService.ts
  packages/backend/src/queue/QueueProcessorService.ts
  packages/backend/src/queue/const.ts
Labels: packages/backend

#314 deps(backend): Upgrade BullMQ to 5.1.1
  packages/backend/package.json
  pnpm-lock.yaml
Labels: packages/backend

#318 deps(backend): Downgrade BullMQ to 4.12.7
  packages/backend/package.json
  pnpm-lock.yaml
Labels: packages/backend

#322 enhance(PostgreSQL): DBのクエリーのキャッシュに使われるRedisの設定を分ける
  packages/backend/src/config.ts
  packages/backend/src/postgres.ts
Labels: packages/backend

#324 ActivityPub 周りで 429 を受け取った際にリトライするように
  packages/backend/src/core/activitypub/ApInboxService.ts
  packages/backend/src/core/activitypub/models/ApNoteService.ts
  packages/backend/src/misc/status-error.ts
  packages/backend/src/queue/processors/DeliverProcessorService.ts
  packages/backend/src/queue/processors/InboxProcessorService.ts
  packages/backend/src/queue/processors/WebhookDeliverProcessorService.ts
Labels: packages/backend

#325 Remove "process" queue stat counter for performance
  packages/backend/src/boot/common.ts
  packages/backend/src/daemons/QueueStatsService.ts
Labels: packages/backend

#328 enhance: Use SI prefixes for job queue widget, extends bytes (misskey-dev#12896)
  packages/frontend/src/filters/bytes.ts
  packages/frontend/src/filters/kmg.ts
  packages/frontend/src/widgets/WidgetJobQueue.vue
Labels: packages/frontend

#327 enhance(backend): ActivityPub Deliver queueでBodyを事前処理するように (misskey-dev#12916)
  packages/backend/src/core/QueueService.ts
  packages/backend/src/core/activitypub/ApRequestService.ts
  packages/backend/src/queue/processors/DeliverProcessorService.ts
  packages/backend/src/queue/types.ts
Labels: packages/backend

#330 feat(backend): Bearcaps URLに対応
  packages/backend/src/core/HttpRequestService.ts
Labels: packages/backend

#331 fix(backend): 429 のハンドリングを修正
  packages/backend/src/core/activitypub/ApInboxService.ts
Labels: packages/backend

#333 fix: ワードミュートに該当したノートを非表示にできるように
  packages/frontend/src/components/MkNote.vue
Labels: packages/frontend

#334 chore: 通報のカテゴリー化関連の翻訳を追加＆不要になった処理を削除
  locales/en-US.yml
  locales/ko-KR.yml
  locales/zh-CN.yml
  packages/backend/migration/1703749589203-abuse-user-report-category-camel-case.js
  packages/backend/src/server/api/endpoints/users/report-abuse.ts
Labels: packages/backend

#335 fix: リストライムラインの「リノートを表示」が正しく機能しない問題を修正 (misskey-dev#12932)
  packages/backend/src/server/api/stream/channels/user-list.ts
  packages/frontend/src/components/MkTimeline.vue
Labels: packages/backend, packages/frontend

#338 enhance(frontend): 絵文字ピッカー/オートコンプリートで完全一致の絵文字を優先するように (misskey-dev#12928)
  packages/frontend/src/components/MkAutocomplete.vue
  packages/frontend/src/components/MkEmojiPicker.vue
Labels: packages/frontend

#336 feat(frontend): バブルゲームを追加
  locales/index.d.ts
  locales/ja-JP.yml
  packages/frontend/assets/drop-and-fusion/cold_face.png
  packages/frontend/assets/drop-and-fusion/drop-arrow.svg
  packages/frontend/assets/drop-and-fusion/dropper.png
  packages/frontend/assets/drop-and-fusion/exploding_head.png
  packages/frontend/assets/drop-and-fusion/face_with_open_mouth.png
  packages/frontend/assets/drop-and-fusion/face_with_symbols_on_mouth.png
  packages/frontend/assets/drop-and-fusion/frame-dark.svg
  packages/frontend/assets/drop-and-fusion/frame-light.svg
  packages/frontend/assets/drop-and-fusion/grinning_squinting_face.png
  packages/frontend/assets/drop-and-fusion/heart_suit.png
  packages/frontend/assets/drop-and-fusion/keycap_1.png
  packages/frontend/assets/drop-and-fusion/keycap_10.png
  packages/frontend/assets/drop-and-fusion/keycap_2.png
  packages/frontend/assets/drop-and-fusion/keycap_3.png
  packages/frontend/assets/drop-and-fusion/keycap_4.png
  packages/frontend/assets/drop-and-fusion/keycap_5.png
  packages/frontend/assets/drop-and-fusion/keycap_6.png
  packages/frontend/assets/drop-and-fusion/keycap_7.png
  packages/frontend/assets/drop-and-fusion/keycap_8.png
  packages/frontend/assets/drop-and-fusion/keycap_9.png
  packages/frontend/assets/drop-and-fusion/pleading_face.png
  packages/frontend/assets/drop-and-fusion/smiling_face_with_hearts.png
  packages/frontend/assets/drop-and-fusion/smiling_face_with_sunglasses.png
  packages/frontend/assets/drop-and-fusion/zany_face.png
  packages/frontend/src/components/MkPlusOneEffect.vue
  packages/frontend/src/pages/drop-and-fusion.vue
  packages/frontend/src/router.ts
  packages/frontend/src/scripts/sound.ts
  packages/frontend/src/ui/_common_/common.ts
Labels: packages/frontend

#339 enhance(frontend): バブルゲームのロゴやゲームオーバー画像を追加
  packages/frontend/assets/drop-and-fusion/gameover.png
  packages/frontend/assets/drop-and-fusion/logo.png
  packages/frontend/src/components/MkPlusOneEffect.vue
  packages/frontend/src/pages/drop-and-fusion.vue
Labels: packages/frontend

#340 feat(federation): 特定の連合サーバーのメディアを全てセンシティブとして設定する機能を追加
  locales/en-US.yml
  locales/index.d.ts
  locales/ja-JP.yml
  locales/ko-KR.yml
  packages/backend/migration/1704622962215-sensitive-media-hosts.js
  packages/backend/src/core/UtilityService.ts
  packages/backend/src/core/activitypub/models/ApNoteService.ts
  packages/backend/src/core/entities/InstanceEntityService.ts
  packages/backend/src/models/Meta.ts
  packages/backend/src/models/json-schema/federation-instance.ts
  packages/backend/src/server/api/endpoints/admin/meta.ts
  packages/backend/src/server/api/endpoints/admin/update-meta.ts
  packages/frontend/src/pages/admin/instance-block.vue
  packages/frontend/src/pages/instance-info.vue
  packages/misskey-js/src/autogen/types.ts
Labels: packages/backend, packages/frontend, packages/misskey-js

#342 feat(federation): 特定の連合サーバーのメディアを全てセンシティブとして設定が効かない問題を修正
  packages/backend/src/core/activitypub/models/ApNoteService.ts
Labels: packages/backend

#344 enhance(frontend): バブルゲームのロゴを変更
  packages/frontend/assets/drop-and-fusion/logo.png
Labels: packages/frontend

#345 enhance(frontend): バブルゲームのロゴを変更 202401081023
  packages/frontend/assets/drop-and-fusion/logo.png
Labels: packages/frontend

#347 fix: MK_LOG_JSONのcontextの値が正常に表示されない問題を修正
  packages/backend/src/logger.ts
Labels: packages/backend

#348 chore(logging): エラーログが2回出力される問題を修正
  packages/backend/src/boot/entry.ts
Labels: packages/backend

#350 fix(drop-and-fusion): バブルゲームのリトライボタンでリトライができない問題を修正
  packages/frontend/src/pages/drop-and-fusion.vue
  packages/frontend/src/scripts/drop-and-fusion-engine.ts
Labels: packages/frontend

#351 enhance(logging): ログの情報を増やす
  packages/backend/src/boot/entry.ts
  packages/backend/src/boot/master.ts
  packages/backend/src/core/AiService.ts
  packages/backend/src/core/DriveService.ts
  packages/backend/src/core/EmailService.ts
  packages/backend/src/core/FetchInstanceMetadataService.ts
  packages/backend/src/core/NoteCreateService.ts
  packages/backend/src/core/RemoteUserResolveService.ts
  packages/backend/src/core/WebAuthnService.ts
  packages/backend/src/core/activitypub/ApInboxService.ts
  packages/backend/src/core/activitypub/models/ApNoteService.ts
  packages/backend/src/core/activitypub/models/ApPersonService.ts
  packages/backend/src/logger.ts
  packages/backend/src/queue/QueueProcessorService.ts
  packages/backend/src/queue/processors/ExportCustomEmojisProcessorService.ts
  packages/backend/src/server/FileServerService.ts
  packages/backend/src/server/api/ApiCallService.ts
  packages/backend/src/server/api/endpoints/drive/files/create.ts
  packages/backend/src/server/oauth/OAuth2ProviderService.ts
  packages/backend/src/server/web/ClientServerService.ts
  packages/backend/test/unit/FileInfoService.ts
Labels: packages/backend, packages/backend:test

#352 Merge upstream
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/migration/1704959805077-bubble-game-record.js
  packages/backend/src/di-symbols.ts
  packages/backend/src/models/BubbleGameRecord.ts
  packages/backend/src/models/RepositoryModule.ts
  packages/backend/src/models/_.ts
  packages/backend/src/postgres.ts
  packages/backend/src/server/api/EndpointsModule.ts
  packages/backend/src/server/api/endpoints.ts
  packages/backend/src/server/api/endpoints/bubble-game/ranking.ts
  packages/backend/src/server/api/endpoints/bubble-game/register.ts
  packages/frontend/package.json
  packages/frontend/src/pages/drop-and-fusion.game.vue
  packages/frontend/src/pages/drop-and-fusion.vue
  packages/frontend/src/scripts/drop-and-fusion-engine.ts
  packages/frontend/src/scripts/sound.ts
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/src/autogen/apiClientJSDoc.ts
  packages/misskey-js/src/autogen/endpoint.ts
  packages/misskey-js/src/autogen/entities.ts
  packages/misskey-js/src/autogen/models.ts
  packages/misskey-js/src/autogen/types.ts
  pnpm-lock.yaml
Labels: packages/backend, packages/frontend, packages/misskey-js

#357 Merge upstream
  packages/frontend/assets/drop-and-fusion/sweets_monos/custard_color.svg
  packages/frontend/assets/drop-and-fusion/sweets_monos/pancakes_color.svg
  packages/frontend/assets/drop-and-fusion/sweets_monos/shortcake_color.svg
  packages/frontend/assets/drop-and-fusion/sweets_monos/verts/chocolate_bar_color.svg
  packages/frontend/assets/drop-and-fusion/sweets_monos/verts/custard_color.svg
  packages/frontend/assets/drop-and-fusion/sweets_monos/verts/doughnut_color.svg
  packages/frontend/assets/drop-and-fusion/sweets_monos/verts/lollipop_color.svg
  packages/frontend/assets/drop-and-fusion/sweets_monos/verts/pancakes_color.svg
  packages/frontend/assets/drop-and-fusion/sweets_monos/verts/shaved_ice_color.svg
  packages/frontend/assets/drop-and-fusion/sweets_monos/verts/shortcake_color.svg
  packages/frontend/assets/drop-and-fusion/sweets_monos/verts/soft_ice_cream_color.svg
  packages/frontend/src/pages/drop-and-fusion.game.vue
  packages/frontend/src/pages/drop-and-fusion.vue
  packages/frontend/src/scripts/drop-and-fusion-engine.ts
Labels: packages/frontend

#358 Merge upstream
  CHANGELOG.md
  packages/backend/src/core/DownloadService.ts
  packages/frontend/src/components/MkFlashPreview.vue
  packages/frontend/src/pages/flash/flash-edit.vue
  packages/frontend/src/pages/flash/flash.vue
  packages/frontend/src/pages/settings/general.vue
  packages/frontend/src/unicode-emoji-indexes/ja-JP.json
  packages/frontend/src/unicode-emoji-indexes/ja-JP_hira.json
Labels: packages/backend, packages/frontend

#359 spec(QueueStatsService): Increase update interval
  packages/backend/src/daemons/QueueStatsService.ts
Labels: packages/backend

#360 enhance(logging): エラー時もっと詳しい情報が残るように
  packages/backend/src/boot/entry.ts
  packages/backend/src/logger.ts
  packages/backend/src/server/api/endpoints/admin/emoji/copy.ts
  packages/backend/src/server/api/endpoints/drive/files/create.ts
Labels: packages/backend

#362 Merge upstream
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/migration/1705222772858-optimize-note-index-for-array-column.js
  packages/backend/src/models/Note.ts
  packages/backend/src/server/FileServerService.ts
  packages/backend/test/e2e/drive.ts
  packages/backend/test/utils.ts
  packages/frontend/src/components/MkMediaAudio.vue
  packages/frontend/src/components/MkMediaBanner.vue
  packages/frontend/src/components/MkMediaRange.vue
  packages/frontend/src/components/MkMediaVideo.vue
  packages/frontend/src/filters/hms.ts
  packages/frontend/src/global/router/definition.ts
  packages/frontend/src/navbar.ts
  packages/frontend/src/pages/games.vue
  packages/frontend/src/scripts/device-kind.ts
  packages/frontend/src/ui/_common_/common.ts
Labels: packages/backend, packages/backend:test, packages/frontend

#361 spec(ActivityPub): 個別ユーザーのinboxに届いた限定公開のPostはそのユーザーに閲覧権限があると見なす
  packages/backend/src/core/NoteCreateService.ts
  packages/backend/src/core/PollService.ts
  packages/backend/src/core/QueueService.ts
  packages/backend/src/core/activitypub/ApInboxService.ts
  packages/backend/src/core/activitypub/models/ApNoteService.ts
  packages/backend/src/queue/processors/InboxProcessorService.ts
  packages/backend/src/queue/types.ts
  packages/backend/src/server/ActivityPubServerService.ts
Labels: packages/backend

#365 spec(ActivityPub): メンションされていない場合は個別ユーザーのinboxに届いた限定公開のPostは通知を作成しないように
  packages/backend/src/core/NoteCreateService.ts
Labels: packages/backend

#364 enhance(logging): ログの処理をpinoに置き換える
  packages/backend/package.json
  packages/backend/src/core/LoggerService.ts
  packages/backend/src/logger.ts
  packages/backend/src/postgres.ts
  pnpm-lock.yaml
Labels: packages/backend

#368 fix: MisskeyIO#365 にもかかわらずまだ通知が発生する場合がある問題を修正
  packages/backend/src/core/NoteCreateService.ts
Labels: packages/backend

#369 Merge upstream
  CHANGELOG.md
  packages/backend/src/core/activitypub/ApAudienceService.ts
  packages/frontend/src/components/MkCustomEmojiDetailedDialog.vue
  packages/frontend/src/components/MkUrlPreview.vue
  packages/frontend/src/components/global/MkMisskeyFlavoredMarkdown.ts
  packages/frontend/src/index.html
  packages/frontend/src/pages/channel.vue
  packages/frontend/src/pages/drop-and-fusion.game.vue
  packages/frontend/src/pages/drop-and-fusion.vue
  packages/frontend/src/pages/emoji-edit-dialog.vue
  packages/frontend/src/pages/note.vue
  packages/frontend/src/pages/tag.vue
  packages/frontend/src/scripts/drop-and-fusion-engine.ts
Labels: packages/backend, packages/frontend

#370 Merge upstream
  CHANGELOG.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/frontend/src/components/MkCode.vue
  packages/frontend/src/components/MkCodeInline.vue
  packages/frontend/src/components/MkHorizontalSwipe.vue
  packages/frontend/src/components/MkMediaAudio.vue
  packages/frontend/src/components/MkMediaRange.vue
  packages/frontend/src/components/MkMediaVideo.vue
  packages/frontend/src/components/global/MkMisskeyFlavoredMarkdown.ts
  packages/frontend/src/filters/hms.ts
  packages/frontend/src/pages/about.vue
  packages/frontend/src/pages/announcements.vue
  packages/frontend/src/pages/channel.vue
  packages/frontend/src/pages/channels.vue
  packages/frontend/src/pages/drive.file.vue
  packages/frontend/src/pages/explore.vue
  packages/frontend/src/pages/flash/flash-index.vue
  packages/frontend/src/pages/flash/flash.vue
  packages/frontend/src/pages/gallery/index.vue
  packages/frontend/src/pages/instance-info.vue
  packages/frontend/src/pages/my-clips/index.vue
  packages/frontend/src/pages/notifications.vue
  packages/frontend/src/pages/pages.vue
  packages/frontend/src/pages/search.vue
  packages/frontend/src/pages/settings/general.vue
  packages/frontend/src/pages/timeline.vue
  packages/frontend/src/pages/user/index.vue
  packages/frontend/src/scripts/drop-and-fusion-engine.ts
  packages/frontend/src/store.ts
Labels: packages/frontend

#374 feat(role): リモートのアイコンとバナーの変更をロールで制限できるように
  locales/en-US.yml
  locales/index.d.ts
  locales/ja-JP.yml
  locales/ko-KR.yml
  packages/backend/src/core/RoleService.ts
  packages/backend/src/core/activitypub/models/ApPersonService.ts
  packages/backend/src/server/api/endpoints/i/update.ts
  packages/frontend/src/const.ts
  packages/frontend/src/pages/admin/roles.editor.vue
  packages/frontend/src/pages/admin/roles.vue
Labels: packages/backend, packages/backend:test, packages/frontend, packages/frontend:test, packages/sw, packages/misskey-js, packages/misskey-js:test

#375 fix(migration): DBのマイグレーションの修正
  packages/backend/migration/1705475608437-reversi.js
  packages/backend/migration/1706011243939-UserProfileBirthdayIndex.js
Labels: packages/backend

#376 2024.1.0-ioのhotfix
  package.json
  packages/backend/src/server/api/stream/channels/antenna.ts
  packages/backend/src/server/api/stream/channels/channel.ts
  packages/backend/src/server/api/stream/channels/global-timeline.ts
  packages/backend/src/server/api/stream/channels/hashtag.ts
  packages/backend/src/server/api/stream/channels/home-timeline.ts
  packages/backend/src/server/api/stream/channels/hybrid-timeline.ts
  packages/backend/src/server/api/stream/channels/local-timeline.ts
  packages/backend/src/server/api/stream/channels/role-timeline.ts
  packages/backend/src/server/api/stream/channels/user-list.ts
  packages/frontend/package.json
  packages/frontend/src/pizzax.ts
  packages/misskey-js/package.json
  pnpm-lock.yaml
Labels: packages/backend, packages/frontend, packages/misskey-js

#377 fix(pizzax): オブジェクトタイプのみdefaultsDeepが適用されるように
  packages/frontend/src/pizzax.ts
Labels: packages/frontend

#378 Bump up version to 2024.1.0-io.1a
  package.json
  packages/misskey-js/package.json
Labels: packages/misskey-js

#379 fix(timeline): `withReplies`と`withFiles`を両方設定できない問題を修正
  packages/backend/src/server/api/endpoints/notes/hybrid-timeline.ts
  packages/backend/src/server/api/endpoints/notes/local-timeline.ts
  packages/backend/src/server/api/endpoints/users/notes.ts
  packages/backend/src/server/api/stream/channels/global-timeline.ts
Labels: packages/backend

#380 Bump up version to 2024.1.0-io.1b
  package.json
  packages/misskey-js/package.json
Labels: packages/misskey-js

#381 Merge upstream
  locales/index.d.ts
  locales/ja-JP.yml
  locales/ja-KS.yml
  packages/backend/migration/1706081514499-reversi-6.js
  packages/backend/package.json
  packages/backend/src/core/ReversiService.ts
  packages/backend/src/core/entities/ReversiGameEntityService.ts
  packages/backend/src/models/ReversiGame.ts
  packages/backend/src/models/json-schema/reversi-game.ts
  packages/backend/src/queue/processors/CleanProcessorService.ts
  packages/backend/src/server/api/endpoints/reversi/games.ts
  packages/backend/src/server/api/endpoints/reversi/match.ts
  packages/frontend/assets/reversi/logo.png
  packages/frontend/package.json
  packages/frontend/src/components/MkHorizontalSwipe.vue
  packages/frontend/src/pages/reversi/game.setting.vue
  packages/frontend/src/pages/reversi/game.vue
  packages/frontend/src/pages/reversi/index.vue
  packages/frontend/src/pizzax.ts
  packages/misskey-bubble-game/package.json
  packages/misskey-js/generator/package.json
  packages/misskey-js/package.json
  packages/misskey-js/src/autogen/types.ts
  packages/misskey-reversi/package.json
  packages/sw/package.json
  pnpm-lock.yaml
Labels: packages/backend, packages/frontend, packages/sw, packages/misskey-js

#382 Bump up version to 2024.1.0-io.1c
  package.json
  packages/misskey-js/package.json
Labels: packages/misskey-js

#384 spec(User): モデレーターは非公開ロールを確認できるように
  locales/en-US.yml
  locales/index.d.ts
  locales/ja-JP.yml
  locales/ko-KR.yml
  packages/backend/src/core/entities/UserEntityService.ts
  packages/frontend/src/pages/user/home.vue
  packages/frontend/src/pages/user/raw.vue
Labels: packages/backend, packages/frontend

#385 Bump up version to 2024.1.0-io.1d
  package.json
  packages/misskey-js/package.json
Labels: packages/misskey-js

#387 Bump up version to 2024.1.0-io.1e
  package.json
  packages/misskey-js/package.json
Labels: packages/misskey-js

#388 fix(backend/notes/mentions): @mentionされていないノートがあなた宛てに載ってしまう問題を修正
  packages/backend/src/server/api/endpoints/notes/mentions.ts
Labels: packages/backend

#389 Bump up version to 2024.1.0-io.1f
  package.json
  packages/misskey-js/package.json
Labels: packages/misskey-js

#390 Merge upstream
  locales/de-DE.yml
  locales/en-US.yml
  locales/ja-KS.yml
  locales/zh-CN.yml
  locales/zh-TW.yml
  packages/frontend/src/components/MkMediaAudio.vue
  packages/frontend/src/components/MkMediaVideo.vue
  packages/misskey-bubble-game/package.json
  packages/misskey-js/package.json
  packages/misskey-reversi/package.json
  scripts/dev.mjs
Labels: packages/frontend, packages/misskey-js

#391 Bump up version to 2024.1.0-io.1g
  package.json
  packages/misskey-js/package.json
Labels: packages/misskey-js
