Repository MisskeyIO/misskey, pull requests merged in 2025-03, with the labels that each got.

#942 fix(backend/DriveService): variationが付いたMIMEを正常にパースできるように
  packages/backend/src/core/DriveService.ts
Labels: packages/backend

#936 enhance(sensitive-flag):センシティブフラグの機能の強化
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/migration/1739335129758-sensitiveFlag.js
  packages/backend/src/core/DriveService.ts
  packages/backend/src/core/entities/DriveFileEntityService.ts
  packages/backend/src/core/entities/NotificationEntityService.ts
  packages/backend/src/models/DriveFile.ts
  packages/backend/src/models/Notification.ts
  packages/backend/src/models/json-schema/drive-file.ts
  packages/backend/src/models/json-schema/notification.ts
  packages/backend/src/server/api/endpoints/drive/files/update.ts
  packages/backend/src/types.ts
  packages/backend/test/unit/NoteCreateService.ts
  packages/frontend/src/components/MkNotification.vue
  packages/frontend/src/const.ts
  packages/frontend/src/pages/drive.file.info.vue
  packages/frontend/src/pages/note.vue
  packages/misskey-js/src/autogen/types.ts
Labels: packages/backend, packages/backend:test, packages/frontend, packages/misskey-js

#947 MSKY-77
  locales/index.d.ts
  locales/ja-JP.yml
  packages/frontend/assets/sounds/flush.mp3
  packages/frontend/src/components/MkDateSeparatedList.vue
  packages/frontend/src/scripts/get-note-menu.ts
  packages/frontend/src/scripts/seasonal-events.ts
Labels: packages/frontend

#944 feat(timeline): バックグラウンドに行った際、{noteId}.jsonの取得を休止し、復帰した際に直近10件を取得するように
  packages/frontend/src/components/MkPagination.vue
  packages/frontend/src/components/MkTimeline.vue
Labels: packages/frontend

#948 perf(notification): タブがバックグラウンドにある場合、通知のリアルタイム描画を一時停止する
  packages/frontend/src/components/MkNotifications.vue
Labels: packages/frontend

#949 fix(typescript:S6544): MSKY-85
  packages/backend/src/server/api/stream/channel.ts
Labels: packages/backend

#950 update deps
  Dockerfile
  package.json
  packages/backend/package.json
  packages/backend/src/misc/FileWriterStream.ts
  packages/backend/src/misc/gen-x509-cert-from-jwk.ts
  packages/backend/src/server/oauth/OAuth2ProviderService.ts
  packages/backend/src/server/sso/SAMLIdentifyProviderService.ts
  packages/backend/test/e2e/timelines.ts
  packages/backend/test/e2e/users.ts
  packages/backend/test/utils.ts
  packages/frontend/@types/vue-gtag.d.ts
  packages/frontend/package.json
  packages/frontend/src/boot/common.ts
  packages/frontend/src/components/MkTrackingConsent.vue
  packages/frontend/src/pages/settings/privacy.vue
  packages/frontend/src/scripts/usage-report.ts
  packages/frontend/src/types/gtag.ts
  packages/misskey-bubble-game/package.json
  packages/misskey-js/generator/package.json
  packages/misskey-js/generator/src/generator.ts
  packages/misskey-js/package.json
  packages/misskey-reversi/package.json
  packages/sw/package.json
  pnpm-lock.yaml
Labels: packages/backend, packages/backend:test, packages/frontend, packages/sw, packages/misskey-js

#952 chore(deps): update esbuild package version
  packages/misskey-bubble-game/package.json
  packages/misskey-reversi/package.json
  packages/sw/package.json
Labels: packages/sw

#951 spec(Search/ES): マルチテナント対応
  packages/backend/src/core/SearchService.ts
Labels: packages/backend

#953 Bump up version to 2024.5.0-io.9
  package.json
  packages/misskey-js/package.json
Labels: packages/misskey-js

#955 spec(redirect): 絵文字のaliasのリダイレクトを302に変更
  packages/backend/src/server/FileServerService.ts
  packages/backend/src/server/ServerService.ts
Labels: packages/backend

#956 fix: MSKY-77
  packages/frontend/src/components/MkDateSeparatedList.vue
  packages/frontend/src/scripts/get-note-menu.ts
Labels: packages/frontend

#957 fix(MisskeyIO#956): MSKY-77
  packages/frontend/src/components/MkDateSeparatedList.vue
  packages/frontend/src/style.scss
Labels: packages/frontend

#960 enhance(timeline): タブがバックグラウンドから戻ってきた時、ノートの取得をまとめて行うように
  packages/frontend/src/components/MkTimeline.vue
Labels: packages/frontend

#961 Bump up version to 2024.5.0-io.9a
  package.json
  packages/misskey-js/package.json
Labels: packages/misskey-js

#962 Update host
  package.json
  packages/backend/src/misc/gen-x509-cert-from-jwk.ts
  packages/backend/src/server/api/endpoints/admin/sso/create.ts
  packages/backend/src/server/api/endpoints/admin/sso/update.ts
  packages/backend/src/server/sso/JWTIdentifyProviderService.ts
  packages/backend/src/server/sso/SAMLIdentifyProviderService.ts
  packages/frontend/src/components/MkTimeline.vue
  packages/misskey-js/package.json
Labels: packages/backend, packages/frontend, packages/misskey-js

#963 update deps
  packages/backend/package.json
  packages/frontend/package.json
  pnpm-lock.yaml
Labels: packages/backend, packages/frontend

#964 Bump up version to 2024.5.0-io.9b
  package.json
  packages/misskey-js/package.json
Labels: packages/misskey-js

#965 Update host
  package.json
  packages/backend/package.json
  packages/frontend/package.json
  packages/misskey-js/package.json
  pnpm-lock.yaml
Labels: packages/backend, packages/frontend, packages/misskey-js

#967 Bump up version to 2024.5.0-io.9c
  package.json
  packages/misskey-js/package.json
Labels: packages/misskey-js
