Repository MisskeyIO/misskey, pull requests merged in 2025-04, with the labels that each got.

#970 spec(monitoring): Instanaの導入
  package.json
  packages/backend/package.json
  pnpm-lock.yaml
Labels: packages/backend

#972 Bump up version to 2024.5.0-io.9d
  package.json
  packages/misskey-js/package.json
Labels: packages/misskey-js

#973 feat(frontend): headタグに任意のタグを追加できるようにする
  packages/backend/src/config.ts
  packages/backend/src/server/web/ClientServerService.ts
  packages/backend/src/server/web/views/base.pug
Labels: packages/backend

#974 Bump up version to 2024.5.0-io.9e
  package.json
  packages/misskey-js/package.json
Labels: packages/misskey-js

#976 feat(signup): 招待制モードを環境変数でも設定できるように
  packages/backend/src/core/entities/MetaEntityService.ts
  packages/backend/src/env.ts
  packages/backend/src/server/api/SignupApiService.ts
Labels: packages/backend

#977 spec(test): DragonflyDBのフラグ見直し
  .devcontainer/docker-compose.yml
  .github/workflows/test-backend.yml
  chart/templates/Deployment.yml
  docker-compose.local-db.yml
  docker-compose_example.yml
  packages/backend/test/docker-compose.yml
Labels: packages/backend, packages/backend:test

#971 feat(SSO): メールアドレスのnormalizeを設定可能にする
  packages/backend/migration/1745247339195-SSO-wantEmailAddressNormalized.js
  packages/backend/src/models/SingleSignOnServiceProvider.ts
  packages/backend/src/server/api/endpoints/admin/sso/create.ts
  packages/backend/src/server/api/endpoints/admin/sso/list.ts
  packages/backend/src/server/api/endpoints/admin/sso/update.ts
  packages/backend/src/server/sso/JWTIdentifyProviderService.ts
  packages/backend/src/server/sso/SAMLIdentifyProviderService.ts
  packages/frontend/src/pages/admin/security.vue
  packages/misskey-js/src/autogen/types.ts
Labels: packages/backend, packages/frontend, packages/misskey-js

#978 update deps
  package.json
  packages/backend/package.json
  packages/backend/src/GlobalModule.ts
  packages/backend/src/config.ts
  packages/backend/src/core/SearchService.ts
  packages/backend/src/di-symbols.ts
  packages/frontend/package.json
  packages/misskey-bubble-game/package.json
  packages/misskey-js/generator/package.json
  packages/misskey-js/package.json
  packages/misskey-reversi/package.json
  packages/sw/package.json
  pnpm-lock.yaml
Labels: packages/backend, packages/frontend, packages/sw, packages/misskey-js

#980 Bump up version to 2024.5.0-io.9f
  package.json
  packages/misskey-js/package.json
Labels: packages/misskey-js

#981 Update host
  .devcontainer/docker-compose.yml
  .github/workflows/api-misskey-js.yml
  .github/workflows/lint.yml
  .github/workflows/test-backend.yml
  .github/workflows/test-frontend.yml
  .github/workflows/test-misskey-js.yml
  .github/workflows/test-production.yml
  .github/workflows/validate-api-json.yml
  Dockerfile
  chart/templates/Deployment.yml
  docker-compose.local-db.yml
  docker-compose_example.yml
  package.json
  packages/backend/migration/1745247339195-SSO-wantEmailAddressNormalized.js
  packages/backend/package.json
  packages/backend/src/GlobalModule.ts
  packages/backend/src/config.ts
  packages/backend/src/core/SearchService.ts
  packages/backend/src/core/entities/MetaEntityService.ts
  packages/backend/src/di-symbols.ts
  packages/backend/src/env.ts
  packages/backend/src/models/SingleSignOnServiceProvider.ts
  packages/backend/src/server/api/SignupApiService.ts
  packages/backend/src/server/api/endpoints/admin/sso/create.ts
  packages/backend/src/server/api/endpoints/admin/sso/list.ts
  packages/backend/src/server/api/endpoints/admin/sso/update.ts
  packages/backend/src/server/sso/JWTIdentifyProviderService.ts
  packages/backend/src/server/sso/SAMLIdentifyProviderService.ts
  packages/backend/src/server/web/ClientServerService.ts
  packages/backend/src/server/web/views/base.pug
  packages/backend/test/docker-compose.yml
  packages/frontend/package.json
  packages/frontend/src/components/MkRoleBadgeIcon.vue
  packages/frontend/src/pages/admin/security.vue
  packages/frontend/src/pages/user/home.vue
  packages/misskey-bubble-game/package.json
  packages/misskey-js/generator/package.json
  packages/misskey-js/package.json
  packages/misskey-js/src/autogen/types.ts
  packages/misskey-reversi/package.json
  packages/sw/package.json
  pnpm-lock.yaml
Labels: packages/backend, packages/backend:test, packages/frontend, packages/sw, packages/misskey-js
