Repository MisskeyIO/misskey, pull requests merged in 2025-02, with the labels that each got.

#921 feat(frontend/admin/ads): 広告のIDを確認できるように
  packages/frontend/src/pages/admin/ads.vue
Labels: packages/frontend

#919 feat(account-migration): アカウント移行ログのフィルターを追加
  locales/en-US.yml
  locales/index.d.ts
  locales/ja-JP.yml
  locales/ko-KR.yml
  packages/backend/src/server/api/endpoints/admin/show-user-account-move-logs.ts
  packages/frontend/src/pages/admin/useraccountmovelog.vue
  packages/misskey-js/src/autogen/types.ts
Labels: packages/backend, packages/frontend, packages/misskey-js

#922 spec(media-proxy): urlをクエリではなくパラメータで指定するように
  packages/backend/src/core/entities/DriveFileEntityService.ts
  packages/backend/src/server/FileServerService.ts
  packages/backend/src/server/ServerService.ts
  packages/backend/src/server/web/UrlPreviewService.ts
  packages/frontend/src/scripts/media-proxy.ts
Labels: packages/backend, packages/frontend

#923 chore(database/log): DBへのクエリーログをverboseモードでのみ出力するように
  packages/backend/src/postgres.ts
Labels: packages/backend

#924 fix(frontend/gallery): 画像のスタイルが壊れている問題の修正
  packages/frontend/src/pages/gallery/post.vue
Labels: packages/frontend

#925 update deps
  package.json
  packages/backend/package.json
  packages/frontend/package.json
  packages/misskey-bubble-game/package.json
  packages/misskey-js/generator/package.json
  packages/misskey-js/package.json
  packages/misskey-reversi/package.json
  packages/sw/package.json
  pnpm-lock.yaml
Labels: packages/backend, packages/frontend, packages/sw, packages/misskey-js

#926 Bump up version to 2024.5.0-io.8
  package.json
  packages/misskey-js/package.json
Labels: packages/misskey-js

#928 cherry picked from upstream
  packages/frontend/src/account.ts
Labels: packages/frontend

#927 perf(frontend/tabler-icons): アイコンの読み込みに異常に時間がかかる問題の緩和
  packages/backend/src/server/web/views/base.pug
  packages/frontend/.storybook/preview-head.html
  packages/frontend/src/components/MkMediaAudio.vue
  packages/frontend/src/components/MkMediaVideo.vue
  packages/frontend/src/components/MkNote.vue
  packages/frontend/src/components/MkNoteDetailed.vue
  packages/frontend/src/pages/reversi/game.setting.vue
  packages/frontend/src/style.scss
Labels: packages/backend, packages/frontend

#929 fix(MisskeyIO#927): tabler-icons-filledのフォントを参照できない問題を修正
  packages/backend/src/server/web/views/base.pug
  packages/frontend/.storybook/preview-head.html
  packages/frontend/src/style.scss
  scripts/build-assets.mjs
Labels: packages/backend, packages/frontend

#931 spec(MisskeyIO#922): 'https://'を省略するように
  packages/backend/src/core/entities/DriveFileEntityService.ts
  packages/backend/src/misc/prelude/url.ts
  packages/backend/src/server/FileServerService.ts
  packages/backend/src/server/ServerService.ts
  packages/backend/src/server/web/UrlPreviewService.ts
  packages/frontend/src/scripts/media-proxy.ts
  packages/frontend/src/scripts/url.ts
Labels: packages/backend, packages/frontend

#932 Update host
  packages/backend/src/core/entities/DriveFileEntityService.ts
  packages/backend/src/misc/prelude/url.ts
  packages/backend/src/server/FileServerService.ts
  packages/backend/src/server/ServerService.ts
  packages/backend/src/server/web/UrlPreviewService.ts
  packages/frontend/src/scripts/media-proxy.ts
  packages/frontend/src/scripts/url.ts
Labels: packages/backend, packages/frontend

#933 spec(backend/fastify): set maxParamLength to 1024
  packages/backend/src/server/ServerService.ts
Labels: packages/backend

#934 Bump up version to 2024.5.0-io.8a
  package.json
  packages/misskey-js/package.json
Labels: packages/misskey-js
