Repository MisskeyIO/misskey, pull requests merged in 2025-01, with the labels that each got.

#868 fix(backend/ClientServerService): リモートユーザーをユーザーIDで照会できない問題を修正
  packages/backend/src/server/web/ClientServerService.ts
Labels: packages/backend

#869 fix(backend/ActivityPubServerService): apOrHtml Constraintが正しく評価されない問題を修正
  packages/backend/src/server/ActivityPubServerService.ts
Labels: packages/backend

#870 fix(backend/AccountMoveService): アカウント引っ越しの際にモデレーションノートに空の改行が足される問題を修正
  packages/backend/src/core/AccountMoveService.ts
Labels: packages/backend

#872 fix(backend/ClientServerService): 凍結されたユーザーをユーザーIDで照会できない問題を修正
  packages/backend/src/server/web/ClientServerService.ts
Labels: packages/backend

#871 Bump up version to 2024.5.0-io.5e
  package.json
  packages/misskey-js/package.json
Labels: packages/misskey-js

#874 Update host
  .devcontainer/docker-compose.yml
  .github/workflows/test-backend.yml
  chart/templates/Deployment.yml
  docker-compose.local-db.yml
  docker-compose_example.yml
  package.json
  packages/backend/src/core/AccountMoveService.ts
  packages/backend/src/core/UtilityService.ts
  packages/backend/src/server/ActivityPubServerService.ts
  packages/backend/src/server/api/endpoints/pages/create.ts
  packages/backend/src/server/api/endpoints/pages/update.ts
  packages/backend/src/server/web/ClientServerService.ts
  packages/backend/test/docker-compose.yml
  packages/frontend/src/pages/admin-user.vue
  packages/frontend/src/pages/admin/roles.role.vue
  packages/frontend/src/pages/page-editor/page-editor.vue
  packages/frontend/src/store.ts
  packages/misskey-js/package.json
Labels: packages/backend, packages/backend:test, packages/frontend, packages/misskey-js

#875 fix(MisskeyIO#872): 消し忘れ
  packages/backend/src/server/web/ClientServerService.ts
Labels: packages/backend

#876 Update host
  packages/backend/src/server/web/ClientServerService.ts
Labels: packages/backend

#877 fix(MisskeyIO#866): ユーザーメニューからロールの割り当て時メモを入力しないとキャンセル扱いされる問題を修正
  packages/frontend/src/scripts/get-user-menu.ts
Labels: packages/frontend

#878 fix(frontend/mobile): モバイルでkawaiiモードが適用されない問題を修正
  packages/frontend/src/ui/_common_/navbar-for-mobile.vue
Labels: packages/frontend

#879 spec(notes/create): 投稿されたnoteを返さないオプションを追加
  packages/backend/src/server/api/endpoints/notes/create.ts
  packages/backend/src/server/web/cli.js
  packages/frontend/src/components/MkPostForm.vue
  packages/frontend/src/pages/reversi/game.vue
  packages/frontend/src/scripts/get-note-menu.ts
  packages/misskey-js/src/autogen/types.ts
  packages/sw/src/sw.ts
Labels: packages/backend, packages/frontend, packages/sw, packages/misskey-js

#880 Sync charts one-at-a-time to reduce database contention and timeouts
  packages/backend/src/core/chart/ChartManagementService.ts
  packages/backend/src/queue/processors/CleanChartsProcessorService.ts
  packages/backend/src/queue/processors/ResyncChartsProcessorService.ts
  packages/backend/src/queue/processors/TickChartsProcessorService.ts
Labels: packages/backend

#881 feat(frontend/draft): 下書き機能の改良・強化
  locales/en-US.yml
  locales/index.d.ts
  locales/ja-JP.yml
  locales/ko-KR.yml
  packages/frontend/src/components/MkDraftsDialog.vue
  packages/frontend/src/components/MkPostForm.vue
  packages/frontend/src/pages/settings/general.vue
  packages/frontend/src/pages/settings/preferences-backups.vue
  packages/frontend/src/store.ts
  packages/frontend/src/types/note-draft-item.ts
Labels: packages/frontend

#882 Bump up version to 2024.5.0-io.6
  package.json
  packages/misskey-js/package.json
Labels: packages/misskey-js

#883 Update host
  locales/en-US.yml
  locales/index.d.ts
  locales/ja-JP.yml
  locales/ko-KR.yml
  package.json
  packages/backend/src/core/chart/ChartManagementService.ts
  packages/backend/src/queue/processors/CleanChartsProcessorService.ts
  packages/backend/src/queue/processors/ResyncChartsProcessorService.ts
  packages/backend/src/queue/processors/TickChartsProcessorService.ts
  packages/backend/src/server/api/endpoints/notes/create.ts
  packages/backend/src/server/web/cli.js
  packages/frontend/src/components/MkDraftsDialog.vue
  packages/frontend/src/components/MkPostForm.vue
  packages/frontend/src/pages/reversi/game.vue
  packages/frontend/src/pages/settings/general.vue
  packages/frontend/src/pages/settings/preferences-backups.vue
  packages/frontend/src/scripts/get-note-menu.ts
  packages/frontend/src/scripts/get-user-menu.ts
  packages/frontend/src/store.ts
  packages/frontend/src/types/note-draft-item.ts
  packages/frontend/src/ui/_common_/navbar-for-mobile.vue
  packages/misskey-js/package.json
  packages/misskey-js/src/autogen/types.ts
  packages/sw/src/sw.ts
Labels: packages/backend, packages/frontend, packages/sw, packages/misskey-js

#884 fix(frontend): 一定の条件でノート送信ボタンが意図しない見た目になる問題を修正
  packages/frontend/src/components/MkPostForm.vue
Labels: packages/frontend

#885 spec(MisskeyIO#884): 送信ボタンをアイコンのみの表示にするしきい値を変更
  packages/frontend/src/components/MkPostForm.vue
Labels: packages/frontend

#886 spec(MisskeyIO#884): 送信ボタンをアイコンのみの表示にするしきい値を変更 2
  packages/frontend/src/components/MkPostForm.vue
Labels: packages/frontend

#887 update deps
  package.json
  packages/backend/package.json
  packages/frontend/package.json
  packages/frontend/src/scripts/code-highlighter.ts
  packages/frontend/src/scripts/merge.ts
  packages/frontend/tsconfig.json
  packages/misskey-bubble-game/package.json
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/generator/package.json
  packages/misskey-js/package.json
  packages/misskey-js/src/streaming.ts
  packages/misskey-reversi/package.json
  packages/sw/package.json
  pnpm-lock.yaml
Labels: packages/backend, packages/frontend, packages/sw, packages/misskey-js

#888 Bump up version to 2024.5.0-io.6a
  package.json
  packages/misskey-js/package.json
Labels: packages/misskey-js

#889 update deps
  package.json
  packages/backend/package.json
  packages/backend/src/@types/redis-lock.d.ts
  packages/backend/src/core/AppLockService.ts
  packages/backend/src/core/CoreModule.ts
  packages/backend/src/core/QueueService.ts
  packages/backend/src/core/activitypub/ApInboxService.ts
  packages/backend/src/core/activitypub/models/ApNoteService.ts
  packages/backend/src/core/chart/charts/active-users.ts
  packages/backend/src/core/chart/charts/ap-request.ts
  packages/backend/src/core/chart/charts/drive.ts
  packages/backend/src/core/chart/charts/federation.ts
  packages/backend/src/core/chart/charts/instance.ts
  packages/backend/src/core/chart/charts/notes.ts
  packages/backend/src/core/chart/charts/per-user-drive.ts
  packages/backend/src/core/chart/charts/per-user-following.ts
  packages/backend/src/core/chart/charts/per-user-notes.ts
  packages/backend/src/core/chart/charts/per-user-pv.ts
  packages/backend/src/core/chart/charts/per-user-reactions.ts
  packages/backend/src/core/chart/charts/test-grouped.ts
  packages/backend/src/core/chart/charts/test-intersection.ts
  packages/backend/src/core/chart/charts/test-unique.ts
  packages/backend/src/core/chart/charts/test.ts
  packages/backend/src/core/chart/charts/users.ts
  packages/backend/src/misc/distributed-lock.ts
  packages/backend/test/unit/chart.ts
  packages/frontend/package.json
  packages/frontend/src/pages/sso.vue
  packages/frontend/src/ui/_common_/navbar-for-mobile.vue
  packages/misskey-bubble-game/package.json
  packages/misskey-js/generator/package.json
  packages/misskey-js/package.json
  packages/misskey-reversi/package.json
  packages/sw/package.json
  pnpm-lock.yaml
Labels: packages/backend, packages/backend:test, packages/frontend, packages/sw, packages/misskey-js

#891 update deps
  package.json
  packages/backend/package.json
  packages/backend/src/core/FileInfoService.ts
  packages/frontend/package.json
  packages/misskey-bubble-game/package.json
  packages/misskey-js/generator/package.json
  packages/misskey-js/package.json
  packages/misskey-reversi/package.json
  packages/sw/package.json
  pnpm-lock.yaml
Labels: packages/backend, packages/frontend, packages/sw, packages/misskey-js

#892 perf(frontend/css): MkNote 及び MkNotification に content-visibility を適用
  packages/frontend/src/components/MkNote.vue
  packages/frontend/src/components/MkNotification.vue
Labels: packages/frontend

#893 Bump up version to 2024.5.0-io.7
  package.json
  packages/misskey-js/package.json
Labels: packages/misskey-js

#895 fix(backend/object-storage): disable data integrity protections
  packages/backend/src/core/S3Service.ts
Labels: packages/backend

#896 Bump up version to 2024.5.0-io.7a
  package.json
  packages/misskey-js/package.json
Labels: packages/misskey-js

#897 Update host
  package.json
  packages/backend/src/core/S3Service.ts
  packages/misskey-js/package.json
Labels: packages/backend, packages/misskey-js

#898 fix(frontend/MkDraftsDialog): :art:
  packages/frontend/src/components/MkDraftsDialog.vue
Labels: packages/frontend

#899 Bump up version to 2024.5.0-io.7b
  package.json
  packages/misskey-js/package.json
Labels: packages/misskey-js

#900 Update host
  package.json
  packages/frontend/src/components/MkDraftsDialog.vue
  packages/misskey-js/package.json
Labels: packages/frontend, packages/misskey-js

#902 chore(frontend): 通報のカテゴリの調整・投稿フォームのガイドラインへの導線に利用規約も追加
  locales/en-US.yml
  locales/index.d.ts
  locales/ja-JP.yml
  locales/ko-KR.yml
  packages/frontend/src/components/MkPostForm.vue
Labels: packages/frontend

#903 fix(backend/SigninApiService): ログインのレートリミット時、意図したものと違うエラーメッセージが表示される可能性がある問題を修正
  packages/backend/src/server/api/SigninApiService.ts
  packages/frontend/src/os.ts
Labels: packages/backend, packages/frontend

#904 enhance(ux/frontend/MkPostForm): 予約投稿の時間を再度設定する時、以前設定した時間が表示されるように
  packages/frontend/src/components/MkPostForm.vue
Labels: packages/frontend

#905 spec(backend/queue/ScheduledNote): 予約時間が過ぎる前にチェックするように
  packages/backend/src/queue/processors/CheckMissingScheduledNoteProcessorService.ts
Labels: packages/backend

#906 spec(role/ScheduledNote): ロールで予約投稿の個数・予約の最大日数を制御できるように
  locales/en-US.yml
  locales/index.d.ts
  locales/ja-JP.yml
  locales/ko-KR.yml
  packages/backend/src/core/NoteCreateService.ts
  packages/backend/src/core/RoleService.ts
  packages/backend/src/models/json-schema/role.ts
  packages/backend/src/server/api/endpoints/notes/create.ts
  packages/frontend/src/components/MkPostForm.vue
  packages/frontend/src/const.ts
  packages/frontend/src/pages/admin/roles.editor.vue
  packages/frontend/src/pages/admin/roles.vue
  packages/misskey-js/src/autogen/types.ts
Labels: packages/backend, packages/frontend, packages/misskey-js

#907 perf(stream): 必要のない既読処理のメッセージが発生しないように
  packages/backend/src/server/api/stream/channels/antenna.ts
  packages/backend/src/server/api/stream/channels/channel.ts
  packages/backend/src/server/api/stream/channels/global-timeline.ts
  packages/backend/src/server/api/stream/channels/hashtag.ts
  packages/backend/src/server/api/stream/channels/home-timeline.ts
  packages/backend/src/server/api/stream/channels/hybrid-timeline.ts
  packages/backend/src/server/api/stream/channels/local-timeline.ts
  packages/backend/src/server/api/stream/channels/main.ts
  packages/backend/src/server/api/stream/channels/role-timeline.ts
  packages/backend/src/server/api/stream/channels/user-list.ts
  packages/frontend/src/scripts/use-note-capture.ts
Labels: packages/backend, packages/frontend

#908 Bump up version to 2024.5.0-io.7c
  package.json
  packages/misskey-js/package.json
Labels: packages/misskey-js

#909 Update host
  locales/en-US.yml
  locales/index.d.ts
  locales/ja-JP.yml
  locales/ko-KR.yml
  package.json
  packages/backend/src/core/NoteCreateService.ts
  packages/backend/src/core/RoleService.ts
  packages/backend/src/models/json-schema/role.ts
  packages/backend/src/queue/processors/CheckMissingScheduledNoteProcessorService.ts
  packages/backend/src/server/api/SigninApiService.ts
  packages/backend/src/server/api/endpoints/notes/create.ts
  packages/backend/src/server/api/stream/channels/antenna.ts
  packages/backend/src/server/api/stream/channels/channel.ts
  packages/backend/src/server/api/stream/channels/global-timeline.ts
  packages/backend/src/server/api/stream/channels/hashtag.ts
  packages/backend/src/server/api/stream/channels/home-timeline.ts
  packages/backend/src/server/api/stream/channels/hybrid-timeline.ts
  packages/backend/src/server/api/stream/channels/local-timeline.ts
  packages/backend/src/server/api/stream/channels/main.ts
  packages/backend/src/server/api/stream/channels/role-timeline.ts
  packages/backend/src/server/api/stream/channels/user-list.ts
  packages/frontend/src/components/MkPostForm.vue
  packages/frontend/src/const.ts
  packages/frontend/src/os.ts
  packages/frontend/src/pages/admin/roles.editor.vue
  packages/frontend/src/pages/admin/roles.vue
  packages/frontend/src/scripts/use-note-capture.ts
  packages/misskey-js/package.json
  packages/misskey-js/src/autogen/types.ts
Labels: packages/backend, packages/frontend, packages/misskey-js

#910 fix(MisskeyIO#907): サブスクライブコマンドは必要だった
  packages/frontend/src/scripts/use-note-capture.ts
Labels: packages/frontend

#911 Update host
  packages/frontend/src/scripts/use-note-capture.ts
Labels: packages/frontend

#913 spec(frontend/ad): 常に広告を表示するの既定値を有効に
  packages/frontend/src/store.ts
Labels: packages/frontend

#914 perf(frontend): contain-intrinsic-size のwidthの保存をやめる
  packages/frontend/src/components/MkNote.vue
  packages/frontend/src/components/MkNotification.vue
Labels: packages/frontend

#915 fix(frontend/MkAudioVisualizer): ブラウザではなく要素のリサイズイベントに反応するように
  packages/frontend/src/components/MkAudioVisualizer.vue
Labels: packages/frontend

#917 cherry picked from upstream
  CONTRIBUTING.md
  packages/backend/src/server/web/ClientServerService.ts
  packages/frontend/package.json
  packages/frontend/src/_dev_boot_.ts
  packages/frontend/src/boot/common.ts
  packages/frontend/src/index.html
  packages/frontend/src/pages/settings/mute-block.vue
  packages/frontend/src/pages/welcome.entrance.a.vue
  packages/frontend/vite.config.local-dev.ts
  packages/frontend/vite.config.ts
  scripts/dev.mjs
Labels: packages/backend, packages/frontend

#920 spec(backend/stream): モデレーターにも一般ユーザーと同じく通常の投稿はcdn経由で配信するように
  packages/backend/src/core/RoleService.ts
  packages/backend/src/core/entities/UserEntityService.ts
  packages/backend/src/server/api/StreamingApiServerService.ts
  packages/backend/src/server/api/stream/Connection.ts
  packages/backend/src/server/api/stream/channel.ts
  packages/backend/src/server/api/stream/channels/antenna.ts
  packages/backend/src/server/api/stream/channels/channel.ts
  packages/backend/src/server/api/stream/channels/global-timeline.ts
  packages/backend/src/server/api/stream/channels/home-timeline.ts
  packages/backend/src/server/api/stream/channels/hybrid-timeline.ts
  packages/backend/src/server/api/stream/channels/local-timeline.ts
  packages/backend/src/server/api/stream/channels/role-timeline.ts
  packages/backend/src/server/api/stream/channels/user-list.ts
  packages/frontend/src/components/MkTimeline.vue
Labels: packages/backend, packages/frontend
